[2022-02-21 15:29] niquewoodhouse opened #170 "How might we make room details more useful on mobile?"
Today, many actions like

- searching
- favouriting & un-favouriting
- muting
- inviting

are hidden in the room details views, somewhere different on Android and iOS.

**Tasks**

- [ ] [Android and iOS] Identify what actions people are looking to take on a room details view
- [ ] [Design] Proposal for both platforms

[2022-02-21 15:49] kittykat commented on #166
Assigning to Nique for initial user research, which should be followed up with a kickoff call with the team.

[2022-02-21 16:36] HarHarLinks commented on #172
This should probably be moved to element-meta?

[2022-02-21 16:42] HarHarLinks commented on #322
I agree with your sentiment, I want to add

This is indicated by a grey or red (depending on ping) dot on the threads button top right. However I think this is hardly visible, and there should be a popup in the main room, similar to the "scroll to first unread" message or so.

There is again a (hardly visible) dot beside unread threads. It would be better to highlight unread threads with a backgro

[2022-02-21 18:42] daniellekirkwood opened #171 "FTUE: First Tasks"
Define first tasks and the plan forwards

[2022-02-21 18:57] daniellekirkwood commented on #126
https://github.com/vector-im/element-android/issues/2396
https://github.com/vector-im/element-ios/issues/5161

[2022-02-21 19:01] daniellekirkwood commented on #128
https://github.com/vector-im/element-android/issues/5277
https://github.com/vector-im/element-ios/issues/5648

[2022-02-21 19:03] daniellekirkwood commented on #129
https://github.com/vector-im/element-android/issues/5278
https://github.com/vector-im/element-ios/issues/5649

[2022-02-21 19:06] daniellekirkwood commented on #130
https://github.com/vector-im/element-android/issues/5279
https://github.com/vector-im/element-ios/issues/5650

[2022-02-21 19:07] daniellekirkwood commented on #131
https://github.com/vector-im/element-android/issues/5280
https://github.com/vector-im/element-ios/issues/5651

[2022-02-21 19:08] daniellekirkwood commented on #132
https://github.com/vector-im/element-android/issues/5281
https://github.com/vector-im/element-ios/issues/5652

[2022-02-21 19:09] daniellekirkwood commented on #133
https://github.com/vector-im/element-android/issues/5282
https://github.com/vector-im/element-ios/issues/5653

[2022-02-21 19:10] daniellekirkwood commented on #134
https://github.com/vector-im/element-android/issues/5283
https://github.com/vector-im/element-ios/issues/5654

[2022-02-21 19:11] daniellekirkwood commented on #135
https://github.com/vector-im/element-android/issues/5284
https://github.com/vector-im/element-ios/issues/5655

[2022-02-21 19:16] daniellekirkwood commented on #146
### How this issue works...
- There's a parent WTF issue (link)
- Each task in this Epic has a [Meta issue](https://github.com/orgs/vector-im/projects/31/views/5) where discussions are captured and decisions are made.
- Each Meta task has a Platform specific issue in order to track the work on our project board and know the stage of each platform at any given time. [iOS is here](https://github.com

[2022-02-21 19:36] JokerGermany commented on #172
Oh didn't know element-meta, shall i open a issue there?

[2022-02-21 22:39] HarHarLinks commented on #172
@t3chguy please also move-combine or otherwise close the linked issues and their comments of the other 2 platforms.

[2022-02-21 23:10] squidink7 opened #695 "Un-vote on polls"
### Your use case

#### What would you like to do?
Add the ability to redact a vote and go back to being neutral, by deselecting the vote option

#### Why would you like to do it?
Sometimes a user would like to change their position on a poll, and theres already a method for changing your vote, but none for removing your vote altogether. Sometimes simple yes/no polls don't allow for a neutral vote

[2022-02-22 09:17] t3chguy commented on #172
They're your issues, you can close them

[2022-02-22 12:53] HarHarLinks commented on #172
..no, they're joker's?

---

copying comment from ios since that was closed without moving:

[2022-02-22 12:56] t3chguy commented on #172
Oh good point. Github emails left me confused. Either way will leave for the mobile teams/author to close.

[2022-02-22 13:12] pingiun commented on #705
I think this would be very nice to have, it solves a bunch of notification wants at once

[2022-02-22 14:21] clokep commented on #150
Note that the workaround for this isn't as dire as mentioned in the above, essentially if the event returned includes a relation, then a second request to `/relations` can be made on the root event. Hopefully the thread is short and pagination is then not needed.

[2022-02-22 18:23] ManDay commented on #2361
https://github.com/vector-im/element-android/issues/5305

[2022-02-23 10:35] daniellekirkwood opened #173 "Add Project Board Automation to the Element-Meta repo (LABELLED)"
Adding project board automation to the Element-Meta repo.

Copy the automation from the other repo's

| Web jobs | Android Jobs | iOS Jobs  |
| --- | --- | --- |
| - apply_Z-Labs_label:<br />- move_needs_info_issues:<br />- add_priority_design(...):<br />- add_product_issues:<br />- Delight_issues_to_board:<br />- move_voice-message_issues:<br />- move_threads_issues:<br />- move_message_bubbles_i

[2022-02-23 10:47] kittykat commented on #173
In `triage-labelled.yml`, the `move_needs_info_issues` bit won't work.
And in `triage-unlabelled.yml`, the `Move_Unabeled_Issue_On_Project_Board` should be excluded.

Otherwise, the other automation in those two files should be added

[2022-02-23 11:07] daniellekirkwood commented on #173
Added FTUE and WTF automations as the rest of the list was already in the Labelled file

[2022-02-23 11:14] daniellekirkwood opened #175 "Add project board automation to Element-Meta repo (unlabelled)"
Adding project board automation to the Element-Meta repo.

Copy the automation from the other repo's

| Web Jobs  | Android Jobs | iOS Jobs|
| --- | --- | --- |
| - Move_Unabeled_Issue_On_Project_Board:<br />- remove_Z-Labs_label: | - Move_Unabeled_Issue_On_Project_Board: <br />- remove_Z-Labs_label: | - Move_Unabeled_Issue_On_Project_Board: <br />- remove_Z-Labs_label: |

[2022-02-23 11:16] daniellekirkwood commented on #175
As per sister issue (#173 ), `Move_Unabeled_Issue_On_Project_Board` should not be copied over

https://github.com/vector-im/element-meta/issues/173#issuecomment-1048655131

[2022-02-23 11:17] daniellekirkwood commented on #175
Confirmed that the Remove-Z-Label automation exists already in Element-Meta and so am closing this issue with no action.

👀  @kittykat

[2022-02-23 11:17] #175 closed, assigned to daniellekirkwood

[2022-02-23 22:06] kittykat opened #177 "Compile screenshots of areas where the room/space preview sheet is used for Android and iOS"
The room and Space preview sheet is used in a number of different areas of the app in combination with other artefacts, such as headers. There are also minor differences between room and Space preview, such as different ways of showing member counts.

## Android

| Use case  | Screenshot |
| ------------- | ------------- |
| Private room preview.  | ![Screenshot 2022-02-28 at 10 24 53](https://use

[2022-02-23 22:36] kittykat opened #178 "Review IA flow on how user receives invites to a space and a room"
Converge on notifications, and how invites are shown

### Home / Left panel
#### Web
Space missing from list of invites:
![Screenshot from 2022-02-23 23-41-52](https://user-images.githubusercontent.com/51663/155429703-d1b5b13c-516e-4540-9d04-e52452c8b97f.png)

#### iOS
![ima_bad2a71](https://user-images.githubusercontent.com/51663/155427107-786eebc8-5da6-4deb-91e4-95aac1aacf95.png)

### DM
#### We

[2022-02-23 23:46] kittykat opened #179 "Reach parity on actions from the invite sheet"
The actions that a user can take from invite sheets should be the same across all three platforms.

In all cases, we should probably have "join", "reject & ignore user" and "reject".

- [ ] Link to Gaelle's DM designs
- [ ] Research how to display "ignore user" - this doesn't have to be in the existing button as this could be "scary" to users as it could make the app look insecure
- [ ] Proposal w

[2022-02-24 09:21] niquewoodhouse commented on #161
I think we should settle on `Media and Files` and change it on all 3 platforms - web, iOS and Android, to be the same.  If we don't want to use multiple words, I believe `Files` is ok on its own, which would only mean changing iOS and Android to match web.

The flows where the user interacts with the media and files are different on each platform, so need some more changes in iOS.  Currently, on i

[2022-02-24 09:48] kittykat opened #180 "Android: update landing location after user joins a space (this is home tab on iOS, could be Explore space or room tab on Android)"

[2022-02-24 09:58] kittykat opened #181 "Converge on suggested room preview in Spaces"
Android and iOS should have the same behaviour in terms of what to show when a suggested room for a Space is previewed from the Rooms tab.

- iOS: Click on suggested rooms navigates to room preview
![ima_3a9ccab](https://user-images.githubusercontent.com/51663/156764656-9ec8f2ac-0a8d-41e3-8275-2c013951e0a2.png)

- Android: no preview shown, only toast
![Screenshot_20220304-115333](https://user-ima

[2022-02-24 12:17] AnisTaluqdar opened #182 "Contact list"
**Is your feature request related to a problem? Please describe.**

I like to have a contact list in element. If I somehow leave the chat I lost the contact and it's not possible to remember every friends contact or matrix Id. Also people can create different id what actually their name so it's very difficult to find out old friend.

**Describe the solution you'd like**
Element can create a contac

[2022-02-24 13:48] kittykat opened #183 "Selected space highlighting in the left menu"

[2022-02-24 14:47] kittykat opened #184 "Converge on Explore rooms view"
Android and iOS should have the same view for Explore Rooms in a Space. They are different at the moment:

- iOS:
  ![ima_fe20532](https://user-images.githubusercontent.com/51663/157213891-3c19ebfa-20db-4d0d-b1c1-996c62c1b570.png)

- Android:
 ![Screenshot_20220308-095525](https://user-images.githubusercontent.com/51663/157213909-5b5810bb-9a00-440c-a37c-573a661b5cf9.png)

## Tasks

- [x] Design in

[2022-02-24 14:55] kittykat opened #185 "Space preview: long press on joined rooms and suggested rooms behaves differently and the string below is not helpful for both"

[2022-02-24 15:50] daniellekirkwood opened #186 "Notifications & Invitations"
When a user is invited to a room, how do we notify them? How do we use the badges to draw their attention but not be annoying (because they're unclear-able if you choose to take no action)

This was discussed today in Mobile Office Hours

[2022-02-24 16:23] daniellekirkwood opened #187 "Threads: Exit Beta"
There are items that we did not deliver as a part of the MVP for Threads that need to be delivered as soon after the MVP as possible.

[Project board](https://github.com/orgs/vector-im/projects/17/views/49)

## Proof of concepts

- \[x\] https://github.com/vector-im/element-web/issues/22980
- \[x\] https://github.com/vector-im/element-web/issues/22981

## Matrix Spec Changes

- \[x\] https://githu

[2022-02-25 00:08] shmerl commented on #466
Use case: 1:1 room, one user got locked out from the account, so they can't leave the room. There should be an ability to remove such room by the other user (who is also admin).

[2022-02-25 07:04] tanriol commented on #466
If you mean that in an 1:1 room any user should be able to delete the room without any traces, I'd be opposed to that. As a user, I don't want the person I'm chatting with to be able to completely remove our communication history.

[2022-02-25 07:06] shmerl commented on #466
It's kind of already possible for individual messages, including "Remove recent messages" for more bulk deletions. So not conceptually very different, just a bigger scale.

[2022-02-25 21:28] lampholder opened #188 "Support for questions in Element"
@t3chguy suggested [this](https://github.com/vector-im/element-web/issues/21207) might more at home here.

### Your use case

#### What would you like to do?
I would like to be able to ask a question in a room, and for:
- the question message to be the start of a thread,
- for all responses to that question to be captured in the thread and alert me when they appear

I would like to be able to see

[2022-02-26 00:36] SZemanek commented on #725
It would be super cool if this could integrate with contacts on the android version of element.

[2022-02-26 17:03] robintown opened #460 "Upgrading a room can orphan it from its space"
### Steps to reproduce

1. As User A, create a space
2. Add Room A to the space
3. Invite User B to the space and Room A
4. Make User B an admin in Room A, but not the space
5. As User B, upgrade Room A to Room B
6. Invite User C to the space and Room B

For context, while this is an uncommon scenario, it's already happened in the Element Corp. space.

### Outcome

#### What did you expect?

User

[2022-02-26 17:11] t3chguy commented on #460
This also can be abused, I could create NefariousRoom which claims to be an upgrade of MatrixHQ and now anyone joining the room would see it in the Matrix Community space wrongly

[2022-02-27 13:55] dpshelio opened #424 "Customisation of `@room` and nicknames handles per room"
### Your use case

#### What would you like to do?

Be able to alias `@room` or `@username` to something else, for example, to use a different language for room or a different nickname for a particular person.

#### Why would you like to do it?

I'm in various communities that English are not the main language. Therefore, having a setting that alias `room` to `sala` (one of the examples in Spanish

[2022-02-27 16:26] verymilan opened #1596 "Actively ask users to select a homeserver (and remember the choice)"
### Your use case

First things first, I wasn't sure where to post this, as it is meant for all clients. Most important may be desktop and mobile.
****
#### What would you like to do?
When registering and/or logging in, or better before both, the users should have to select their homeserver. The app should remember their choice even if the user logs out (and/or give them the choice again), on all

[2022-02-28 08:06] t3chguy commented on #1596
When logging out we wipe all storages as to not leave any traces for if the machine is shared.

When logging in you don't need to change servers, you can just enter your full MXID e.g `@bob:mozilla.im` and the server will be automagically set for you.

https://github.com/vector-im/element-meta/issues/1587 is an issue regarding providing a list of public servers to choose from which is related. You

[2022-02-28 08:23] verymilan commented on #1596
But this is not communicated clearly to users, as well as unhandy to type - at least from a touchscreen keyboard. At least in the german locale it just says "Username (Benutzername)". I think the english locale was "User name". Only advanced users would try to type their entire mxid into that field... if even, as it is not suggested, that this would work.

On web/desktop, the homeserver part is no

[2022-02-28 08:51] t3chguy commented on #424
`@room` is defined in the spec - https://spec.matrix.org/v1.2/client-server-api/#default-override-rules

[2022-02-28 15:34] #144 closed, assigned to daniellekirkwood

[2022-02-28 17:29] kittykat opened #189 "Converge on displaying empty list items and numbered lists"
[code]
^ should be displayed to users in the same way on all three platforms.

Currently, it's displayed like this:

* Web:
  ![Screenshot from 2022-02-28 17-12-22](https://user-images.githubusercontent.com/51663/156028615-8f36f493-3436-452f-8276-4211693d99b5.png)
* Android:
![Screenshot_20220228-170549](https://user-images.githubusercontent.com/51663/156028611-bcdabdcf-3561-4600-bf6c-f4ac07ca83f6

[2022-02-28 23:56] MadLittleMods commented on #1230
Related to https://github.com/vector-im/element-web/issues/7575 which would solve this issue if implemented.

[2022-03-01 11:49] Biep commented on #364
And also - one only has command over one's own computer.  Others may ignore any request to delete.  And back-ups and archives will typically not be adapted, so the deletion is inherently unsafe.

[2022-03-01 12:38] t3chguy commented on #319
https://github.com/vector-im/element-web/issues/5108 expressed desire in exposing some quick actions on the starred messages, e.g quote & forward.

[2022-03-01 12:38] t3chguy commented on #319
Related to https://github.com/vector-im/element-meta/issues/1762

[2022-03-01 14:46] daniellekirkwood commented on #132
Display name discussion:
- Leave the display name field blank when the user reaches this screen so that they know there's a difference and "have" to take action
- If the user clicks skip, fill display name with MXID

[2022-03-01 14:48] ara4n opened #646 "Users joining a private room within a space via "restricted" join rule have no way of accessing (encrypted) history"
### Steps to reproduce

1. Create a space
2. Create a private room in that space
3. Confirm that history visibility is set to shared
4. Set its join rules to be 'restricted' such that anyone in that space can join without an invite
5. Send some messages in the room
6. As a new user, join the space, and join the private room
7. Observe that you have no way of seeing the past history

### Outcome

#

[2022-03-01 15:21] mcg-matrix commented on #319
A comment above mentions "convert to todo / tasklist". Maybe "export" (to a file?) or "copy" (to clipboard?) could be a step in that direction.

If any of that will be possible to be done with "starred" messages, it would be cool if it also could be done with messages with other properties, e.g. carrying some other indicator/annotation (other than a "star"), or having a certain status (e.g. having

[2022-03-01 21:43] Thatoo commented on #1487
As explain [in here](https://matrix.org/blog/2021/12/22/the-mega-matrix-holiday-special-2021#native-matrix-videovoip-conferencing), Native Group Voice/Video Conferencing is coming and this is very exciting.

I would like to write some wishes I have for this native video conferencing system :
- allow whiteboard for participant to collaborate such as https://wbo.ophir.dev/?lang=en
- and post-ip boar

[2022-03-01 22:32] ara4n commented on #646
@BillCarsonFr points out that another option could be to store the keys for the rooms in the space in an online key backup, and then gossip the key for that backup to users who are invited to the space. This obviously defeats any post-compromise security, but given the whole point here is to share history enthusiastically with members of the space, PCS is pretty irrelevant for this use case.

[2022-03-02 05:25] damascene commented on #920
Any update on this issue. Still hard to delete multiple messages one by one. Please add select option.

[2022-03-02 05:41] BloodyIron commented on #1487
Can we PLEASE get Push To Talk?

[2022-03-02 07:15] rubo77 commented on #920
As a workaround use the spam-fighting bot:
https://github.com/matrix-org/mjolnir

[2022-03-02 09:08] dkasak commented on #1475
Ideally, granting an ability to speak would be a separate per-user permission instead of a power level. The user would then have the ability to speak in a room if *either* they had a sufficient power level *or* they were granted the discrete speaking permission. But this is complex to implement.

A more immediate solution could be to display a warning/confirmation modal when the unmute button is p

[2022-03-02 09:18] BillCarsonFr commented on #646
Rough description:

It would use the same API as for `room_keys/`
But it's scoped to a room (space), so if you are not member of the space a query to `/rooms/{spaceId}/room_keys/**` would 403 (forbidden).

A space admin would then create a new symetric backup version signed by him and store the `version`as state event in the space room. The signature part might be new for symetric(?) / Or the sign

[2022-03-02 09:21] dbkr commented on #1596
I think there are a couple of different bugs / features in here - probably worth splitting up if this is going to be actionable.

[2022-03-02 10:23] ara4n commented on #646
The only problem i can see with using online backup for this purpose is that it might freak out deployments who are allergic to online backup (given the fact it stores all their keys behind a single secret - e.g. Tchap).  For them, we could perhaps do the "send all keys for all rooms to everyone in the space" trick (option 2 above)... or just say "sorry, no history in these rooms unless your deplo

[2022-03-02 12:53] heyakyra commented on #1487
@BloodyIron that's been requested here: https://github.com/vector-im/matrix-video-chat/issues/202

[2022-03-02 13:47] daniellekirkwood opened #190 "Write a Chat Effects strategy document for Element"
Danielle to write a chat effects document.
Also to trial holding it in a docs folder in the Element-Meta repo and submitting it for PR review...

[2022-03-02 15:46] hex-m commented on #43
The upcoming Synapse 1.54 raises the default room version to 9. Newly created rooms on most servers will probably support knocking soon.

[2022-03-03 00:35] BloodyIron commented on #1487
Actually it was originally requested, by me, over 4 years ago, here : https://github.com/vector-im/element-web/issues/5993

Also, vector-im/element-web#202 was closed.

I have also brought up the request in vector-im/element-web#218 since that may be the latest issue on the matter.

[2022-03-03 12:21] bkil commented on #1340
Somewhat related:
* https://github.com/matrix-org/matrix-spec/issues/633
* https://github.com/matrix-org/matrix-spec/issues/830
* https://github.com/matrix-org/matrix-spec/issues/620

[2022-03-03 15:35] daniellekirkwood commented on #128
# Username info

### Spec references:
- https://spec.matrix.org/latest/#users
- https://spec.matrix.org/v1.2/appendices/#user-identifiers

### TL;DR
- User accounts have unique identifiers that are user IDs (or Matrix User IDs/ MXID).
- This ID is name-spaced to the homeserver like: @username:homeserver.org.
- The length of a userID including "@" must not exceed 255 characters.
- The username sect

[2022-03-04 10:00] novocaine opened #193 "Create a 'Signup' event on each platform"
We'd like to be able to create cohorts according to how recently users have signed up. Adding a Signup event would allow us to create D1 / D7 / D30 cohorts in Posthog:

<img width="531" alt="Screenshot 2022-03-04 at 09 57 36" src="https://user-images.githubusercontent.com/57377/156742130-ef7c72c4-44f0-4d5e-85d9-da9e4f51f01a.png">

This wouldn't be present for older users, but given the purpose is

[2022-03-04 11:38] kittykat opened #194 "iOS: Do not repeat suggested rooms which have been joined in the list of "Suggested rooms" at the bottom of the "Rooms" tab"

[2022-03-04 13:04] daniellekirkwood commented on #193
👀  @ouchadam & @pixlwave

[2022-03-04 13:04] #173 closed, assigned to daniellekirkwood

[2022-03-04 13:08] ouchadam commented on #193
if we're unable send events before the user opts in, I would imagine setting an account created timestamp on the user properties (and matrix account data) and inferring account creation from that, may need some custom logic in posthog to translate that timestamp to an analytics day

[2022-03-04 14:37] daniellekirkwood commented on #128
We should ask the keyboard **not** to capitalise the first letter of the username as capital letters are not allowed in usernames and it has been seen in usertesting to trip people up:
https://github.com/vector-im/element-ios/issues/5664
https://github.com/vector-im/element-android/issues/5099

[2022-03-04 16:42] HarHarLinks commented on #331
there is now a labs setting (added via https://github.com/matrix-org/matrix-react-sdk/pull/7815)
![image](https://user-images.githubusercontent.com/2803622/156803704-098f4b95-7419-4252-9ff3-1190dcafca32.png)

[2022-03-04 17:29] mail-nextcloud commented on #426
That's the problem (no good UI):
- only visible in lab web version (many people using app version instead)
- not really intuitive setting custom user status
- only visible in direct message user list (right hand side) and not within open direct chats or rooms (left hand side)

[2022-03-05 09:59] daniellekirkwood opened #195 "Load the thread list using server-side sorting and pagination"
We currently load the entire thread list without pagination and sort it on the client so that we can sort by last-replied-to.

Add support for that sort to the server query and load the list using pagination.

- [x] Server side: matrix-org/synapse#13921
- [x] Web: https://github.com/vector-im/element-web/issues/21877
- [x] iOS: https://github.com/vector-im/element-ios/issues/6059
- [x] Android: ht

[2022-03-05 10:19] daniellekirkwood commented on #322
@janogarcia FYI 👀

[2022-03-05 10:33] daniellekirkwood opened #196 "Threads: Improve Notifications for Exit Beta"
We need to close the gap to the notifications system depicted in the [figma](https://www.figma.com/file/T309ztx0sNyOOK6NKVLHsK/Threads?node-id=1935%3A254414) spec.

The [Exit Beta Milestone Notifications requirements are here](https://docs.google.com/document/d/1DYyDsf24OlrME3h-Hg-H2GvCrKkqZJrQwIbNWjqxB2A/edit?usp=sharing)

We have the following problems:

1. The clients do not sync the thread rea

[2022-03-05 10:45] daniellekirkwood opened #197 "Threads: Support Read receipts and read markers"
In order to make [improvements to the Notification](https://github.com/vector-im/element-meta/issues/196) solution in the [Fast Follow Epic](https://github.com/vector-im/element-meta/issues/187) we need read receipts and read markers in the Threads timeline...

[2022-03-05 11:11] IPv777 commented on #122
+1

[2022-03-06 09:06] arkitoure commented on #321
I've just made the move from Discord/Telegram for our org over to Matrix/Element and while doing customisations we just realised using gifs 'natively' is not available.

This has created a lot of frustration for our users as one would expect this day and age and are looking for a solution.

The Giphy bot solution is unintuitive as users simply don't know what to search for to get an exact match of

[2022-03-07 08:35] pixlwave commented on #193
Can we simply send the event if the analytics opt in comes as part of the registration flow, and otherwise we don't send one? Seems like it would be the simplest approach.

[2022-03-07 08:37] ThePharaohArt commented on #725
Hopefully allowing us to give nicknames or pet names to friends on the app to better distinguish them from other friends will arrive soon.

[2022-03-07 09:45] novocaine commented on #193
yep, updated the description

[2022-03-07 09:48] novocaine opened #198 "Measure sync performance on each platform"
We believe we have widespread performance issues associated with sync, motivating the integration of sliding sync.

We should measure:

* Time taken for an initial sync after app start / login
* Time taken for an incremental sync, including as a property the time since the last sync (so we can quantify how sync delay varies according to time since last update)

[2022-03-07 09:49] daniellekirkwood commented on #46
@nadonomy I think we can close this issue as Bubbles is now [tracked elsewhere](https://github.com/vector-im/element-meta/issues/72) and available on iOS and Android

[2022-03-07 10:18] daniellekirkwood commented on #141
Hi there! Thanks for your feedback.

Please note, you can toggle "Home" to show All Rooms, or just rooms that are not in a Space. If you set this toggle to "off" the Rooms that live in Favourites and Low Priority will only show in the Space they are a part of, as you requested.

<img width="248" alt="Screenshot 2022-03-07 at 10 15 43" src="https://user-images.githubusercontent.com/89144281/1570122

[2022-03-07 10:18] #141 closed, assigned to nobody

[2022-03-07 11:50] niquewoodhouse commented on #181
@gileluard would you mind confirming please if this always happens for suggested rooms in Spaces?

Because I remember you sharing something like this:
<img width="414" alt="image" src="https://user-images.githubusercontent.com/1587166/157029074-3d9d49a5-84b0-440f-bc7c-a8d506ab702a.png">

Thanks

[2022-03-07 12:19] gileluard commented on #181
@niquewoodhouse you're right. The room preview is inconsistent over the app. From Space Explore Rooms the bottom sheet is opened while the room preview screen is opened from the other parts of the app.

[2022-03-07 14:45] torinreilly commented on #321
@arkitoure There are definitely some security issues in my current solution. The way widgets are currently handled, there is no way to verify that the user of a widget is logged in to a specific Matrix server. In reality, there are only a handful of properties that are accessible to widgets (room name, username, etc) but any one of those could easily be faked in an http request so they really only

[2022-03-07 17:13] ara4n opened #697 "Ability to resend all queued messages in all rooms."
### Your use case

#### What would you like to do?

Queue up messages in multiple rooms when in bad connectivity (or offline) and then have the app send them all for me when it returns online.

#### Why would you like to do it?

Otherwise i have to remember what rooms i have unsent messages in (or go hunting for ! icons on rooms), which is very tedious and unwieldy.

#### How would you like to ach

[2022-03-07 17:59] lampholder commented on #188
The more I go about my daily Element life with this idea in my head the more I want it.
To ask somebody a question knowing they'll get it eventually and, when they do, their response will either interrupt me or leave an easy-to-find trail for when I am ready to pick it up again would be absolutely gamechanging. I realise **this is why I like to use DMs** when using DMs is otherwise an anti pattern

[2022-03-07 20:21] CoolGaM3r215 commented on #345
TOTP would be nice if added

[2022-03-07 23:17] AnisTaluqdar commented on #141
Waiting for other platform as well.

[2022-03-08 08:05] BillCarsonFr opened #199 "Revise and improve Key sharing and forwarding"
## Taking advantage of Key Sharing, Withheld code and Keybackup

The mechanism to recover from unable to decrypt errors or to access e2E history have greatly evolved since the begining of matrix.

 - The initial [Key Sharing mechanism](https://docs.google.com/document/d/1m4gQkcnJkxNuBmb5NoFCIadIY-DyqqNAS3lloE73BlQ/edit#)
- Introduction of [megolm server backup](https://github.com/uhoreg/matrix-doc

[2022-03-08 08:59] niquewoodhouse commented on #181
@gileluard can we make suggested rooms in Home act the same way as the room preview in Space Explore Rooms please?  This would resolve this issue and if we wanted to make all previews the same/similar, it would be a different issue.

[2022-03-08 09:23] gileluard commented on #181
@niquewoodhouse we definitively can!

[2022-03-08 09:45] Mikaela opened #200 "Tor / proxy support with authentication"
**Is your feature request related to a problem? Please describe.**

Currently Elements don't support using a proxy or Tor outside of Element Web flag without authentication.

**Describe the solution you'd like**

I would like Elements to support configuring a proxy (or in case of Element Android supporting connecting to OrBot directly) without obscure command line flags that don't support proxy au

[2022-03-08 10:05] daniellekirkwood commented on #46
Closing this issue as Android is delivered to prod and iOS is in labs with further issues elsewhere tracking it's delivery to users.

[2022-03-08 10:05] #46 closed

[2022-03-08 10:05] novocaine opened #201 "Inform labs threads users that their old threads have moved to the main timeline"
When we update the client to consider `m.thread` as the threads prefix, the user will see their old threads move into the main timeline.

We need to inform users that have labs enabled in threads that this has occurred.

[2022-03-08 10:18] kittykat opened #202 "Update suggested room preview to behave the same way in all cases"

[2022-03-08 10:22] kittykat commented on #181
Issue for development filed at https://github.com/vector-im/element-ios/issues/5771

[2022-03-08 10:22] #181 closed, assigned to nobody

[2022-03-08 12:25] daniellekirkwood opened #203 "Message Threading/ Threads"
**Threads is moving message replies out of the timeline in order to:**
- Declutter the main feed
- Keep topics together
- Make "catching up" easier

[See our MSC](https://github.com/matrix-org/matrix-doc/pull/3440)
We are focussing on a fast, lightweight solution to the problem.

## Principles

- Users shouldn't miss messages
- Threads should help to simplify a user's experience

## Design

- [Fig

[2022-03-08 12:50] daniellekirkwood opened #204 "FTUE: Error States and messages"
We're building the FTUE flow and need to provide clear errors to users.

**Complication:** Some errors are not given by the client, some are provided by the server.

This issue tracks errors, content, and design solutions for each case as we find them.

[2022-03-08 15:29] janogarcia commented on #322
@daniellekirkwood Yeah, the current implementation (MVP) is still missing a lot of the ideas we have for giving proper visibility to Thread updates.

[2022-03-08 23:07] mdsina commented on #744
any chance this issue will be fixed?
very annoyed by this red texts =\

[2022-03-09 11:18] kittykat opened #205 "Converge on Spaces menu in left panel"
Android and iOS should have the same view for Explore Rooms in a Space. They are different at the moment:

- Menu items should be the same
- Strings should be the same
- Capitalisation should be the same
- Icons should be the same

I personally like having the "invite" shortcut there as that's my most common action when testing.

- iOS:
  ![ima_d810d9a](https://user-images.githubusercontent.com/51

[2022-03-09 12:09] kittykat opened #206 "Converge on left panel string to add a Space"
Android and iOS should have the same strings for Spaces in the left menu. They are different at the moment:

- iOS:
  ![ima_70d1753](https://user-images.githubusercontent.com/51663/157439140-e74eebc4-9985-4319-af4a-038890c8e3be.png)
- Android:
  ![Screenshot_20220309-120130](https://user-images.githubusercontent.com/51663/157439144-56a29ad8-99dd-4723-9989-459c9799483a.png)

## Tasks

- [x] Design

[2022-03-09 12:30] niquewoodhouse commented on #178
After discussion with @kittykat the first step would be fixing the room invite on Android to be more about the room than the inviter.

![](https://user-images.githubusercontent.com/51663/155427287-872dcbf6-6122-4704-90f2-6432bb2c1cf8.png)

[2022-03-09 15:20] nhhollander commented on #744
@mdsina I've been tied up with work lately, but I might have some time tonight or later this week to revisit this.

[2022-03-10 10:14] niquewoodhouse commented on #206
The correct phrase is `Create space`.  Add space suggests you can add via invite or url or searching, which you can't.

[2022-03-10 18:13] daniellekirkwood commented on #146
### How delivery will work

* There are 3 phases: 2 Bookends (Start & End), and The Middle.

| Bookend:Start | Bookend: End | The Middle |
|---|---|---|
| Build Splash screens <br /> Build Use case screens | https://github.com/vector-im/element-meta/issues/126 <br /> https://github.com/vector-im/element-meta/issues/127 <br /> https://github.com/vector-im/element-meta/issues/128 <br /> https://gith

[2022-03-11 09:20] niquewoodhouse commented on #184
I took a look at the original designs and couldn't see any of the Android content at the top of explore, so in Figma they were always more similar to start with.

<img width="375" alt="Explore space_ iOS@2x" src="https://user-images.githubusercontent.com/1587166/157837168-5d774b37-e055-46c8-acb6-ec68d0ecbf35.png">

<img width="408" alt="Explore space_ And@2x" src="https://user-images.githubusercon

[2022-03-11 13:22] kittykat commented on #206
-> https://github.com/vector-im/element-android/issues/5516

[2022-03-11 13:22] #206 closed, assigned to kittykat

[2022-03-11 13:50] niquewoodhouse commented on #205
@fedrunov can I check please, I think you've already had an issue that amends

- Leave space to be Leave
- Explore rooms to use a different icon
- List members to be Members

Is that right? Thanks

[2022-03-11 14:24] fedrunov commented on #205
@niquewoodhouse yes, here it is:

https://github.com/vector-im/element-android/issues/5270

[2022-03-11 14:50] niquewoodhouse commented on #178
I think we should try to re-use the logic/content of the a space invite preview:

<img width="360" alt="re-use space preview@2x" src="https://user-images.githubusercontent.com/1587166/157890503-a4236590-9c2f-49ad-88c1-f34bf5dcc2ed.png">

Trying to use what we already have. [Figma](https://www.figma.com/file/IkbPpsC0XGCV745NZQcxc2/Untitled?node-id=2%3A3141)

[2022-03-11 15:01] niquewoodhouse commented on #205
**Android amends:**

- Alter ordering of list to be:
  - Invite people
  - Explore rooms
  - Members
  - Settings
  - Add rooms
  - Add space
  - Leave

Tasks

- Invite people at top of menu
- Order to be:
  - Invite people
  - Explore rooms
  - Members
  - Settings
  - Add room
  - Add space<sup>1</sup>
  - Leave

<sup>1</sup> I actually don't know what we're doing with Spaces in spaces on mobile

[2022-03-11 17:17] kittykat commented on #205
It's functional on Android so should be left in. iOS should probably be updated.

[2022-03-11 17:26] kittykat commented on #205
iOS updates: https://github.com/vector-im/element-ios/issues/5810
Android updates: https://github.com/vector-im/element-android/issues/5524

[2022-03-11 17:27] #205 closed, assigned to niquewoodhouse

[2022-03-11 18:52] tmonz commented on #106
that would be great. just had a couple of issues/delays, because some entities know me in one space under another nick, and then blocked my dm because they didn't know me by my 'standard' account name.

[2022-03-11 20:44] giomfo commented on #62
@daniellekirkwood FYI the change has been done in Element-Android (see https://github.com/vector-im/element-android/pull/5247). After thinking, no change is expected for Element-Web

We still have to plan the change in Element-iOS by considering https://github.com/vector-im/element-ios/issues/4986
My team was not able to work on it for the moment. I will remove the assignment on this ios issue to

[2022-03-12 21:19] erkinalp commented on #410
@t3chguy Client change is also required, as Labs ignores (the one using policy rooms) are implemented client-side.

[2022-03-13 20:15] verymilan commented on #323
Oh well, another important request from 2017 :(

[2022-03-14 14:50] kojid0 opened #207 "Make Message Bubble Layout the standard setting"
Message Bubbles were introduced a couple of months ago. I suggest making them the standard setting for new users since the Bubble Layout is the one where most people coming from WhatsApp, Telegram, Signal,... are used to.
Modern/IRC Layout is more for power users. They know how to change the layout.

[2022-03-15 10:05] tgr opened #2401 "Handle irc:// and ircs:// protocol"
### Your use case

It would be nice if Element Web could [register itself as a protocol handler](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler) for IRC protocols (`irc://` / `ircs://`). Many people use Element as an IRC client, and this would make opening IRC links less cumbersome for them. Since there is no way to tell whether the user prefers another client f

[2022-03-15 10:05] novocaine opened #208 "Track subspace usage"
We currently track the number of spaces a user is in via a [user property](https://github.com/matrix-org/matrix-analytics-events/blame/0101e4fd25ded5fb2cba8a9119cb061e36296369/schemas/UserProperties.json#L15).

We'd like to extend this to track the number of subspaces a user is in. We're interested in this to determine whether our users are finding subspaces useful and how well to support them in

[2022-03-15 10:11] gileluard commented on #208
We can do it with the actual implementation of the iOS SDK but I'm not sure we can reliably track the depth of a room if the user didn't join all the subspaces of the subspace path for a room. Need to be confirmed with Mickael I think.

[2022-03-15 11:50] ple1n opened #1638 "Count follow-up messages in a group as mentions"
### Your use case

#### What would you like to do?

Raise notification level of a group when others immediately sent messages after mine but didn't directly `@me`.

#### Why would you like to do it?

It avoids repeated checking a group, which has many members and hence a lower notification level, after I sent a message.

It increases the efficiency of communication. There're many dead groups for s

[2022-03-15 21:33] turt2live opened #1490 "config.json's `reportEvent.adminMessageMD` (soon `report_event.admin_message_md`) should be a server-supplied value"
It's related to the homeserver moreso than the instance - it's fine to keep it in our config for controlled environments, however it should probably be supplied by the well-known instead of via config.json by default.

[2022-03-15 21:33] turt2live commented on #1490
"soon `report_event.admin_message_md`" because of a WIP PR to enforce our agreed-upon convention of config settings.

[2022-03-16 15:16] turt2live commented on #1490
@dbkr which area of this is needing more info?

[2022-03-17 12:44] niquewoodhouse commented on #208
I think we'd want to if possible know if people are using sub spaces via the UI too.

So, in the sidebar, are people expanding a space and selecting sub spaces? I worry that just tracking if people are in subspaces, we're not finding out if they are using them on mobile as a feature.  They might have joined via web for example.

[2022-03-17 12:47] gileluard commented on #208
Agreed. I cannot help for this part as UI support for subspaces have not been implemented on iOS.

[2022-03-17 17:04] f35f0ef9d0e827dae86552d3899f78fc commented on #2528
I ran into this behavior yet a second time. I got it to go away and here is how. I did two things, and I'm unfortunately not certain if both are required.

1. Log out of Element (yes, again, even though this is what caused the problem in the first place).
2. Close the Element program completely.
3. Re-open and log in.
4. Perform device trust with another trusted device. I chose another desktop ins

[2022-03-17 17:45] sebastian-peter commented on #1563
I experience the exact same behavior as @JonathanReifer stated, any news on this? `Members only (since the point in time of selecting this option)` works as if `Members only (since they were invited)` had been selected on E2EE rooms

[2022-03-18 09:28] noantiq opened #334 "Add room permission to limit event to thread replies"
### Your use case

#### What would you like to do?

Since we have the ability to create threads now, it would be really neat to have dedicated thread rooms in which you are only allowed to reply in an existing thread or open a new one.

#### Why would you like to do it?

This would allow for somewhat forum style rooms and could be utilized for job postings, community sell and buy rooms or similar

[2022-03-18 10:58] audunmb commented on #2858
We've recently converted from Slack to Element, and this is a feature that we're missing, so just a vote to fix this.

[2022-03-18 12:46] marco-trovato opened #374 "Select server (too cetralised on matrix.org is causing slowdowns)"
### Your use case

#### What would you like to do?

#### Why would you like to do it?

#### How would you like to achieve it?

### Have you considered any alternatives?

**Problem:**
The main matrix.org server is currently too slow and overloaded.
This is another form of "centralisation".

**Proposed solution:**
When creating a new account, please let the user chose another server from a dropdown

[2022-03-18 13:22] nu111 opened #324 "Mute room for a set amount of time"
### Your use case

#### What would you like to do?
I would like to make a room silent for some amount of time (30 minutes, 1 hour, ecc..)

#### Why would you like to do it?
I use Element with my colleagues at work, we have a generic room where sometimes it's just "for the LOL".
Some times, I end up being annoyed by all the notifies from that room, but I can't silence the all the notifications from

[2022-03-18 13:37] ple1n commented on #324
*silence

Emmm

[2022-03-18 14:21] nu111 commented on #324
Sorry for my bad english, I hope that now is fixed ❤

[2022-03-18 15:52] SimonBrandner commented on #324
Related: https://github.com/vector-im/element-meta/issues/1223

[2022-03-18 15:52] ShadowJonathan opened #325 "User Avatar History"
### Your use case

#### What would you like to do?

Be able to view previous user avatars easily.

#### Why would you like to do it?

Telegram has this feature, and it's useful when trying to recognise users with high-churn profile changes, such as avatars.

### Have you considered any alternatives?

_No response_

### Additional context

There is a high privacy hazard associated with this, even t

[2022-03-18 20:39] opusforlife2 opened #1916 "Preview of uploaded BMP image doesn't work (image opens fine)"
### Steps to reproduce

1. Upload an image to Element-Web in the BMP image format.
2. Look at the timeline after the upload is done.
3. Open the image.
4. Go back to the timeline.

### Outcome

#### What did you expect?

To see a preview of the image in the timeline.

#### What happened instead?

There is just a grey-filled box. Opening the image works fine. I can see what I've uploaded. But the t

[2022-03-19 07:52] SimonBrandner commented on #1916
I don't think I can repro :/

[2022-03-19 16:17] aaronraimist commented on #1916
I can reproduce. When https://people.math.sc.edu/Burkardt/data/bmp/blackbuck.bmp is sent in an unencrypted room, I see:
<img width="675" src="https://user-images.githubusercontent.com/5855073/159129163-bbee9600-f30f-4f76-9e5d-1882378be798.png">
in the timeline. It works fine in the lightbox.

[2022-03-19 19:00] MightyCreak commented on #2858
@audunmb a workaround is to use the commands `/converttodm` or `/converttoroom` (in the web or desktop app) to convert the room from one to the other, but this is account-specific so the other users in the room will continue to see it in the wrong category until they run the command themselves.

[2022-03-20 12:06] notramo commented on #374
It won't happen. Element was and will always be designed to promote centralisation.
If you don't want to use overloaded servers, promote alternative clients, like [SchildiChat](https://schildi.chat/), [Syphon](https://syphon.org), or [FluffyChat](https://fluffychat.im/), which make it easier to select alternative servers. This would also increase client app diversity.

[2022-03-20 12:13] marco-trovato commented on #374
Very open source.

[2022-03-20 12:14] notramo commented on #374
It's open source, for example SchildiChat is an Element for with these problems fixed.

[2022-03-20 21:27] BurnyBoi opened #209 "Room permission for creating "top-level" messages; those without it can only thread reply"
**Describe the solution you'd like**
A room permission that makes it so only certain members can create top-level messages in the room, and those without it are only allowed to reply via threads (or a reaction). This would allow a forced thread structure for rooms focusing on highlighting specific content, and allowing only replies to that content.

**Describe alternatives you've considered**
This

[2022-03-21 10:08] t3chguy commented on #2401
Element has no concept of bridges, and specifically hardcoding bridges for a bunch of networks into an app with no concept of bridges (given its a generic Matrix client, not a matrix.org-specific client) is not great. Not all servers are federating and thus may not even be able to make use of the matrix.org set of bridges.

[2022-03-21 10:13] t3chguy commented on #1638
For consistency between clients this should be specced behaviour, currently Element adheres to the push rules as per the Matrix spec for this entirely.

[2022-03-21 10:56] tgr commented on #2401
I imagine the client would consult its homeserver in some way, e.g. the homeserver would provide a map of URI prefix (scheme + authority) to Matrix room name prefix, the client could use it to provide protocol registration options to the user, and in case of the protocol being invoked it would use the prefix mapping to open the appropriate Matrix room.

[2022-03-21 11:07] t3chguy commented on #2401
Then this would need spec support.

[2022-03-21 14:16] kittykat commented on #189
Proposal for feedback:

1. Lists with single items should be displayed literally, e.g.
  * `2021. Oct 12` should be displayed just like that rather than as `21. Oct 12` (Web), `1. Oct 12` (Android) or `Oct 12` (iOS)
  * `+ foo` should display literally, same as `\+ foo`
  * `* foo` should display literally, same as `\* foo`
  * `- foo` should display literally, same as `\- foo`
2. `\123.` should d

[2022-03-21 14:36] dkasak commented on #189
The above proposal sounds good to me and it encompasses all problematic cases which I can think of right now.

Note: When thinking about this, we need to take care to separate the case of a *single message* with a single list of N items and *N messages* each containing a single list with a *single* item. Both of these cases are currently rendered the same so they are sometimes mistaken as the same

[2022-03-21 17:19] clokep commented on #152
From some discussion elsewhere -- there aren't any APIs in Matrix where a client can modify the sort order of the results (except reversing the result via backwards/forwards flags). This makes one wonder if it would be better to provide a separate API for this.

Technically this may be interesting as the server will need to track `room ID` -> `thread roots` -> `latest event in thread`. Hopefully t

[2022-03-21 17:25] kittykat opened #210 "Test cross-organisation automation for PRs and issues"
We want to raise visibility of PRs and issues in the matrix-org organisation on GitHub for designers and product managers to action so that PRs are progressed quickly and issues are unblocked.

When we tried to add [automation to matrix-org/matrix-react-sdk](https://github.com/matrix-org/matrix-react-sdk/blob/develop/.github/workflows/triage-move-review-requests.yml), we found that the graphQL API

[2022-03-21 22:41] robintown commented on #210
I think we should be able to just sidestep the GraphQL restrictions by using the REST API instead, unless I'm misunderstanding something?

[2022-03-21 23:01] robintown commented on #210
Alternatively, we can use a [repository dispatch](https://github.com/peter-evans/repository-dispatch) to trigger an action in this repo from matrix-org/matrix-react-sdk.

[2022-03-22 08:01] t3chguy commented on #1916
For me it just gets stuck on the blurhash

![image](https://user-images.githubusercontent.com/2403652/159434460-38d08e9a-4676-478d-949e-389a96d88bd4.png)

But fundamentally this is Synapse not being able to thumbnail this https://matrix-client.matrix.org/_matrix/media/r0/thumbnail/matrix.org/UOupUIqZCoSRCUJTmNLthUgX?width=800&height=600&method=scale

[2022-03-22 11:35] kittykat commented on #210
The REST API doesn't support Beta projects. It feels like GitHub are pushing all new features to use GraphQL. E.g. projectNext has fields instead of columns.

This looks promising!

[2022-03-22 12:48] ara4n opened #264 "Ability to get notified more explicitly about responses in a given thread"
### Your use case

#### What would you like to do?

I want to know when a specific thread gets a response.

#### Why would you like to do it?

Currently if someone replies to me, i'll get notified when they reply.  Now, if someone answers me in a thread, I have no way to whether the notification of the new message in the room is in a thread i care about (i.e. the one where i was talking) or one of

[2022-03-22 12:51] t3chguy commented on #264
This should be doable with current push rules

[2022-03-23 07:36] Abastro commented on #529
As this is not going to be fixed seeing current states, guess I should consider moving to other matrix client.
EDIT: just ditched matrix for good, it simply does not work.

[2022-03-23 10:15] lampholder commented on #2593
Does this issue have the right labels?

I'm worried that the current set will result in its not getting picked up in our UX improvement loops:
![image](https://user-images.githubusercontent.com/1922197/159675696-71332245-639c-422e-8f74-406bae3e2aa4.png)

Specifically, it's not tagged as a bug, it's tagged as occasional (but over federation at least I would call it _frequent_), and it's tagged with

[2022-03-23 10:17] t3chguy commented on #2593
Blindly hiding the underlying error with one which doesn't mean anything specific is trivial, having servers send more specific error codes which clients can rely on an specifically cater to requires Spec & Synapse work.

[2022-03-23 13:01] ShadowJonathan commented on #1366
23 March; https://github.com/vector-im/element-ios/issues/4799 has been closed, but in the meantime, the MSC switched from using `shared_rooms` to `mutual_rooms`, so this has to be changed in the JS SDK before https://github.com/matrix-org/matrix-react-sdk/pull/4897 can be refactored, re-opened or pushed forward.

[2022-03-24 08:40] audunmb commented on #106
I use Element both for work and private communication, and really need this. I guess as matrix.org/Element picks up more use, this would be even more of an issue.

[2022-03-27 09:21] ornanovitch commented on #1548
The same popular request has been made more recently [for element-android](https://github.com/vector-im/element-android/issues/3036), maybe it should be considered as a valid issue for element-meta?

Anyway, even if it wasn't set as the default behavior, it would be a great improvement.

[2022-03-27 23:12] robintown commented on #210
Closing since we've determined that this is [not possible at the moment](https://github.com/github/feedback/discussions/6212), regardless of where the action runs.

[2022-03-27 23:12] #210 closed, assigned to robintown

[2022-03-28 10:07] ple1n commented on #334
It resembles telegram channel too

[2022-03-28 15:35] daniellekirkwood commented on #209
I like this idea, @janogarcia what do you think?

This would be great for use cases such as onboarding new people to a company, or general updates from teams...

[2022-03-28 16:56] Mikaela commented on #43
@daniellekirkwood What is the missing information? The spec? https://spec.matrix.org/latest/client-server-api/#knocking-on-rooms

[2022-03-29 05:15] gravax commented on #920
Still no update... Deleting 86 messages from 86 fake spamming accounts that all arrived within 3 minutes of each other this morning... That's 5 clicks for each (remove recent messages, ban)...

[2022-03-29 08:24] kittykat opened #211 "Converge on Explore rooms view for Spaces"

[2022-03-29 08:30] kittykat commented on #184
Development issue is at https://github.com/vector-im/element-android/issues/5658

[2022-03-29 08:30] #184 closed, assigned to kittykat

[2022-03-29 08:30] #167 closed, assigned to kittykat

[2022-03-29 11:36] ouchadam opened #212 "Mobile triage process feedback"
An issue to track our thoughts/queries on triage process

From the Android perspective https://github.com/vector-im/element-android/projects/4

#### Board
- Should the triage board be removed when another project has been added to an issue?
- The `Triaged` column is never cleared, making the github project very slow! should we remove the triage project after applying the labels?
- Do we need the `

[2022-03-29 19:14] janogarcia commented on #209
@daniellekirkwood I'd say we'd need first to have some strong use cases, backed by a reasonable amount of requests, and then uncover/understand what they are really trying to achieve (via UX research) before exploring this further, as it has many implications.

[2022-03-30 09:55] daniellekirkwood commented on #61
## Suggestion to consider

- Add Threads to Permissions in some rooms so that users can only post in threads, not in timeline.
- https://github.com/vector-im/element-meta/issues/209#issuecomment-1082273403

[2022-03-30 13:56] novocaine opened #213 "Create a Threads Beta FAQ page on element.io"
Proofread
https://docs.google.com/document/d/1IJUH-cx3ZwEUGJaTt-aHZU5e_MhXBx_eNa4ejOEYgJo/edit#heading=h.5aa56y948vua then get it uploaded to element.io somewhere so the apps can link to it

[2022-03-30 14:40] alittlebitofit commented on #920
@gravax damn thats so annoying and such a waste of time

developers please make this a highest priority already, for all platforms
Android, Web, etc

1-multiselect
2-multicopy
3-multidelete
4-multishare
5-other things that can be done with multi feature that i dont recall as of now

thank you

[2022-03-30 16:07] turt2live opened #1495 "Typing notifications for threads"
### Your use case

#### What would you like to do?

Receive typing notifications in a thread.

#### Why would you like to do it?

So I know when someone is preparing a message, indicating that I might want to hold off on reply due to further context coming down the line.

#### How would you like to achieve it?

[MSC3038: Typed Typing Notifications](https://github.com/matrix-org/matrix-spec-proposa

[2022-03-31 10:51] crti commented on #364
I would love to invite contacts to the Matrix/Element world (from Signal or WA) but features like disappearing messages after a custom timeframe are essential IMHO. Haven't understood much about the difference server and group member apps and a false "sense of security", I think even if working only on the member apps this would be important. Hope in the next months an introduction will be possibl

[2022-03-31 12:54] kittykat commented on #908
The foundations for how we could do filtering are being set up as part of [IA 2 search experience](https://github.com/vector-im/element-web/issues/21121)

[2022-03-31 17:51] nadonomy commented on #16
@kittykat @gileluard can we close this now?

[2022-03-31 21:02] #16 closed, assigned to niquewoodhouse, nadonomy, gileluard

[2022-04-01 09:33] novocaine opened #214 "Create Posthog dashboards for threads for all clients"
We have web dashboards, but need to create the same for the mobile clients.

[2022-04-01 12:33] thawn commented on #646
At the very least, the option "let users see past history" should only be available on setups and rooms where this setting has an effect.

[2022-04-02 06:18] Mikaela commented on #82
I hope Element and Matrix blogs/social media/marketing constantly discussing interoperability, WhatsApp and Telegram, means this feature is going to move forwards as from these three only Matrix/Element has no stable way of automatically removing messages.

Currently I can simply enable that in either Telegram or WhatsApp and I have no idea whether the current bridges support that and the only sim

[2022-04-02 12:45] kirteeprajapati commented on #1495
Hello, i am an Outreachy applicant,  wanna work on this issue can you please assign me this. Thankyou

[2022-04-02 12:47] t3chguy commented on #1495
This issue requires spec work, it is not trivial.

[2022-04-03 09:41] AnisTaluqdar opened #215 "KaiOS Client"
I like to having a client for Kaios. In kaios whatsapp, Google duo is already supported but there have no open-source messaging app. And Kaios 3 is fully capable to support.

[2022-04-03 20:31] sjthiessen commented on #533
Hey there! I'd like to add the following to this list
- [ ] add support for non-anonymous polls

[2022-04-03 21:11] kittykat commented on #169
@fedrunov I think we can close this issue now?

[2022-04-04 19:23] shadowcpy commented on #1469
Any updates on this?

[2022-04-05 07:20] germain-gg opened #1000 "Accepting an invite where the other party has already left"
### Your use case

#### What would you like to do?

Improving the invite screen when the other party has already left the room when the recipient accepts

#### Why would you like to do it?

It is currently a bit off putting, clicking "accept invite" gives a modal saying "The person who invited you has already left." and does not dismiss the invite

#### How would you like to achieve it?

To automa

[2022-04-05 08:02] EECvision commented on #1000
Hi @gsouquet, can you assign this issue to me?

[2022-04-05 13:31] 3nprob commented on #380
reminder that this is sill relevant

[2022-04-05 23:19] Raymondss12 opened #328 "Delivery Status"
### Your use case

#### What would you like to do?
We need to see if an outgoing message has been delivered
#### Why would you like to do it?
It would be nice to see if your message is delivered
#### How would you like to achieve it?

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-04-06 00:02] robintown commented on #328
Send status is indicated by a check to the right of a message:

![Screenshot 2022-04-05 at 20-01-28 Element Test room](https://user-images.githubusercontent.com/48614497/161870283-264147d0-40f5-4ee9-b0d4-950a96f5decd.png)

[2022-04-06 00:38] Raymondss12 commented on #328
That shows that your message has been sent. It doesn't show if it has been delivered successfully. E.g Whatsapp shows double checkmark when message is delivered.

[2022-04-06 13:04] pherwaniharsh commented on #326
I'm also not able to see the total number of interacted votes, let alone the selected votes for the options within a poll itself. Whether or not I actually vote in it myself or not, cant see any data on it, ever.

[2022-04-06 13:48] turt2live commented on #326
@pherwaniharsh that would be a different, new, issue.

[2022-04-06 14:25] theoryshaw opened #404 "Confusing error message when widget content cannot be reached"
### Steps to reproduce

In this room. https://matrix.to/#/#101_W_33rd_St:matrix.org

I added an ethercalc spreadsheet, and it works for a couple days, and then indicates it can't be embeddable anymore.

This has happened a couple times,

![image](https://user-images.githubusercontent.com/507113/161996642-d76c91d2-b81b-4ad1-8a91-9763a78fbac7.png)

### Outcome

Would expect the ethercalc embed to be

[2022-04-07 08:42] kittykat commented on #178
I'm going to close this issue as the DM flow has been reviewed and updated/in progress. The other two flows can be descoped to FTUE

[2022-04-07 08:42] #178 closed, assigned to nobody

[2022-04-07 09:13] kittykat commented on #185
Can't reproduce any more

[2022-04-07 09:13] #185 closed, assigned to nobody

[2022-04-07 12:13] pherwaniharsh opened #327 "Allow users to vote on a poll in a room where they can't send messages"
### Steps to reproduce

1. Where are you starting? What can you see?

I have a space in which i have a polls room, that only i can send a Poll/Messages in (as an admin). Upon making a poll, The poll shows up fine, but takes in no input from the members, even if they do vote in. It takes only takes my vote (must be because of the restrictions i put on sending messages in the room? I doubt it since

[2022-04-08 08:19] t3chguy commented on #404
Yes

I cannot see these logs, could you reproduce and retry sending please

[2022-04-08 08:27] t3chguy commented on #328
Delivery to what though? From your server to their server? To one of their devices? To all of their devices?

[2022-04-08 08:50] t3chguy commented on #1000
We don't get state updates for rooms we are invited to, so this sounds like a spec/server issue rather than a client one?

[2022-04-08 09:05] daniellekirkwood commented on #59
Happy that we close this issue as all platforms have implemented analytics tracking and we are able to see the data in posthog.

[2022-04-08 09:05] #59 closed

[2022-04-08 15:11] Raymondss12 commented on #328
Well this depends whether it's for direct messages or rooms. For direct messages you should be able to see when the message you've sent has been delivered on the other user's phone. Basically the double checkmark concept in WhatsApp and signal. For rooms you could have it when you long press the message you sent you can see all users the message has been delivered to.

[2022-04-08 15:12] theoryshaw commented on #404
Hi, more than willing, but just not sure how to export out logs.  Is there a 101 somewhere on how to do this?

Also, fyi, the error message changed to this now...

![image](https://user-images.githubusercontent.com/507113/162471190-037a8e8e-5fd6-4f13-851b-ae5199a8efca.png)

[2022-04-08 15:13] t3chguy commented on #328
Right, but in Matrix a message has multiple levels of delivery

You send a message
-> Delivered to your server
-> Delivered to the recipient's server
-> Delivered to a recipient's device

The Matrix spec only lets us know when its delivered to your server, nothing more

[2022-04-08 15:26] theoryshaw commented on #404
I think I figured it out. The following is the .tar file.
https://www.dropbox.com/s/enbx6bfa39qvcct/rageshake.tar?dl=0

Let me know if this is what you're looking for.

[2022-04-08 15:56] Iitar opened #329 "Ring a user's devices without calling them"
### Your use case

#### What would you like to do?
Play the audible signal on the other side at the contact being called.

#### Why would you like to do it?
Attract the attention of a contact or search for a mobile device nearby.

#### How would you like to achieve it?
Implementation at client and protocol level. Contact context menu or pop-up button: Attract attention.

If an incoming packet with

[2022-04-08 16:04] hughns commented on #135
@daniellekirkwood can I suggest that the "sign out all devices" option from https://github.com/matrix-org/matrix-react-sdk/pull/8259 is incorporated into these mobile designs?

[2022-04-08 17:54] dbkr commented on #329
This is also quite heavy on implementation detail but I'm not sure what you're actually asking for - a feature that causes a sound to be played on another user's device and nothing else?

[2022-04-08 19:33] Raymondss12 commented on #328
Yeah but there is no way to activate "Delivered to a recipient's device". Which is very crucial for many users.

[2022-04-08 19:59] t3chguy commented on #328
That's a Matrix spec issue, not an Element one. For a privacy oriented product it's not exactly crucial.

[2022-04-09 01:08] Iitar commented on #329
Yes, I only ask for this

[2022-04-09 08:14] AnisTaluqdar opened #217 "Button to jump to mentions or replies"
It would be great when someone replies to you or tags you in the group it’s showing @ button and you can find the chat easily.

When we have long conversion or busy texting room we can not make track our own conversion and who replies and mention us. But telegram solve it easily. When you come back your group your all unread replies and mentions will be store in @ button you can easily reply one b

[2022-04-11 07:48] BillCarsonFr commented on #34
implemented cross platform

[2022-04-11 07:48] #34 closed

[2022-04-11 09:02] niquewoodhouse commented on #166
I've edited the issue to (try to) better represent the current state of the project, and assigned to all the designers on the team working on it.

[2022-04-11 10:28] daniellekirkwood commented on #135
@hughns Happy to discuss that for sure! Is this the reset password flow when the user is signed in, or when the user is attempting to sign in?

[2022-04-11 10:54] daniellekirkwood opened #218 "Delight: App Layout (Mobile IA)"
## Intro

**Problem we’re solving**

* Set accurate first impression with new users to compete effectively and set playing field equally across platforms \(iOS & Android\) to deliver improvements to D1 later \(Q4\)

**Goals**

* Implement and release [the proposed redesign](https://www.figma.com/file/Hw4gjP3pknMZUir8jQqmWH/%5BMobile%5D-IA-early-proposals) in order to:
* Cement Element as the leadi

[2022-04-11 10:57] daniellekirkwood opened #219 "App Layout: Space Switching Experiment [Meta]"
# Space Switching

The Delight team are running an experiment to validate hypothesis and assumptions from the new mobile layout designs.

The [full designs are here](https://www.figma.com/file/Hw4gjP3pknMZUir8jQqmWH/%5BMobile%5D-IA-early-proposals?node-id=1119%3A103766).

The [parent issue for experimentation is here](https://github.com/vector-im/element-meta/issues/218).

| Goal  | Understand if

[2022-04-11 10:58] daniellekirkwood opened #220 "App Layout: Edit Layout Experiment [Meta]"
# Edit Layout

The Delight team are running an experiment to validate hypothesis and assumptions from the new mobile layout designs.

The [full designs are here](https://www.figma.com/file/Hw4gjP3pknMZUir8jQqmWH/%5BMobile%5D-IA-early-proposals?node-id=1119%3A91033).

The [parent issue for experimentation is here](https://github.com/vector-im/element-meta/issues/218).

| Goal  | Understand if users

[2022-04-11 10:58] daniellekirkwood opened #221 "Mobile Layout: Tab-less layout Experiment"
# Tab-less layout

The Delight team are running an experiment to validate hypothesis and assumptions from the new mobile layout designs.

The full designs are here.

The [parent issue for experimentation is here](https://github.com/vector-im/element-meta/issues/218).

| Goal                    |                                                              |
| ----------------------- | ------------

[2022-04-11 10:59] daniellekirkwood opened #222 "Mobile Layout: Invites Experiment"
# Invites on Home

The Delight team are running an experiment to validate hypothesis and assumptions from the new mobile layout designs.

The full designs are here.

The [parent issue for experimentation is here](https://github.com/vector-im/element-meta/issues/218).

| Goal                    |                                                              |
| ----------------------- | ------------

[2022-04-11 12:51] BillCarsonFr opened #223 "Support deprecation of plain text sender_key and device_id in a megolm message"
As part of [MSC3700](https://github.com/matrix-org/matrix-spec-proposals/pull/3700) the `sender_key`and `device_id` will be removed from the encrypted message content:

POC https://github.com/matrix-org/matrix-rust-sdk/pull/481

- \[ \] Check all impacts
    - \[ \] For key requesting \(use wildcard when requesting to sender\)
    - \[ \] Deprecate sender*key in key requests
    - \[ \] Impact on

[2022-04-11 13:31] daniellekirkwood commented on #219
# Meeting April 11, 2022
* Changing just the header for the experiment; the rest of the app will not change to match the design.
* Removing the left panel removes the space invites, settings, etc.

**Design needs:**
* to add solution for removing the left-panel,
* designs for the experiment (not final design),
* designs for how the list expands for users with lots of spaces or no spaces,
* is the

[2022-04-11 16:06] hughns commented on #135
@daniellekirkwood the linked issue covers both cases, but I am only suggesting incorporating a "Sign out all devices" checkbox similar to the following on the forgot password part of signing in:

![image](https://user-images.githubusercontent.com/6955675/162783227-ccebe61d-2a13-439b-8c14-af34178c9ad5.png)

[2022-04-11 16:11] BillCarsonFr opened #224 "Posthog | E2EE possible error inconsistency on name cross platform, would need also to add error code in event"
It looks like web/android/mobile are not using Unspecified vs Unknown the same way. It's suspicious as the graph are inverted for these category on android vs ios; Unspecified looks absent in web?

Also, we need more details regarding unknown/unspecified as they represent a decent chunk of errors. E.g on web nearly all of UTDs are `UnknownError`

[2022-04-11 16:54] #190 closed, assigned to daniellekirkwood

[2022-04-11 16:58] daniellekirkwood commented on #135
@amshakal & @ouchadam & @pixlwave
Is this do-able for us? How long would this scope change set us back? WDYT?
Thanks!

[2022-04-11 17:14] ouchadam commented on #135
very doable https://spec.matrix.org/v1.2/client-server-api/#post_matrixclientv3accountpassword would lean towards this being a small/small-medium amount of work

it seems like something that could be done in a second iteration though (we'll probably want the extra behaviour in the settings -> change password flow as well)

[2022-04-12 09:17] BillCarsonFr commented on #224
As per discussion we could add more enum values to the error `name` field, and ensure we have cross platform consistency

[code]

[2022-04-12 12:50] t3chguy commented on #1925
@daniellekirkwood is this done? It is marked as Shipped yet still open

[2022-04-12 13:38] novocaine commented on #1925
@gsouquet where is this at?

[2022-04-12 13:40] novocaine commented on #224
@BillCarsonFr can you post links to the suspicious graphs please? I think the crypto team can action this..

[2022-04-12 15:26] HarHarLinks commented on #128
![image](https://user-images.githubusercontent.com/2803622/162996426-5584acaf-7702-46fd-9a14-8f2d8cbda92f.png)

I would like to criticize this part:
- while defaulting to `matrix.org` is fine, I dislike element promoting it as if it were the best choice
- wording of "edit" seems questionable, would "change" inflate the button size to much?

Do we only see #126 by clicking edit here? I would argue

[2022-04-12 15:31] HarHarLinks commented on #126
I would like if this would indicate that EMS isn't the only way to host your own. What I mean isn't a list of other hosting providers, but matrix.org docs about it or the list of servers (https://matrix.org/docs/projects/try-matrix-now filtered for servers).

[2022-04-12 15:36] ouchadam commented on #128
for some extra context, here's the current web account creation (we've aligned quite closely~)

![2022-04-12T16:28:35,847557938+01:00](https://user-images.githubusercontent.com/1848238/162998580-fa477f97-ca07-4317-8963-61881c658717.png)

correct, the server selection screen is currently only accessible by tapping `EDIT` within the create account screen

| GIF |
| --- |
![](https://user-images.gith

[2022-04-12 16:09] HarHarLinks commented on #128
Thank you, Adam. I agree it is well aligned with web.
This may not be the right place for this discussion, and I've criticized this on web before as well, but my points about the extra promotional label to matrix.org and defaulting to the server selection screen (which then lets you select matrix.org if you have nothing else), stand (for all elements).

[2022-04-12 16:17] t3chguy commented on #354
The count is provided by the server, it is also shown as an estimate with the `~`

https://spec.matrix.org/v1.2/client-server-api/#post_matrixclientv3search

count | integer | An approximate count of the total number of results found.
-- | -- | --

[2022-04-13 10:52] ara4n commented on #330
Thanks to https://github.com/vector-im/element-web/issues/4674 and https://github.com/matrix-org/matrix-react-sdk/pull/7200 we look to be drifting towards a GFM-flavoured dialect of commonmark anyway?

[2022-04-13 10:58] t3chguy commented on #330
I think lack of tilde strikethrough and table syntax remain glaring differences

[2022-04-13 10:59] ptman commented on #330
Missing tables wouldn't be that bad if html is passed through, but I think it's stripped?

[2022-04-13 11:21] ouchadam commented on #374
thanks for raising! this is a topic that we're aware of and encapsulates all the element clients, we're still considering/figuring out the best way to approach incorporating other homeservers

[2022-04-13 13:49] daniellekirkwood opened #225 "App Layout: E2E Flow Experiment"
Run an experiment with new and existing users to ensure the proposed designs are cohesive.
We also want to learn (from existing users) where the biggest, most impactful changes are in order to inform our rollout plan further down the line.

This issue is WIP

[2022-04-13 14:03] daniellekirkwood opened #226 "Mobile Layout: Establish a baseline metric"
In order to successfully measure and understand the impact of the changes we need to determine a baseline.

Ways we might do this (not exhaustive)
- SUS score: Qual only
- App/Play store ratings: Quant & Qual
- Others

## Next Steps
* Team discussion on how we might do this

[2022-04-13 14:16] daniellekirkwood commented on #218
## Decision made: We will prioritise this project, starting in Q2
It's accepted that this project may not directly impact D1 retention but is instead a strategic move to ensure that we compete visually today and have the right foundation and platform to improve D1 quicker and more effectively later.

## Next Steps: April 12, 2022
- [x] Discuss the project and scope with the team (and run a pre-mor

[2022-04-13 14:46] daniellekirkwood opened #227 "New user's journey [Web]: Delight"
This issue is WIP while the team defines their plan ahead.

## Intro

**Problem we’re solving**

* Currently we offer no guidance as to the steps new users should take in product in order to get value in their first session. We also learned in our [second round of testing](https://www.figma.com/file/EajJegqEYIYK2ZJSLuLX8X/Testing-Synthesis?node-id=0%3A1) that the learning curve for Element is stee

[2022-04-13 14:51] novocaine opened #228 "Discourage enabling threads if the user's homeserver doesn't have threads support"
### Your use case

#### What would you like to do?

Discourage users from enabling threads if their homeserver does not have threads support as per [MSC 3440](https://github.com/matrix-org/matrix-spec-proposals/pull/3440).

#### Why would you like to do it?

The threads experience is significantly degraded without server-side support, and not fit for general use. We should try to avoid promoting t

[2022-04-13 14:54] novocaine commented on #228
There will be a bunch of existing users who have already enabled it at this point against a homeserver without threads support - I wonder if we should consider doing anything about that?

[2022-04-13 15:01] daniellekirkwood commented on #227
## Decision made: We will prioritise this project, starting Q2

The web team is driving towards the D1 metric, aiming to make the biggest impact we can through learning and experimentation over time.

## Next steps: April 12, 2022

- [x]  Kick off with the team that: defines how we work together, the assumptions and hypothesis we have so far, project milestones
- [ ]  Run user research sessions on

[2022-04-13 18:20] robintown opened #1632 "The 'on' versus 'noisy' distinction for notifications is confusing"
### Steps to reproduce

Open notification settings

### Outcome

#### What did you expect?

To be able to understand that setting a particular notification category to 'on' will not cause it to play sounds or vibrate any of my devices.

#### What happened instead?

A long-term failure to understand the conceptual design of notifications.

I assumed that 'on' would cause sounds for those notificati

[2022-04-13 19:29] janogarcia commented on #228
What if they have already enabled it? They should still be able to "Leave the beta".

And if they want to enable it back after having disabled it?

[2022-04-14 00:40] UmbraChimera commented on #2528
I tried what @f35f0ef9d0e827dae86552d3899f78fc advised, and it's still happening. Even with a whole new account I made. Any suggestions?

[2022-04-14 07:46] MadLittleMods opened #491 "Filter out flood of member & hidden event spam when we detect the scrollback is full of it"
### Your use case

#### Why would you like to do it?

Rooms can be overwhelmed by bulk spam users joining rooms (thousands and thousands). Each one of those joins and leaves creates an event in the timeline.

Currently in rooms like this and trying to scrollback, you just get stuck on the thousands of member events that we only [paginate 20 at a time](https://github.com/matrix-org/matrix-react-sdk

[2022-04-14 08:11] t3chguy commented on #491
This will cause the profiles we show on messages to be incorrect, so is not possible until (if) we remove historical profiles.

[2022-04-14 08:15] MadLittleMods commented on #491
Good caveat 👍

As a user, I'd be totally fine with using the current profile state for the scrollback messages (this is even a Labs option https://github.com/matrix-org/matrix-react-sdk/pull/7815). Or just not have the profile information. Certainly a lot better than not being able to access the content. It's also probable, that not everyone who joined has a profile or even chatted for us to worry

[2022-04-14 08:20] t3chguy commented on #491
Also I'm not sure its technically valid in Matrix to change filters mid-stream

[2022-04-14 08:21] t3chguy commented on #491
This caveat has more issues than you'd expect though, as your push rules need historical profiles to evaluate if a given message pings you or not, so whilst scrolling back you may not have messages highlighted which should be highlighted.

[2022-04-14 08:46] MadLittleMods commented on #491
Judging by Synapse, it works just fine. I didn't spot anything in the spec mentioning it either (did you see something?)

These all sound like minor problems compared to not being able to read the content. The content is still digestible without profiles. These differences can also be explained in a little hint under a `?` icon next to the button/link or if we want to go extreme, explain it in the

[2022-04-14 09:38] t3chguy commented on #491
Missing notifications is major, not minor

[2022-04-14 09:45] niquewoodhouse commented on #1189
There might be some ongoing work with the composer design that could impact the best way to show a UI for disabling md in the composer, so I'd rather not look at this specific interaction until its more clear what's happening with that work. For now, I believe vector-im/element-web#20321 is a good solution - I added a [comment](https://github.com/vector-im/element-web/issues/20321#issuecomment-109

[2022-04-14 09:46] novocaine commented on #228
I have amended the ticket to continue to show the threads setting for all users so that users that have already enabled it still have control.

[2022-04-14 09:51] janogarcia commented on #228
What would happen after disabling it, and on subsequent client releases? The feature may disappear from some users if they

1. enabled threads when in a non-MSC 3440 homesever
2. then disable thread
3. at a later date (either in the same client version, or a new one), with threads disabled and still in a non-MSC 3440 homesever, want to get their threads back

It could also happen that some users m

[2022-04-14 09:52] kittykat commented on #212
Could do, what's the reasoning?

On Web, we periodically clear that column manually

How would you use this?

See https://github.com/vector-im/element-meta/wiki/Issue-labelling - it should be based on how often we expect it to be seen by users

[2022-04-14 09:53] novocaine commented on #228
@janogarcia I changed my mind and updated the ticket description, are you happy with that?

[2022-04-14 09:54] janogarcia commented on #228
That's why I suggested (internally, yesterday) not hiding it but showing a contextual warning instead.

[2022-04-14 09:56] janogarcia commented on #228
@novocaine Yeah, definitely better. 👍

[2022-04-14 10:53] germain-gg commented on #161
@niquewoodhouse you mention that you'd like to have changes across the three platform but only list stuff on Android/iOS. Is there some work required on Web too?

But besides from that it should be unblocked and ready to be worked on, do you agree?

[2022-04-14 11:49] novocaine commented on #228
Suggested copy for the "Learn more" at https://element.io/help#threads

## Why does my homeserver need to support threads?

In order to reliably update the list of threads in a room and their contents, your homeserver needs to support threads via MSC3440. If your home server runs Synapse, this is available in version 1.55 and above. You can ask your homeserver administrator to upgrade your server

[2022-04-14 12:58] daniellekirkwood commented on #61
## Also

**Thread Timeline actions**
- Supporting things like Polls, Locations, Voice Messages, chat effects, etc.

**Thread ‘accessibility’**
- We’ve had feedback that the notifications are hard to assign to Threads instead of the Room timeline. Jano’s designs for the room list may help with that:

[2022-04-14 13:48] t3chguy commented on #228
The EW release which links to https://element.io/help#threads has just gone live, would be good to get the site update up asap

[2022-04-14 13:54] BillCarsonFr commented on #224
I wonder if mobile won't be other reporting the same UISI compared to web.
A mobile app is often killed/start, we don't persist the sessions that were already reported, so everytime you re-open the app we will re-report for that session.
Web is not persisting either but web is often opened for longer.

Is there a way to send the sessionId (or hash) in the error event and deduplicate on posthog?

[2022-04-14 16:17] catscratchedme commented on #491
This seems to be the same problem in principle as this previous issue I created, in the sense that the client is spending a lot of time loading messages that the user probably doesn't want to see. (In this case, it's the member join messages; in my older issue, it's the redacted messages).

Even if the member join messages / redacted messages are hidden, the client will still be loading the hidden

[2022-04-14 20:18] MadLittleMods commented on #491
This has to be put in context. The first step is making the messages available to read in any capacity. While arguably readable by waiting hours for the scrollback to get to the mention, I'd much rather be able to get to the message right away where it maybe hasn't highlighted and figure it out because I'm human.

 1. But highlights can still be on the table:
    - While someone's profile could ha

[2022-04-18 13:33] HarHarLinks commented on #332
#### Why would you like to do it?
collapsing these events in rooms like https://matrix.to/#/#matrix-voip:envs.net or announcement channels that see only irregular activity but frequent updates to room state allows to see the conversation instead of just screens full of room state changes

#### How would you like to achieve it?
A day (localtime) is eligible for day-collapsing if there are only regu

[2022-04-19 13:32] germain-gg commented on #1189
@niquewoodhouse in that case should we close this issue in favour of vector-im/element-web#20321 ?

[2022-04-20 15:22] duxovni commented on #224
Would we want to deduplicate on session ID, or on event ID? If we get 12 undecryptable messages from the same user as part of the same megolm session, should that be 1 tracked error or 12?

[2022-04-20 15:25] duxovni commented on #224
Web also theoretically has some code to save/load already-reported event IDs from local storage, but it's commented out right now, I forget what the issue was.

[2022-04-21 14:13] daniellekirkwood commented on #227
## Project Kickoff April 20, 2022

New User's Journey next steps
- [ ]  Ensure Meta issue up-to-date
- [ ]  Organise the learning plan with the questions from the team
- [ ]  Synthesise the session from project kick-off
- [ ]  Define Experiment template and the go/no-go decision points for each test
- [ ]  Work in PostHog

**Inputs to the project**
- Internal team members ideas and suggestions
- A

[2022-04-21 15:22] karlabbott opened #231 "Group Identity Server Settings together under General"
**Is your feature request related to a problem? Please describe.**
Some customers have complained about the email and phone number settings not doing anything when not tied to an identity server.

**Describe the solution you'd like**
I'd like to see the email address and phone number settings not highlighted so prominently under General. I think that they should be grouped together with where you

[2022-04-21 18:39] MadLittleMods commented on #1496
Verifying your Element Android device via QR code works nowadays. AFAICT, it's not possible on iOS yet. In the iOS simulator, it only gave me an option to verify by emoji.

Element Android:

<img src="https://user-images.githubusercontent.com/558581/164528556-abb69018-9d42-4460-b43a-7fe80da9e7a3.png" width="450">

Element Web/Desktop:

![](https://user-images.githubusercontent.com/558581/164528684

[2022-04-22 07:51] koyuawsmbrtn commented on #1496
Yeah, this is device verification, but the whole sign in process with the keys already imported and devices verified is not a thing yet. I mean if your phone can already verify your session then it should also be able to sign you in. The best UX I have seen for this process would be the QR code login for Discord.

[2022-04-22 08:39] t3chguy commented on #1496
Login requires the password, which Element apps do not store, so a new spec change to request a one-time login code which could be used for this would be needed

[2022-04-22 08:57] koyuawsmbrtn commented on #1496
Exactly.

[2022-04-22 10:12] t3chguy commented on #152
I wonder how this will work given the order will be constantly changing, due to redactions and new threads responses coming in, so backpaginating this custom ordered mixed timeline may race with /sync bringing in new events causing order confusion

[2022-04-22 13:52] daniellekirkwood opened #232 "Start running fortnightly "UserTesting" sessions"
Collecting feedback via UserTesting in Q1 on mobile was really valuable.
We had the ability to:
* measure our SUS Score,
* we found WTFs (impactful small bugs),
* and gather & collate insights all in the bounds of a new user's D1.

As our one of our Q2 projects is to improve D1, we should continue to run the mobile tests, as well as introduce the same test on the web platform.

**Still TBD:** The

[2022-04-22 14:15] amshakal commented on #232
Consider making the following changes to the flow for web:

Testing questions to ask:

- Your life-long friend Jane Burns has suggested you use a messaging platform called Element.
- Please go to https://element.io/ and launch element web to get started. Please take a look at the imagery and copy on the website. What is your first impression? Does this look like a tool that would be useful to you?

[2022-04-22 14:17] amshakal commented on #232
With the proposed test above we would be testing the following flows:

1. Finding element web and launching it
2. Creating an account
3. Searching for a matrix ID + sending their first message
4. Finding settings to change picture/display name
5. Finding a room + interacting with timeline
6. Creating a room

[2022-04-22 15:38] niquewoodhouse commented on #232
User tools that have been considered:

- [ ] ~~Usertesting.com (too expensive, hit account limit)~~
- [ ] ~~Maze (subscription per month)~~
- [ ] ~~Userzoom seems too expensive~~

[2022-04-22 15:39] amshakal commented on #232
Tools to consider:

- [ ] https://www.loop11.com/pricing/
- [ ] https://www.userlytics.com/prices-plans
- [ ] https://www.uxtweak.com/recruiting-usability-test-participants
- [ ] https://www.playbookux.com/pricing/
- [ ] https://www.lookback.com/

[2022-04-22 16:21] niquewoodhouse commented on #232
I've used lookback a few years back - was really easy to use, will make a trial and try it out on Monday

[2022-04-22 16:35] janogarcia commented on #187
## 🐛 Bugs

### Design implementation review

- **Web**: Incomplete tasks. <br> https://github.com/vector-im/element-web/issues/21502 <br> Exceptions: "Align thread list to the top" and "Align timeline to the top of the timeline container." which are blocked by BACAT (Bottom-Aligned, Clipped-At-Top) scrolling. More on that below, in the "✋ Blocked" section.
- **Android**: Uncompleted tasks + New ta

[2022-04-22 16:59] janogarcia commented on #187
@daniellekirkwood @novocaine I basically reviewed every source of information I had on threads for compiling the list above:

- Open issues across all platforms (GitHub)
- Feature ideas backlog (GitLab, GitHub...)
- Design explorations backlog (Figma)
- Personal notes

I tried to figure out what needs to be accomplished to exit threads from beta while keeping potential future enhancements as a sep

[2022-04-25 07:35] #37 closed

[2022-04-25 07:36] BillCarsonFr opened #233 "Crypto | Be less blind: Analytics, reports, better logs"
## Problem

We need more visibility on how many users are seeing crypto problems, and what are the most common cause so that we can efficently affect effort.

## Solution

Get started on the journey to full observability by implementing simple analytics and better logging.

- \[x\] Analytics | Port existing matomo metrics to posthog https://github.com/vector-im/element-meta/issues/34
- \[x\] Analy

[2022-04-25 07:40] jakewb-b commented on #1188
Obviously this is a very old issue now - but we are intending to implement something like this as part of the several streams of Element Call integration going on. So, removing the needs product label, and we'll track this and hopefully close it as that work progresses.

[2022-04-25 07:50] jakewb-b commented on #1276
This makes sense, and would be in line with behaviour on Element Call.
I don't think this needs further product input.

[2022-04-25 07:52] BillCarsonFr opened #234 "Crypto | Posthog analytics for to-device decryption errors"
There are various failure modes that can lead to failures to decrypt to-device messages, which will then almost inevitably lead to UTD errors of some sort. Currently, these are not reported in Posthog, so we lack visibility into how often they happen.

See also https://github.com/element-hq/element-meta/issues/2409 which covers analytics for the sending side.

---

# Implementation design

https:/

[2022-04-25 07:57] t3chguy commented on #1276
One other issue, we can only make such a room if the alias ends in the same server your user is registered on, e.g @bob:matrix.org can't make #foo:mozilla.org

[2022-04-25 08:00] jakewb-b commented on #1276
I think that's fine.
When someone comes to do the design for this, they can design two versions: one when you can create the room, and one when you can't. We could add a bit of explanation when you can't so that people who are used to being able to create rooms directly from a link understand why in this case they can't do so.

[2022-04-25 08:11] BillCarsonFr commented on #39
## SCOPE UPDATE
~~There are some scalability issues with sending the keys for the full history, as well as several edge cases. We don't want to fix all of them on existing SDKs (mobile, web).~~
~~The Rust SDK implementation should be complete.~~

~~So for existing SDKS the main goal is to  `give the new joiner the immediate context on the room to know why he was invited`, so basically the recent h

[2022-04-25 09:17] #228 closed, assigned to t3chguy, ismailgulek, ariskotsomitopoulos

[2022-04-25 09:18] #213 closed, assigned to janogarcia, daniellekirkwood

[2022-04-25 09:18] #203 closed, assigned to daniellekirkwood

[2022-04-25 09:20] novocaine opened #235 "My Threads: Thread replies to root messages going unnoticed"
We're updating this issue to be more specific as the original content is now split into 2 solutions.

1. Updating Notifications so that messages are not missed will be tracked by https://github.com/vector-im/element-meta/issues/196
2. **this issue** The "My Threads" filter in the Thread Panel should include threads that my message is the root message.

## Solution
This is fixed by the thread list

[2022-04-25 09:20] novocaine commented on #235
@clokep said:

[2022-04-25 10:46] germain-gg commented on #1925
I'm not entirely sure why this ended up on the "Shipped" column. As there's no UI built for this, looks like this fell through the cracks, sorry about that.

However the code has already a way to detect that the root message is missing. In that case the thread will have the `rootEvent` being `undefined`.
The thread will have to exist in degraded mode as the APIs defined in MSC3440 will not be able

[2022-04-25 10:58] t3chguy commented on #1925
Which also means it won't be shown in the Threads list because the code doesn't know how to handle mixing degraded and API-ful modes. Especially once that list is a paginated serverside list. https://github.com/vector-im/element-web/issues/21877

[2022-04-25 12:20] niquewoodhouse commented on #232
@daniellekirkwood how many sessions did you run on mobile per fortnight please? just trying to work out costs of different platforms, thanks

[2022-04-25 12:58] clokep commented on #196
The work here resulted in 3 MSCs which should enable the features we need:

* [MSC3771](https://github.com/matrix-org/matrix-spec-proposals/pull/3771): Read receipts for threads
* [MSC3772](https://github.com/matrix-org/matrix-spec-proposals/pull/3772): Push rule for mutually related events
* [MSC3773](https://github.com/matrix-org/matrix-spec-proposals/pull/3773): Notifications for threads

There

[2022-04-25 15:06] daniellekirkwood commented on #232
We ran 4 on each platform every fortnight.

So ideally, in a 2 week period we'd run a test with 12 people; 4 iOS, 4 Android, 4 Web (as a min.)

[2022-04-25 16:33] HarHarLinks opened #236 "Track read state of beta announcements in user profile"
### Your use case

#### What would you like to do?
How nice would it be not needing to dismiss the "threads approaching beta" notif on each device?
#### Why would you like to do it?
i don't expect it is too bad for most people, but i got annoyed after the 5th or so since i have relatively many
#### How would you like to achieve it?
you could consider adding betas to `im.vector.web.settings` (or `i

[2022-04-26 04:22] ara4n opened #237 "If the person doesn’t pick up a voip call, we should prompt to send a voice message"
for simple voice mail

[2022-04-26 07:36] germain-gg opened #238 "Increase analytics opt-in rate for new users"
**Is your feature request related to a problem? Please describe.**

The Delight team is currently looking at ways to increase the new users journey. In order to make educated decisions this needs to be backed by data.
By increasing the opt-in rate for that segment of users we will be able to make more informed choices

**Describe the solution you'd like**

I would like to understand whether we can

[2022-04-26 08:21] germain-gg opened #239 "Track "Signup" event on Posthog"
The events SDK now has a [`Signup`](https://github.com/matrix-org/matrix-analytics-events/pull/53) event. We need to track it across platform

- [ ] Web: https://github.com/vector-im/element-web/issues/21925
- [ ] Android: https://github.com/vector-im/element-android/issues/5841
- [ ] iOS: https://github.com/vector-im/element-ios/issues/6074

### Notes

This event has one particularity, it is disp

[2022-04-26 09:09] t3chguy opened #240 "Threads: /messages filter to exclude thread responses & relations"
**Is your feature request related to a problem? Please describe.**
Right now, scrolling up in a room which heavily uses threads is really slow and feels broken as most /messages results are not for the main timeline and instead are events from threads.

**Describe the solution you'd like**
/messages filter which lets the client paginate the main timeline where the responses only include events for

[2022-04-26 09:11] janogarcia commented on #187
@novocaine 🐛 We need to log an issue somewhere (probably as a meta issue) to describe the current limitation where a room with many threads fails to load message history in the main timeline when scrolling back.

Related discussion in Threads Delivery room:
https://matrix.to/#/!YFprWIqHBfwwwCBYOe:matrix.org/$RQxl9muD26bpmpJNfF3LSfgyNvg0oxGXiVc3c3Q8Mg8

[2022-04-26 09:13] germain-gg commented on #239
Duplicate of https://github.com/vector-im/element-meta/issues/193

[2022-04-26 09:13] #239 closed, assigned to nobody

[2022-04-26 09:23] novocaine commented on #187
Michael has added this to the scope already https://github.com/vector-im/element-meta/issues/240

[2022-04-26 09:28] janogarcia commented on #187
Awesome, thanks!

[2022-04-26 10:53] germain-gg commented on #193
@ouchadam , you can backdate events on PostHog according to their HTTP documentation. I found that the JS sdk does not allow to set that property, but I have created a new issue to extend the library's capabilities https://github.com/PostHog/posthog-js/issues/390

That way we won't need to abuse the event properties in order to track an accurate registration time

[2022-04-26 11:05] ouchadam commented on #193
nice find! it looks like we have a similar issue with the android SDK where the ability to mutate the timestamp for historical purposes exists internally but isn't exposed to the main public api

https://github.com/PostHog/posthog-android/blob/master/posthog/src/main/java/com/posthog/android/payloads/BasePayload.java#L181

[2022-04-26 12:42] #3 closed

[2022-04-26 12:42] #9 closed

[2022-04-26 12:42] #7 closed

[2022-04-26 15:04] BillCarsonFr opened #241 "MSC3783: Fixed base64 for SAS verification cross platform"
Update all sdk according to new [SAS encdoding](https://github.com/matrix-org/matrix-spec-proposals/pull/3783)

- \[x\] https://github.com/matrix-org/matrix-rust-sdk/issues/603
- \[ \] https://github.com/matrix-org/matrix-js-sdk/pull/2320
- \[ \] https://github.com/vector-im/element-android/issues/5845
- \[ \] https://github.com/vector-im/element-ios/issues/6078

[2022-04-26 16:58] airblag opened #740 "Missing option to disallow federation on public spaces"
### Your use case

#### What would you like to do?

My element on my homeserver is configured with a config.json specifiying `"default_federate": false`
This makes my user create rooms which are per default not federated. This sadly didn't apply to the newly created spaces.

I want the same pre-filled option when creating spaces that is shown in the advanced options when creating a room.

#### Why

[2022-04-26 18:10] daniellekirkwood commented on #219
## Decision: Which platform?
* We need to test this on both platforms as we know interaction patterns do not always carry across iOS and Android
* We need to test with a functional prototype as a "fake-o test" such as Maze will not show us behaviour over time, or a real view of how users find Spaces and subspaces
* We'll start by building the experiment on Android, and build on iOS later

[2022-04-26 18:11] daniellekirkwood commented on #219
## Question: How many users _could_ have access to the APK?
- There's no maximum. The limit will be informed by the method of feedback collection
[Link](https://matrix.to/#/!KiMXGIvzGnyVXjalxs:matrix.org/$gt5RuQ4afn_RU9TR4FFe4C6iTXk9BhRpVsPnZ4ucg-4?via=matrix.org&via=element.io&via=one.ems.host)

[2022-04-26 18:16] daniellekirkwood commented on #219
## Question: How do we collect feedback?
 - [ ] We can send a survey before and after (and maybe during) the 2 week period for feedback.
 - [ ] It would be ideal to measure event tracking in the APK. @fedrunov, @gsouquet  would it be possible to use PostHog in these tests?
 - [ ] What are the other ways we can collect info from participants?

Just a thought: **Would it be best not to tell our part

[2022-04-26 23:36] daniellekirkwood opened #242 "Delight: Space switching recruitment and survey setup"
We need to provide access to the design to a **minimum** of 12 people. Ideally the split looks like;
* 3 New users (recruited using Twitter or friends of employees)
* 3 Community users (recruited with help from @kittykat)
* 3 Personal messaging users (recruited by ??)
* 3 Workplace users (recruited by ??)

- Send a survey to all participants before they receive access to the product.
- Share the p

[2022-04-27 04:19] daniellekirkwood opened #243 "Delight: Recruitment and survey setup for Q2 tests"
While in flux this issue is being discussed here: https://docs.google.com/document/d/18Nj7yMMK5h9kSdxuyR3uuXPJdPGlp8WfZGlBLHkzbp0/edit?usp=sharing

<hr />

We need to provide access to the design to a **minimum** of 12 people. Ideally the split looks like;
* 3 New users (recruited using Twitter or friends of employees)
* 3 Community users (recruited with help from @kittykat)
* 3 Personal messaging

[2022-04-27 08:27] niquewoodhouse commented on #238
I think this would be a strategically good thing to do early in the quarter, as measuring impact of changes depends on this so the more people opting in, the more quickly we can reach confidence that changes are good.

[2022-04-27 11:19] niquewoodhouse commented on #232
Progress:

- [x] Created an unmoderated test on [Lookback](https://participate.lookback.io/QLtTGm) for FTUE Web
- [x] Started a feature and pricing [matrix](https://docs.google.com/spreadsheets/d/1JRc_70MyW7wpdZ_fdwl_Y3uRUeB2fQHL8vjlT4zoSWc/edit?usp=sharing) to help identify the right user testing tool for us long term
- [x] Started a research [brief](https://docs.google.com/document/d/1P5MV81sJtx

[2022-04-27 17:17] daniellekirkwood commented on #238
Totally - the more data the better so any ideas for how we might action this issue would be great!

[2022-04-27 17:36] daniellekirkwood opened #244 "Collect data for decision: Home goes to Welcome screen instead of last viewed"
https://www.figma.com/file/ZDVvKC8odsa5Jeml9gCuLd/Web%3A-New-User's-Journey?node-id=55%3A41

"Kat: I would like to see some data on how “harmful” it would be to make the home button in the left left panel go to the “welcome” screen instead of last viewed room"

[2022-04-27 19:03] daniellekirkwood commented on #244
@kittykat & @niquewoodhouse Haven't we discussed this for Spaces? That instead of Last Viewed when selecting a space, it goes to Space Home?

[2022-04-28 07:39] BillCarsonFr opened #245 "Unable To Decrypt meta issue"
This is the meta issue relating to all "Unable to Decrypt" problems, a.k.a "Waiting for this message, this may take a while", aka "UISI" [1].

There are many potential causes of this issue; a detailed list is below. Many of the causes are fixed in modern clients, but there are still a number outstanding.

**If you receive an "unable to decrypt" message**: we need your help to resolve the problem!

[2022-04-28 08:34] novocaine opened #246 "Web App Team Tech Strategy 2022"
Strategic work to improve Element Web that we aim to complete in 2022.

- \[x\] Write tests as part of work as per https://github.com/matrix-org/matrix-js-sdk/blob/develop/CONTRIBUTING.md#tests
  - [New code coverage for matrix-react-sdk](https://sonarcloud.io/component_measures?id=matrix-react-sdk&metric=new_coverage&view=list)
  -  [New code coverage for matrix-js-sdk](https://sonarcloud.io/comp

[2022-04-28 13:51] novocaine opened #247 "Thread continuity across room upgrades"
If you upgrade a room which contains threads, threads from the old room are lost and need to be restarted.

We should consider how we might preserve some kind of continuity.

[2022-04-28 13:52] novocaine commented on #247
Note that room upgrades are already quite imperfect, some notes [here](https://docs.google.com/document/d/1tcTGMcMHxAoCG6M8ziV0mi9ZkOpSEaGRxjQSN3xFhRE/edit#heading=h.5iya1svy4vaf) on improving them.

[2022-04-28 13:55] novocaine commented on #247
More notes: https://github.com/vector-im/element-meta/issues/61#issuecomment-1014629516

[2022-04-28 14:27] HarHarLinks commented on #237
Is the same applicable to video?

[2022-04-28 18:31] daniellekirkwood commented on #126
@ouchadam "When pressing EDIT within the sign up details page, should the server url contain the https:// prefix?"

<img width="671" alt="Screenshot 2022-04-28 at 11 30 38" src="https://user-images.githubusercontent.com/89144281/165822304-45c1e4fb-7310-49ba-b273-16fb3a6cf09c.png">

We decided that we would remove the https:// as it's industry standard and saves space.

👀 @pixlwave

[2022-04-28 18:34] daniellekirkwood commented on #133
@amshakal Assigning this to you as we have an open question around when we ask for access to contact info. We may choose to remove "contact" from the definition of done for this issue as the Delight and/or PS team may be handling it...

[2022-04-29 08:20] sandstrom commented on #334
I'd also add that with Twist/Zullip style threads, there is a "max thread-level of 1". In other words, the room contain many threads/topics, but within these topics there is no [further] threading.

Also somewhat related, it's quite useful to mark threads as closed (or archived).

This 'state' on a thread can then be used to e.g. delete all threads 6 months after they were closed, or to only show

[2022-04-29 23:19] daniellekirkwood commented on #218
## Clarifying the plan (April 29, 2022)

- [x] We will build 2 experiments, 1 in each platform. (Building started May 2, 2022)
  - Space switching on Android
  - Edit layout on iOS
  - Each of these tests will be shared with at least 12 people, and will run for 2 weeks minimum. There will be at least 3 points that we collect feedback over this period. See [here for participant and feedback collect

[2022-04-29 23:22] daniellekirkwood commented on #220
@gileluard & @amshakal (👀 @niquewoodhouse)

**Are we keeping the left panel in the app when we test with Edit layout?**
If so, do we need to test the Spaces filter on the Edit layout screen?

[2022-04-29 23:27] daniellekirkwood commented on #227
## Week ending April 29, 2022

* [Experiment plan](https://docs.google.com/document/d/1PRWBTgWRjK2s8m0r89WdmfaUHLZ58Uv7iRvrBeYYgRM/edit?usp=sharing)
  * Please add your votes using your initials, capture your ideas by adding a new row to the table, and your thoughts in comments
* While we're working on the designs for bigger swing experiments, [here's a list of WTFs we can fix now](https://docs.go

[2022-04-30 11:53] ara4n opened #248 "Support onboarding on mobile to a given HS + room by correlating sessions from web->mobile"
From the internal matrix.to room:

<img src="https://user-images.githubusercontent.com/1294269/166104400-f1b20500-ef64-425a-96f5-046a43892351.png" width="341">

[2022-04-30 15:42] draxaris1010 opened #599 "Why are there FaceBook trackers in the app?"
### Steps to reproduce

none

### Outcome

#### What did you expect?
no facebook trackers

#### What happened instead?
facebook trackers are present

### Your phone model

_No response_

### Operating system version

_No response_

### Application version and app store

_No response_

### Homeserver

matrix.org

### Will you send logs?

No

[2022-05-01 10:49] cdauth commented on #573
This seems to be the one thing that is still blocking me from migrating from Mattermost to Matrix.

My use cases are that I am part of several loose organizations that have some kind of internal communication infrastructure, such as a private Wiki or a mailing list. For the organization, I want to create a private Matrix space or room. As far as I understand, right now to invite new people to that

[2022-05-02 08:05] BillCarsonFr opened #249 "Crypto | Be helpful to users facing UTDs"
**Be helpful to users facing Unable To Decrypt Erros:**
Give more useful feedback, and provide easily actionable recovery options that actually work.

## App Work

  - \[ \] Implement [UISI feedback screen](https://www.figma.com/file/a1NWmg6mOi2VZuSgaJx6nD/Displaying-UISI?node-id=344%3A14637)
      - \[ \] **Web**
      - \[ \] **Android** \[In Progress\]
      - \[ \] **iOS**
  - \[ \] Update [UI

[2022-05-02 11:55] BillCarsonFr opened #250 "Analytics | Add new error domain to track to_device crypto issues/errors"
We are currently blind to to*device decryption messaging problems.
Room keys are sent as encrypted to*device, if the end-to-end channel is broken for some reason then all room messages sent will then appears as Unable to Decrypt for the recipient.

As a first step we need to be able to see how often these to\_device problem happens and be able to look at trends for this metric.

**Proposal**:
Add

[2022-05-02 15:51] waclaw66 commented on #732
This happens to me regularly, it shows just votes counter, but no votes.
Element Web 1.10.11

[2022-05-02 19:25] ShadowJonathan commented on #1237
I think the ambiguity core to this is issue is the one of "Synapse vs Matrix".

Synapse is a Matrix homeserver implementation, which for the longest time served as its most practical reference implementation, and has its [own admin API](https://matrix-org.github.io/synapse/latest/admin_api/user_admin_api.html). However, in 2022, there exists two other high-profile matrix servers; [Dendrite](https:

[2022-05-03 12:08] germain-gg opened #252 "Qualifying the type of users using Element"
**Is your feature request related to a problem? Please describe.**

As part of the Delight team we're trying to cater for the needs of three different user groups.
- Personnal messaging users
- Community users
- Workplace users

It often seems that we are stuck trying to figure out a solution that would fit all three groups where the reality is that they have widely different type of usage and sho

[2022-05-03 12:12] BillCarsonFr opened #253 "Verification | Run Sanity test for verification against all clients currently in prod"
Test Plan:
https://docs.google.com/spreadsheets/d/1Sjjfi2EztTni6Hd1OsciB19IJxUd\_4-9I6zX5S7ftwk/edit#gid=1359908241

Concerning Issues:
https://github.com/vector-im/element-android/issues/5910
https://github.com/matrix-org/element-android-rageshakes/issues/37173
https://github.com/matrix-org/element-android-rageshakes/issues/37172
https://github.com/matrix-org/element-android-rageshakes/issues/371

[2022-05-03 14:33] daniellekirkwood opened #254 "Tracking User Feedback in Product"
How might we ask users for in-product feedback?

We need to think about the questions that we ask as well as the frequency we ask them.

[2022-05-03 14:34] daniellekirkwood commented on #252
This is a really great idea.

Part of asking this question on mobile was to introduce the user to element and show them that you can use this product for all those things. It's a little bit of marketing with a little bit of emotional support so I would suggest we treat it differently from this issue (as both would be great).

[2022-05-03 14:38] germain-gg commented on #252
@clokep and @niquewoodhouse I'd be interested in hearing your side of this too?

[2022-05-03 14:49] daniellekirkwood commented on #254
@fedrunov Heya! We just talked about this in the sync meeting, please add your thoughts here so we can start to build the requirements :D

[2022-05-03 17:46] catfromplan9 opened #413 "Hide/Censor Media from User"
### Your use case

#### What would you like to do?

Add the ability to censor or hide media sent by someone on matrix without ignoring text posts

#### Why would you like to do it?

I don't like ignoring people on matrix, but I might not want to see some media someone is posting. Currently, if I want to ignore someone's media, I have to use the ignore feature which removes all text posts from this

[2022-05-03 17:48] ilu33 commented on #137
This sounds really complicated so I'm not sure about it - what I'd like to have:
An option to sort everything according to activity only. Distinguishing in between DMs and rooms makes absolutely no sense to me (the third person joining is often just me with my second account). Since we now have private spaces (thanks for that!) I can sort how I want (family, club, job, ...) but I still have to man

[2022-05-03 21:13] daniellekirkwood commented on #242
Closing this issue in place of one recruitment and survey issue for all tests.

[2022-05-03 21:13] #242 closed, assigned to amshakal, daniellekirkwood

[2022-05-03 21:52] hughns commented on #135
Re: scope. Please note that there is need to vary behaviour based on which version of the matrix spec the homeserver supports. The logic is captured in https://github.com/matrix-org/matrix-react-sdk/pull/8259

[2022-05-04 09:51] kittykat commented on #137
In case you didn't know, this may work as a workaround for now: you can mark rooms as DMs in the room setting on iOS or with `/converttodm` command on web.

[2022-05-04 11:24] frandavid100 commented on #334
I'm not sure I understand. Is it being proposed to implement this feature at the client level? Wouldn't it be better to implement it [at the protocol level](https://github.com/matrix-org/matrix-spec-proposals/pull/3394)?

[2022-05-04 13:40] ilu33 commented on #137
Yes, I know - but wouldn't that change the nature of the room for everybody else too? Other people might not like that change.

Having a way to get everything sorted (by latest comment) into one consolidated list per space would still be good.

[2022-05-04 13:50] ouchadam commented on #212
(my impression so far) we've been using the projects as a way of team ownership/responsibility, once owned by a team the triaging could be considered complete, removing the triage project has the benefit of lose noise on the board

do those tickets go to a backlog somewhere?

currently we don't, is web using it for a specific purpose? (or could we remove it from the triage board)

[2022-05-04 15:47] clokep commented on #252
@gsouquet clarified that this is referring to the homeserver's configuration (`homeserver.yaml`).

The idea here is that the admin sets something in the configuration (defaulting to unset, most likely); (new) users would get some account data set, which clients could read. This could then be used to make decisions by the client on e.g. default notification settings or something else.

I think this

[2022-05-04 16:22] AmandineLP opened #2141 "we should only load the first level of subspaces and room when accessing a space home"
because loading the entirety of it is super slow and people would rather dive into relevant subspaces rather than have to collapse all subspaces to be able to load the one relevant to them

[2022-05-04 16:37] t3chguy commented on #2141
~The way the API works is depth-first (as per product & design during spaces project), not breadth-first, so will need MSCs~

[2022-05-04 22:15] daniellekirkwood opened #279 "Delight: What is a homeserver? FAQ page"
### Your use case

https://www.figma.com/file/ZDVvKC8odsa5Jeml9gCuLd/Web%3A-New-User's-Journey?node-id=200%3A2780

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-05-04 22:16] daniellekirkwood opened #604 "Delight: Improve notifications & comms for new users"
### Your use case

Related to: https://github.com/vector-im/element-web/issues/11937

Also:
* Auto enable email notifications and send new users an intro/summary email. What do the first few emails look like, could we introduce “product learning emails” that encourage usage?

[2022-05-04 22:19] daniellekirkwood opened #255 "Improve the load time"
Load time is highly mentioned is UserTesting and there are many different projects at Element aiming to improve the speed of various flows.

This issue is to keep track of those things.

To see more: https://docs.google.com/document/d/1wDXjD2sGW_5DM7cBJaDEdgqhd107jdRfEq86c4qPH_k/edit

[2022-05-04 22:21] daniellekirkwood opened #603 "Delight: Curate a list of rooms for new users that help to understand the explore functionality"
Today we ask users to join a room and show the Explore Rooms model. It can be overwhelming and confusing if you're new to Element and Matrix, many users do not know where to start or how to get involved.

According to the Spec we must order rooms by size but how else might we get users involved in some rooms or spaces, educating them on the community side of matrix, without overwhelming.

[2022-05-04 22:21] daniellekirkwood opened #541 "Delight: Introduce an "Element Help" room and promote it to new users"
### Your use case

Related to https://github.com/vector-im/element-meta/issues/603

We could have a room, staffed by employees and other members of the community that new users are able to view and join as a part of onboarding

### Have you considered any alternatives?

### Additional context

_No response_

[2022-05-04 22:24] daniellekirkwood opened #515 "Delight: What if users to join a space in their first session?"
HMW support a user wishing to join a space in their first session?

The Delight team are exploring options for this in Q2 and Q3 of 2022 as part of the larger New user Journey epic

[2022-05-04 22:25] daniellekirkwood opened #276 "Delight: Introduce an intro Bot that can be queried for help later"
### Your use case

#### What would you like to do?

#### Why would you like to do it?

#### How would you like to achieve it?

Can we fake this to see the impact it might have?

[2022-05-04 22:29] daniellekirkwood opened #947 "Delight: Inc. visibility of composer"
**Hypothesis**: Improving the visual appeal of the Composer will have a measurable impact on a user's first session in Element.

See comments for related issues.

[PostHog 1: Retention by day Composer > Pageview](https://posthog.hss.element.io/insights/r1EE6gLG)
[PostHog 2: Time taken from Pageview > Composer (WIP) ](https://posthog.hss.element.io/insights/yQgZB2JW)
[PostHog 3: Funnel Signup > Com

[2022-05-04 22:30] daniellekirkwood opened #847 "Delight: How do we help users on web add contacts?"
Users new to Element do not have "friends" or "contacts" to message yet. They must either know the MXID of the person/room they'd like to communicate with, or join a room through the explore feature.

We know from our research that new users find an "empty" Element little cause to return - the easier we can make it for them to populate the app with connections, rooms, and content the better.

How

[2022-05-04 23:08] duxovni commented on #515
(Marking this as "Needs Info" for the Web team triage since I'm not clear on what the proposal is, but if this is mostly a note-to-self and you're already handling it, then no worries)

[2022-05-04 23:10] t3chguy commented on #1923
Room naming is set in spec, if you still care about this please open an issue in https://github.com/matrix-org/matrix-spec

[2022-05-04 23:30] t3chguy commented on #276
We had this before, Riot Bot, and it was very painful overall

1. Very quickly became dated
2. Very unreliable
3. Broke down for unfederated servers
4. Couldn't handle internationalisation
5. Users often had multiple different apps and the bot could only cater to one of them

We already had it and it was hated, and faking it would be more work than standing up a real bot

[2022-05-04 23:31] t3chguy commented on #604
Default notifications are set by the server (Synapse)

[2022-05-04 23:32] t3chguy commented on #603
Curating should really happen on the server given Element can connect to any server and has no way to know which rooms are accessible over federation until it attempts to join them

[2022-05-04 23:32] t3chguy commented on #603
The Matrix spec also says that /publicRooms has to be sorted by number of users descending so will also need spec changes

[2022-05-04 23:33] t3chguy commented on #541
Keep in mind this feature may fail for some users given their servers may not be federating, e.g corpo

[2022-05-04 23:34] t3chguy commented on #847
What are contacts in Matrix?

Related vector-im/element-meta#341

[2022-05-05 02:33] robintown commented on #947
Related: https://github.com/vector-im/element-web/issues/17362

[2022-05-05 03:36] blark commented on #744
This is especially annoying when your name is also an english word. I get red messages anytime someone uses the work mark. Is it possible to remove this and only notify when someone does `@name`?

[2022-05-05 04:21] turt2live commented on #603
Related: the spec's plans to replace the room directory with a space.

[2022-05-05 06:59] SimonBrandner commented on #947
Related: https://github.com/vector-im/element-web/issues/16304

[2022-05-05 07:41] alittlebitofit commented on #499
@t3chguy theres still no profile picture history :o

[2022-05-05 09:47] natrius commented on #489
What about adding a local Broadcast group or list and just send them a message in the current existing personal room or otherwise create the personal messaging room.
Another take and it would probably remove the need for the "Hidden members of the group" and so on. But - its a different usecase, of course.

[2022-05-05 11:05] Avamander commented on #744
@blark

Only one I've hear is that you totally disable notifications/pings except for custom keyword that is your full `@user:homeserver.com`

I'm honestly really surprised that the ping method is currently and has remained this rigid and annoying.

[2022-05-05 11:17] ara4n commented on #135
Real-life microcosm of why [Hugh's refinement](https://github.com/vector-im/element-meta/issues/135#issuecomment-1095249727) is important:

![image](https://user-images.githubusercontent.com/1294269/166912605-373222ec-9227-4e30-a706-7894f8e3d8c4.png)

[2022-05-05 12:15] dkasak opened #256 "Add ability to be notified on all text messages, but *not* state events"
**Is your feature request related to a problem? Please describe.**
Choosing to be notified on "All messages" for a room currently notifies on both text messages and other events such as joins, increasing the badge count for the room (this is describing the behaviour in Element Web/Desktop).

![image](https://user-images.githubusercontent.com/463342/166920828-76da739e-a1a4-4207-8ead-b010bc32fc49.pn

[2022-05-05 15:17] kittykat commented on #841
We could do with a minor change to [this PR](https://github.com/matrix-org/matrix-react-sdk/pull/5626) for this issue to be closed. If anyone is interested in adding a commit to make the final changes, that would be really helpful!

[2022-05-05 15:23] uhoreg opened #257 "MLS support"
- \[x\] initial plain MLS-over-Matrix test
- \[x\] initial Decentralized MLS test
- \[x\] backfilling MLS messages
- \[x\] comparison of MLS and Olm/Megolm
- \[x\] investigate suitability of OpenMLS for DMLS
  - write a wrapper library that implements DMLS
    - encrypt and decrypt messages with linear MLS group
    - merge multiple forks and decrypt
    - add/remove users with linear MLS group

[2022-05-05 17:17] daniellekirkwood commented on #947
Related: https://github.com/vector-im/roadmap/issues/21

[2022-05-05 17:22] daniellekirkwood commented on #515
Thank you! Yes, I created this as an empty issue and will add more info asap. Still, let's leave the label on it!

[2022-05-05 21:25] ara4n commented on #257
guess i should go register arewemlsyet.com? :P

[2022-05-05 21:26] daniellekirkwood commented on #847
Great question - maybe "Contacts" don't exist in Matrix but for our users we need to provide a way to 'find their friends'. On Mobile users are able to grant access to their contacts book and that enables them to see others that they may want to message. I'm updated this issue now.

[2022-05-05 22:35] MadLittleMods commented on #604
@daniellekirkwood To continue the better default notifications area this issue originally touched upon, see https://github.com/vector-im/element-meta/issues/256. It has a good small iterative improvement which doesn't require any extra backend work (just needs product decision on whether we like the new default proposed there).

[2022-05-06 08:23] ptman commented on #2702
what's the current best way to set an address for a space?

[2022-05-06 08:26] t3chguy commented on #2702
Space Settings -> Visibility (Public)

<img width="1075" alt="image" src="https://user-images.githubusercontent.com/2403652/167095581-4d039cd7-c3e0-4cea-a03e-4b43a9f6b7b5.png">

[2022-05-06 08:27] ptman commented on #2702
Ah, right. My mindset is clearly private + knocking, not public.

[2022-05-06 09:45] niquewoodhouse commented on #161
@gsouquet yes, I agree

[2022-05-06 11:08] Half-Shot commented on #1130
This would still be good to have, we regularly (in the bridge team) get folks pasting us logs via Element and being hit by somewhat invisible max size errors (the errors don't actually display in the client properly). It would be nice to offer a pastebin mode for this.

[2022-05-06 13:54] novocaine opened #258 "Tracking enabling/disabling the Threads beta"
Create an event to track when users enable or disable the threads beta.

This can be used to track:

- A funnel starting point for how threads are engaged with after enabling the beta
- Opt-in/out rates for the beta

It seems more useful to have an event than a user property, for the purposes of creating funnels etc

[2022-05-06 14:05] novocaine commented on #258
Would this be part of a new Setting event?

[2022-05-06 14:56] turt2live commented on #1130
(note that errors like that not showing up properly is considered a bug: please report it)

[2022-05-06 15:23] t3chguy commented on #499
@alittlebitofit the Matrix Spec still offers no sane way to look up the history of a state event or profile, hence Element not being able to show such.

[2022-05-06 19:32] Mikaela commented on #1961
As "my" users break the flow of/by joining a room before attempting to join the Space, my rooms currently require membership in Space which requires membership in a room. To remedy this, I would need the upcoming join rule `knock_restricted` (https://github.com/matrix-org/matrix-spec-proposals/pull/3787), but this means I will need to upgrade Spaces again.

Thus I would like to ask if this issue h

[2022-05-07 00:31] turt2live commented on #425
ftr we have removed custom status, though this issue appears to be more generic than that.

[2022-05-07 00:33] turt2live commented on #426
ftr the custom status labs flag has been removed for largely maintenance reasons. A proper implementation will be needed to support this issue's purpose.

[2022-05-07 01:03] turt2live commented on #2660
Do we need this? The user journey might never send the user to their own settings in this case: they'd more likely log out or open the app in another browser/device/incognito tab to issue themselves a password reset.

[2022-05-07 01:23] turt2live commented on #1637
this is worse with the new invite dialog (circa 2020 new, at least). Now it just says "Unknown error".

[2022-05-07 01:23] turt2live commented on #1637
at odds with https://github.com/vector-im/element-web/issues/9247

[2022-05-07 01:42] turt2live commented on #335
I don't think this needs product consideration. If the user has permission to redact an event, all the reactions should also be redacted.

From a spec side we can do more to actually support this, but a client-side solution would be suitable for now.

[2022-05-07 01:43] turt2live commented on #335
sorry, for clarity: if the user can *also* redact the reactions. Moderators/admins might want to clear the message preview for those with reactions enabled.

[2022-05-07 01:52] turt2live commented on #1871
I think this just needs a `trim()`

[2022-05-07 02:52] turt2live commented on #1262
ftr, we now have:

* People
* Chat
* Message
* ~~Direct Chat~~
* Direct Message

we seem to be getting worse.

[2022-05-07 03:56] turt2live commented on #1583
at odds with https://github.com/vector-im/element-web/issues/7897

note that we'd be somewhat unlikely to make them consistent, but might consider adjusting the design/representation of them.

[2022-05-07 11:54] HarHarLinks commented on #499
might also be seen as an anti-feature, see the "don't show historical display names" topic

[2022-05-09 13:10] niquewoodhouse commented on #238
Some ideas to explore:

**Move up the funnel and have ticked on by default, EG:**

<img width="1440" alt="terms-step-A@2x" src="https://user-images.githubusercontent.com/1587166/167411897-eb5dc0ce-7367-4cac-a432-66a2ed6cb95a.png">

- If we don't have it ticked by default, I don't think it would increase opt ins by much, because it's absolutely not mandatory so the Continue button would be active a

[2022-05-09 14:09] fedrunov opened #262 "Establish a reliable and fast communication channel with users"
We could benefit from letting users provide a quick response to some of changes we introduce. One way to do that could be to add some verified "service account" which will post messages to users, acting more as a person, rather than in change notes style. Users could react to this messages to share their thoughts about changes (e.g. thumb up or thumb down). This take less effort from users, so we

[2022-05-09 14:47] daniellekirkwood commented on #238
@niquewoodhouse Can I be frustrating and ask you to add numbers or titles to these options so we can be specific when we talk about the screenshots?

They look great -

[2022-05-10 07:21] germain-gg commented on #603
more-so than curating, it would be great that a homeserver admin have the ability to make some new users automatically join rooms or spaces.

This would be extremely useful for all the workplace segment, and maybe for the community segments too (for them to see the code of conduct in an announcement-only room for example)

[2022-05-10 07:37] germain-gg commented on #541
Hm to my understanding, this is what "Element Web/Desktop" does? How would this room be different?

[2022-05-10 07:42] germain-gg commented on #847
There is a contact picker API that exists, https://developer.mozilla.org/en-US/docs/Web/API/Contact_Picker_API but is unfortunately only available for mobile users
From where I stand, if we want that feature we need to build connectors to people's contact list, which is quite a big undertaking

[2022-05-10 07:59] t3chguy commented on #603
A homeserver admin already has that power, synapse has had this feature for a long time and ems makes use of it

[2022-05-10 08:01] niquewoodhouse commented on #603
Why does a home server admin get that right and a space admin doesn't?

If a space admin can trick you into joining 100 bad rooms when joining a space, can the same not be said for a home server admin?

[2022-05-10 08:03] t3chguy commented on #603
A homeserver admin gets full control of your account, that's just how Matrix works

[2022-05-10 12:01] daniellekirkwood commented on #541
If we already have a room thats great! We could highlight it better so user's know its there

[2022-05-10 14:18] BillCarsonFr opened #263 "Database migration UX"
When we will publish Element R to the store, we will have to migrate the way internal data are stored from the existing crypto SDK to the Rust crypto SDK.
This can take some time, and we will need to provide some feedbacks to the user.

This would appear the first time you launch the app after updating.
We can technically display a progress bar.
We would need some copy better than `App is performi

[2022-05-10 15:29] janogarcia commented on #264
@ara4n I'm not sure I'm following you specific use case/request.

You should get unread notifications (gray dot beside the thread timestamp in the thread list, or red dot if any unread reply contains a mention) on threads that match any of the following conditions.

- A: You are the author of the root message.
- B: You replied in the thread.
- C: You were mentioned in the thread.

Currently only c

[2022-05-10 16:52] niquewoodhouse commented on #947
A few of the related issues go into areas like where the typing indicator appear but I'd like to just try being very small in scope, to increase chances of shipping and seeing if it's had a good impact.

I think adding a border to the actual input will help increase visibility that this is an input.

https://user-images.githubusercontent.com/1587166/167679602-3ae0be6e-b9aa-4a1b-b4fa-740297d6c144.m

[2022-05-11 08:50] daniellekirkwood commented on #947
Great! Thanks @niquewoodhouse

I think there are issues with the current padding on the composer - especially when typing over multiple lines - so it would be great to get those fixed with this issue too.

[2022-05-11 09:25] daniellekirkwood commented on #947
Assigning to @gsouquet for when he gets back from vacation as we now have a design we can work with :)

[2022-05-11 09:39] kittykat commented on #947
One piece of feedback we had recently is that we should be showing voice message bubble on by default rather than hiding it - I personally agree with this as even though I'm not a voice message user, I've come to expect this to be visible based on seeing it in other apps. Would it be useful to review which features we hide behind `⋯`?

[2022-05-11 10:58] jittygitty opened #272 "Prompt to import E2EE keys when decryption errors are detected"
### Your use case

#### What would you like to do?
I had a user signed in to a device after which I signed that user out from element android, but I think I saved an export file with the KEYS.
I later installed Element DESKTOP (Electron web based) and logged in with that same user but got all these error messages:
** Unable to decrypt: The sender's device has not sent us the keys for this message.

[2022-05-11 12:10] clokep opened #265 "Option to enable URL previews by default in E2EE rooms"
**Is your feature request related to a problem? Please describe.**
It is frustrating/confusing that Element includes a setting "Enable inline URL previews by default", but this actually only applies to rooms that are not E2EE. URL previews in E2EE must be individually enabled in every room.

**Describe the solution you'd like**
1. Make it clear that the setting above only applies to non-E2EE rooms

[2022-05-11 12:51] clokep commented on #2141
Clients can choose to limit how deep the API goes by setting max-depth parameter; it could make sense to only load immediate sub-spaces or something from a UX perspective?

[2022-05-11 13:57] kittykat opened #266 "Add support for freeform reactions"
#### What would you like to do?

I would like to be able to send freeform reactions on all platforms

#### Why would you like to do it?

- [MSC2677](https://github.com/uhoreg/matrix-doc/blob/aggregations-reactions/proposals/2677-reactions.md) supports reactions with long keys, i.e. text reactions
- This feature is already available through other apps and our users can see those reactions
- It is a

[2022-05-11 14:09] t3chguy commented on #2141
Good point, entirely forgot about the existence of the depth parameter

[2022-05-11 17:52] kittykat opened #267 "Add support for posting freeform reactions on Android"

[2022-05-11 17:52] kittykat opened #268 "Add support for posting freeform reactions on iOS"

[2022-05-11 20:51] kittykat commented on #212
The issues still need to be labelled correctly even if they're owned by a team. My concern is that once they land on a team's board, they won't be labelled up, which will affect getting stats out of github.

Not specifically, we don't use the triage board when we pick issues to fix, rather focusing on labels and team boards.

Ah, the existing backlog column is used for untriaged issues from the ba

[2022-05-11 23:54] nadirtmalik commented on #338
Are we all connected in a private room?

[2022-05-12 07:24] germain-gg commented on #947
Really like the composer, it is much more defined and easier to spot

I'm not sure of the feasibility of the timeline bleeding behind the composer in its current state.
We should spike this, but I wouldn't be surprised if this ends up being a larger effort than anticipated

[2022-05-12 07:50] daniellekirkwood commented on #515
"should explore ways to give homeserver admins an easy way from GUI to setup auto-join rooms when registering...

But this means exposing some admin functionality from a standardised API (which means we need to go through an MSC \o/ )"

[2022-05-12 07:56] daniellekirkwood commented on #947
Can we start by implementing without the 'bleeding' or does that break the design too much @niquewoodhouse

[2022-05-12 07:59] t3chguy commented on #515
Given auto-join rooms is a Synapse-specific concept, it isn't something we should be doing. The Matrix Spec doesn't really have a concept of homeserver admins so adding features specifically for them becomes much harder as first you'd need to MSC that.

[2022-05-12 08:02] niquewoodhouse commented on #947
I think thats a good idea, I don't think we need the 'bleeding', its not really relevant to making it more visible, just a small detail that could follow up later or not, no biggie.

[2022-05-12 08:07] daniellekirkwood commented on #947
Great, thanks!

@gsouquet Can we do the spike and then discuss if we want to include the work to make the 'bleeding' happen?

[2022-05-12 09:05] daniellekirkwood opened #269 "Video Rooms on Mobile"
**Describe the bug**
When a Video Room (in Beta) receives a message I get a notification on my Mobile device. The push notification, when I click it, takes me to a blank screen... When I press back I go to my room list and the room is not there at all (so I cannot read the notification)

We need a much better fallback solution for Video Rooms _before_ we release Video Rooms to Stable-Production in

[2022-05-12 09:05] daniellekirkwood commented on #269
@frakic @novocaine @nadonomy @robintown

Let me know if you'd like more info.

[2022-05-12 10:48] daniellekirkwood commented on #947
As for Voice Messages, I think we should pull info from PostHog and move the icons around esp. if VMs are correlated to stickiness

Unless @niquewoodhouse has thoughts on moving VMs out of the overflow menu

[2022-05-12 11:26] axelsimon opened #270 "Searching rooms in a space should also find rooms by alias"
**Is your feature request related to a problem? Please describe.**
Rooms may have a certain name for historical reasons, and benefit from having aliases (local or not) that make their purpose more explicit.
For instance a "Home" room may be also have a #all-hands:server.tld alias.

When searching for rooms in a space, it would be helpful to also search these aliases for a match, not just searching

[2022-05-12 12:11] robintown commented on #269
I can't reproduce this on Android:

https://user-images.githubusercontent.com/48614497/168071756-cb21cfaa-68f0-464f-b74a-46de91d22527.mp4

The room also appears as normal in the room list. Is this an iOS-specific bug then?

[2022-05-12 13:13] daniellekirkwood commented on #269
Let me test on Android and get back to you - but yes, I'm mostly an iOS user

[2022-05-12 14:45] robintown commented on #269
Transferring to the iOS repo since I've remembered that iOS does filter out all room types that it doesn't recognize, and I pretty confidently recall that this behavior is specific to that client

[2022-05-12 14:45] robintown commented on #269
Actually, I don't have permission to transfer, so will close this and reopen there

[2022-05-12 14:45] #269 closed, assigned to robintown

[2022-05-12 15:12] daniellekirkwood commented on #134
We want to make the Username field "smart" so if a user enters their enter MXID and it is not aligned with the chosen server then the server updates.
When the user clicks out of the field, the page would refresh and update the SSO options of the new server and the Server field would also update.

👀 @ouchadam @pixlwave

[2022-05-12 16:06] daniellekirkwood commented on #135
@hughns We discussed this yesterday as a team and have added "sign out of all sessions" to the definition of done for this issue. I'm sure @ouchadam and @pixlwave will reach out with any questions if we have them :)

[2022-05-13 03:33] grahhnt commented on #559
this spec has been merged, is there any update on getting it implemented into Element?

edit: apologies, my synapse wasn't configured properly

[2022-05-13 10:32] t3chguy commented on #559
@grahhnt now that the MSC has landed, another would likely need to be written to make use of this in Servers & Clients, likely Element, Sydent, Synapse and more would need to have additional support for this feature to function for the use of 3PID invites.

[2022-05-13 10:39] t3chguy commented on #559
https://github.com/matrix-org/matrix-react-sdk/pull/7275 is the PR to support MSC3231 for basic registration, which will be a stepping stone towards this whole effort

[2022-05-13 19:28] turt2live commented on #1466
I don't think this needs design. We just need to fix the error message to understand what unfederated rooms are. We currently assume any `M_FORBIDDEN` error is a generic permissions error:
![image](https://user-images.githubusercontent.com/1190097/168376305-44b89a48-d260-4cab-9363-582fd91966a8.png)

[2022-05-13 19:29] turt2live commented on #1466
related: https://github.com/vector-im/element-web/issues/22102

[2022-05-15 00:02] jittygitty commented on #260
Has this been addressed? I was shocked to hear the "integrations" server which appears under "Integration manager" as "scalar.vector.im" is not even open sourced. Maybe that's not a deal breaker but how do we change it to a different server?

Because I just found https://github.com/turt2live/matrix-dimension and there might be others?

[2022-05-15 01:53] turt2live commented on #260
The status on this has not changed: you can run your own integrations manager no problem. The team does not wish to open source Scalar though, and is in fact looking at ways to decommission it in favour of a more reliable/maintainable option.

You are not forced to use Scalar. Please consult the documentation for the client of your choice for more information.

I'm going to lock this as the concer

[2022-05-16 00:57] amytimed commented on #841
This should really be added, otherwise you're stuck with a color, again and again, forever.

[2022-05-16 11:03] justjanne commented on #238
*All opinions are my own, just sharing my own PoV:*

Having pre-ticked boxes or having a more visible “accept” than “deny” button has some risks. It can lead to users accepting telemetry even though they might not want to (because they’re trained to just click “next” in dialogs).

Element has built a reputation of putting the user in power and providing a private and safe chatting experience.

Eve

[2022-05-16 11:31] niquewoodhouse commented on #238
Would you mind linking to an example that explains this point please?  So a change or release and the backlash it got, thanks.

Thank you for taking the time to share, very appreciated!

[2022-05-16 13:23] justjanne commented on #238
One example would be [Privacy blunder? Firefox's Get Add-ons page uses Google Analytics](https://www.ghacks.net/2017/07/13/privacy-blunder-firefox-getaddons-page-google-analytics/), and the followup [Mozilla is held to a higher standard](https://www.ghacks.net/2017/07/14/mozilla-is-held-to-a-higher-standard/)

(Note that I am involved in that event myself, being the user that posted the link to th

[2022-05-16 13:45] robintown commented on #272
I somewhat doubt that this feature would fly by the product team, given that exporting and importing E2EE keys is already a power user feature, and key backup is meant to help avoid these kinds of situations. https://github.com/matrix-org/matrix-react-sdk/pull/8272 is related and seems it may have helped you resolve the situation you described by prompting to unlock the key backup.

[2022-05-16 16:15] BillCarsonFr commented on #245
Interesting related blog post https://blog.neko.dev/posts/unable-to-decrypt-matrix.html

[2022-05-16 22:41] jittygitty commented on #272
@robintown Thanks for the link to https://github.com/matrix-org/matrix-react-sdk/pull/8272 but product team I think should not consider issues of decryption errors as power user thing, it turns off people to using the app, people want encryption but not to have it get in the way of easy clean way of using the app. So fixing these errors should be easy, not some hard geeky process.

[2022-05-16 23:27] jittygitty opened #570 "Consider moving to FLUTTER for development for some advantages?"
### Your use case

#### What would you like to do?
Ask if maintainers would consider developing FLUTTER version?

#### Why would you like to do it?
A Flutter version would likely be half the size of the current APK but most importantly would likely run better and faster and have a "unified" User Interface across iOS/Android and even Desktop. Perhaps it wasn't considered previously since FLUTTER WE

[2022-05-17 04:16] turt2live opened #1001 "Some events non-obviously cause notification count changes"
To name a couple:
* Edits: https://github.com/vector-im/element-web/issues/20377
* Poll votes: https://github.com/vector-im/element-web/issues/21115
* Call end events: https://github.com/vector-im/element-web/issues/7941
* Voice Broadcast chunks (actually MSC3245 voice messages)
* Any other new event type we send and don't introduce a push rule for

For reactions and such we fixed this with [MSC21

[2022-05-17 05:25] turt2live commented on #354
This would be a server-side issue, I think.

![image](https://user-images.githubusercontent.com/1190097/168735300-4f430304-f456-49b5-8a38-1ae7ec77b748.png)

Element can't reasonably post-process these events if they're far enough in the timeline, so the server should be indexing the current version of the event rather than all versions of the event, I believe.

Not sure if the spec allows this - i

[2022-05-17 05:30] turt2live commented on #491
Related: https://github.com/vector-im/element-meta/issues/486

[2022-05-17 06:07] SimonBrandner commented on #1001
This is sometimes caused by the fact the server can't see the event type due to the event being encrypted (e.g. call hangups)

[2022-05-17 06:08] turt2live commented on #1001
That just means we're processing push rules either too correctly, or incorrectly. Our behaviour should be exactly the same as in unencrypted rooms.

[2022-05-17 06:10] SimonBrandner commented on #1001
We show notif counts based on what the server sends down during sync both in E2EE and non-E2EE rooms which is not ideal :/

[2022-05-17 06:13] turt2live commented on #1001
That might be an entirely different case then, annoyingly.

one day we'll fix notifications.

[2022-05-17 08:11] t3chguy commented on #272
Then it should be reviewed by product and be applied cross-platform

[2022-05-17 09:01] t3chguy commented on #379
If you are still experiencing this please open an issue in https://github.com/matrix-org/synapse/

Element cannot do this given how opaque the `/invite` API is

[2022-05-17 09:24] germain-gg commented on #1592
Those IDs are already somewhat public as they are exposed in matrix.to or `matrix:`.
Pillifying those IDs might be a bit of a stretch, but we should at the very least parse them properly. What we get today looks fairly odd

[2022-05-17 10:22] dkasak commented on #354
I'm reopening since we do also have client-side search (for encrypted rooms, via Seshat) and that is also affected with the same problem.

Thinking from a pure perspective of an Element user, this behaviour is surprising and a deficiency, and so should be tracked somewhere IMO, so that we can work towards the resolution. (The user will not necessarily understand or care what Synapse is, or perhaps

[2022-05-17 10:58] t3chguy commented on #1644
If you still value this enhancement I suggest opening an issue in https://github.com/matrix-org/matrix-spec

[2022-05-17 21:28] t3chguy commented on #280
UIA already is generic enough to allow for this by specifying a flow replacing `m.login.recaptcha` with `m.login.msisdn` alongside the original recaptcha flow.

If you still desire this I suggest opening an issue in https://github.com/matrix-org/synapse/

[2022-05-17 21:36] t3chguy commented on #427
Related https://github.com/vector-im/element-web/issues/7342

[2022-05-18 00:21] MightyCreak commented on #2422
To reiterate what I told in element-hq/element-web#6386, I think 100 ms is too short. I think the app should wait a certain amount of time (e.g. 2 seconds) before acknowledging the read receipt. Let some time for the users to decide if this is the right room or not.

[2022-05-18 01:10] Merulox opened #273 "Enable square profile pictures?"
### Your use case

In the appearance settings, it would be nice if we could enable square profile pictures instead of circle ones. Thank you for your time!

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-05-18 09:13] telmich commented on #3
I was looking for an option in element-web to opt-in users automatically into threading, without going to the labs menu - is this already an option? (Did not find it, that's why I am asking here)

[2022-05-18 09:33] t3chguy commented on #3
@telmich you can tweak default values via config.json e.g https://develop.element.io/config.json does with `feature_spotlight` - See https://github.com/vector-im/element-web/blob/develop/docs/labs.md for full list

[2022-05-18 13:03] germain-gg commented on #276
It'd be worth to understand what value this bot would bring compared to using the redesigned welcome screen https://github.com/vector-im/element-web/issues/21947

[2022-05-18 13:09] germain-gg commented on #515
The foundations of an administration API exists as part of https://github.com/matrix-org/matrix-spec-proposals/pull/3593 but this MSC's scope is probably a bit too large for what we'd like to do.

Another interesting thing to note is that the auto room join config lives in synapses yaml config, which requires a synapse restart to be picked up.

The synapse admin management is not really standardis

[2022-05-18 13:12] ghost commented on #275
This issue affects all of Element, so in my humble opinion, we should transfer this issue to element-meta.

[2022-05-18 13:13] ghost opened #274 "please delete"

[2022-05-18 13:17] Mikaela commented on #1961
Does this issue include rewriting `m.join_rules` in rooms that I am to replace the current room/Space ID with the new/post-upgrade room/Space ID?

Does this also include adding the old room/Space ID to `m.room.join_rules` if the current Space is restricted?

[2022-05-18 13:19] t3chguy commented on #1961
@Mikaela the internals of what a room (/space) upgrade actually do are up the spec & server, the client just hits the /upgrade API.

https://spec.matrix.org/v1.2/client-server-api/#post_matrixclientv3roomsroomidupgrade

[2022-05-18 14:08] germain-gg commented on #279
We will need @JordanConnor help to embed this on the website.

@daniellekirkwood Who would be in charge of coming up with the copy for this new page?

[2022-05-18 15:53] daniellekirkwood commented on #273
Thanks so much for the suggestion, @Merulox

At this time we use squares for Spaces and so wouldn't be able to also use squares for a profile icon.
I'm going to close this issue as "will not do" for now.

Thank you for sharing your idea with us - keep the suggestions coming.

[2022-05-18 15:53] #273 closed, assigned to daniellekirkwood

[2022-05-18 17:32] shoqvalue opened #691 "Posting text snippets instead of only messages"
### Your use case

#### What would you like to do?
Be able to post collapsible snippets of text, as is common on Slack and some of its clones.

#### Why would you like to do it?
Because often the entire need is to share a chunk of text, a transcript, or code with the team, and being able to do that quickly and easily would not only be an important feature, but one that most Slack users have come t

[2022-05-18 17:42] robintown commented on #691
Alternatives include:
- Uploading the content as a file
- Pasting it into a code block, which makes it collapsible and easily copied

[2022-05-18 17:48] shoqvalue commented on #691
IMO, that's just a workaround, not an alternative. The entire point to a snippet is to paste a chunk of text in a second or two while the need is top of mind, not having to take the time to create a file (I haven't had to do that in years to share a chunk of text). That's why snippets are so popular.

As for "pasting it into a code block," that would be acceptable if a) it didn't automatically for

[2022-05-18 18:02] robintown commented on #691
Thanks, that helps understand the request a bit better.

Highlighted text can be formatted as a code block like so:
![code](https://user-images.githubusercontent.com/48614497/169112154-ac26303b-79dc-4bb4-b1ef-1651f529efa8.png)

[2022-05-18 18:07] shoqvalue commented on #691
Oh, highlighted text. Gotcha,. Yeah, that's useful, but a snippet is more useful for code (imo) because it can be edited and annotated like a document right there in the message editor.
\

[2022-05-19 08:41] dkasak commented on #691
I often want to share my Markdown notes with people, but the note can get long and then it feels spammy when it fills out an entire screenful or more. This would come very handy in this case.

If text snippets are implemented, one other useful behaviour change for them would be to parse Markdown properly, so that paragraphs are delimited with empty lines between them and newline characters inside

[2022-05-19 15:03] daniellekirkwood commented on #279
I'm changing the tags from Needs-Design to Needs-Info and Needs-Product as I'll work on updating this issue so the problem and solution is much clearer

[2022-05-19 15:06] daniellekirkwood commented on #276
This idea featured so low down in our ICE framework prioritisation workshop that I'm going to move it to meta and stick it in "discussions"

[2022-05-19 15:07] #276 closed, assigned to nobody

[2022-05-19 16:04] t3chguy commented on #279
If this is an issue for the website can we please move it to https://gitlab.matrix.org/new-vector/element/element.io/-/issues?sort=created_date&state=opened - it'd be great to keep the hygiene of this repo about the Element Web codebase

[2022-05-20 08:56] raphj opened #689 "Keywords to disable notifications"
### Your use case

#### What would you like to do?

I'd like to be able to define keywords or regular expressions that will disable the message notification (possibly for some channel specifically). And maybe a maximum message length (if the message is longer, produce the notification). It would be like the  notification keywords that already exist, but opposite.

#### Why would you like to do it?

[2022-05-20 08:59] t3chguy commented on #689
Notifications are handled by both clients & servers, I suggest opening this issue on https://github.com/matrix-org/matrix-spec

[2022-05-20 09:24] JokerGermany commented on #266
Would be cool if it would support displaying pictures as reaction as well.
e.G. this would be useful for Discord Bridges.

[2022-05-20 09:40] BillCarsonFr opened #278 "Dehydrated device Settings"
Related to [MSC2687](https://github.com/matrix-org/matrix-spec-proposals/pull/2697)
and [MSC3814](https://github.com/matrix-org/matrix-spec-proposals/pull/3814)

Dehydrated device is adding the possibility for a user to still access e2ee messages that was sent to him when he had 0 active sessions \(logged out from everywhere\).
In order to do that, we declare a sort of virtual device on the accoun

[2022-05-20 10:27] daniellekirkwood commented on #279
I'll move it to Meta. It applies to all platforms and is currently a PM and Design task

[2022-05-20 10:28] BillCarsonFr commented on #278
@amshakal  we should find a place to gave some feedback if something went wrong.
Like if we tried to rehydrate in background and it fails (the key is not correct).
We might just want a section in security (doesn't have to be a global modal). From there the only action could be to reset the dehydrated device, i.e create a new one, and we need 4S passphrase for that

[2022-05-20 12:40] uhoreg commented on #278
We should also figure out how to enable/disable device dehydration.

[2022-05-20 13:48] shoqvalue commented on #685
@robintown Thanks for showing me the history here. I don't quite understand why this issue would be several years old and get so little discussion, given how common the feature (combing text and image(s) ) is on Slack.  Is this a big technical challenge for Matrix, or is it just something Matrix developers don't see a need for and it needs some lobby efforts by users?

[2022-05-20 16:58] turt2live commented on #685
from the Matrix side, it's technically infeasible in the current structure, but over the years we've been working on fixing that in multiple ways. For instance, there's a change in the pipeline to handle images differently to allow them to have a "caption" specifically, which starts to open up the option of having text+image in the same logical message.

[2022-05-21 16:16] shoqvalue commented on #685
Thank you @turt2live. Is it possible to summarize for me, a lowly GUI designer, not a programmer, exactly what the challenge is in doing this? Is it simply the complexity of federating an image and text together?  It feels like content would be content, and the protocol woudn't care whether it contained  text, text with image, etc.  Obviously, this is probably not the case, but I'd be interested i

[2022-05-21 16:45] turt2live commented on #685
It's backwards compatibility: while we can easily send it, other people might not be able to see it. We just have to get all the pieces put together so we can do the switch :)

[2022-05-21 19:46] shoqvalue commented on #685
Ah, thanks, That makes some sense. But couldn't that be partly remedied with a) a different rule for federated output vs local element messages, or perhaps b) a simple embedded "Note" that when clicked, explained that info may have been redacted due to network compatibility issues? That could both alert the user to the omission, while serving to nudge the matrix client developer that they need to

[2022-05-21 22:47] turt2live commented on #685
The problem is all of that behaviour needs to be specified too, so we might as well go the route of fixing it properly the first time for the same effort.

Clients aren't currently smart enough to know what to do with unknown data, so we're trying to make them smarter with Extensible Events.

[2022-05-22 10:33] t3chguy commented on #1644
Actually my bad, for the datums requested they are already available on the API, it is just unclear in what non-technical manner they would be presented

[2022-05-22 11:02] ara4n commented on #280
This would be a great FTUE refinement; moving it to element-meta given it needs to be driven by product, and isn't EW specific. Also opened https://github.com/matrix-org/synapse/issues/12834 for the backend side of it.

[2022-05-22 11:13] t3chguy commented on #280
This would require having the server ask for the MSISDN during registration in the first place which could have a detrimental impact on FTUE

[2022-05-22 11:29] ara4n commented on #379
This is literally one of the top 10 UX problems in Element today (by my metrics, at least).
 * Have filed an explicit bug against backend to add the needed API
 * Have reopened this, because once the API is available, EW will need to be changed to use it (likewise EI & EA)

[2022-05-22 11:49] ara4n commented on #281
This needs product input.  Considerations are:
 * Room (and space) permalinks should be shown as room pillls (which they are already)
 * User permalinks should be shown as user pills (which they are already)
 * It's less clear what to do with message permalinks:
   * Show a pill which includes a timestamp and a username and the (beginning of) the message?
   * Show a url preview?
   * Show a link

[2022-05-22 12:31] t3chguy commented on #281
This should be considered in the context of all platforms, not just web, as permalinks right now are super ugly and the matrix.to url preview rather useless

![image](https://user-images.githubusercontent.com/2403652/169695259-0ac2ab03-3cc9-4604-943d-097aaaa0c57f.png)

[2022-05-23 07:29] BillCarsonFr commented on #278
My idea was to bundle that with 4S. Not sure we need more fine grain configuration.

[2022-05-23 13:33] kittykat commented on #164
Closing as all sub-issues have been resolved

[2022-05-23 13:33] #164 closed, assigned to kittykat, niquewoodhouse, gileluard, fedrunov

[2022-05-23 19:11] t3chguy commented on #182
Merging with https://github.com/vector-im/element-meta/issues/341

[2022-05-23 19:11] #182 closed, assigned to nobody

[2022-05-23 20:27] HarHarLinks commented on #1001
- other call events like switching (my own!) screen sharing state also gives a notification

[2022-05-23 21:17] itguyeric opened #343 "Feature Request: Pop Out Chat"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

I would like to be able to click a context menu option and be able to pop out a conversation.

**Describe alternatives you've considered**

This would allow for the viewing of multiple rooms at once time scattered across multiple desktop windows or pulling out a single conversation hiding

[2022-05-24 04:17] SimonBrandner commented on #1001
The other side is responding to your SDP offer with an answer - the two ends need to agree on the media being sent

[2022-05-24 05:49] thalesfsp commented on #345
Since 2016.. and counting

[2022-05-24 12:03] giomfo commented on #120
We don't name the same left DM on mobile platform (Android / iOS)
<img width="816" alt="image" src="https://user-images.githubusercontent.com/8969772/170030073-45cc04ec-5905-4e86-a2d0-f6cf7fe48c6c.png">

We should take a decision

It should be "UserName (Left)"

[2022-05-24 13:03] HarHarLinks commented on #1001
Thank you for the technical explanation. I'm sure you understand that from an end user perspective it feels like I am the one sending something when I change one of my settings.
Regardless, this should not happen.

[2022-05-24 15:47] SimonBrandner commented on #1001
Yes, of course, this is a super annoying (was just trying to add some context as to how this happens)

[2022-05-24 15:54] ChargingBulle commented on #347
I would like to use this feature as "not yet read"
because sometimes you accidentally "read" something.
For example when you open the Element Electron app and it opens the last visited channel and thus marks that as "read".

Slack (and others) handle this much better. When someone sends me contract work to review perhaps I only have time for it in the next week. Slack offers a remind-me-again feat

[2022-05-24 16:13] chagai95 opened #346 "Group invite and join event to one if they are following"
### Your use case

#### What would you like to do?
Group invite and join event to one if they are following
#### Why would you like to do it?
When using the auto accept module this should mostly be the case and it is annoying to see both events.
#### How would you like to achieve it?
similar to the create room summary perhaps?

### Have you considered any alternatives?

completely removing them in

[2022-05-24 17:11] ara4n opened #348 "Collapse membership changes across day boundaries."
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I go to a quieter room, and have to wade through pages of membership changes before I can find the most recent actual content in the room.  This is particularly frustrating if you click on the room after reading its room preview, and expect to see the message in that room preview, but instead see a page

[2022-05-24 19:20] Thatoo opened #352 "Peertube widget"
### Your use case

#### What would you like to do?
As we have a youtube widget, Iit would be nice to be able to embed a peertube video in a room

#### How would you like to achieve it?
A peertube widget

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-05-24 19:29] Thatoo opened #353 "Fediverse widget and bot"
### Your use case

#### What would you like to do?
Embed, as a widget, a fediverse timeline, a specific account timeline, a local timeline or a federated timline.
And get a bot publishing within the room what a Fediverse account publish.
By Fediverse, I mean Mastodon, Pixelfed etc...
#### Why would you like to do it?
The widget: to be able to follow a specific timeline within a specific room and b

[2022-05-25 13:21] andybalaam opened #357 "Text after a quote gets dragged into the quote"
### Steps to reproduce

1. In the message composer
2. Type this message:

[code]
![image](https://user-images.githubusercontent.com/76812/170271581-5e7148c5-5c90-4f18-a34f-ccc1225a46ce.png)

4. Send the message

### Outcome

#### What did you expect?

I expected to see only the words "Quoted text" as the quote, and the word "After" to appear as non-quoted text.

Something like this:
![image](https

[2022-05-25 13:24] t3chguy commented on #357
This is just how markdown works

<img width="1188" alt="image" src="https://user-images.githubusercontent.com/2403652/170272486-18383080-b8da-4e0e-b600-301dc498d493.png">

before

after

Even here

[2022-05-25 13:28] andybalaam commented on #357
Hmm. Pretending I typed that is a little mean, but I guess we have to accept it unless we store the original markdown somewhere.

[2022-05-25 13:28] #357 closed, assigned to nobody

[2022-05-25 13:29] t3chguy commented on #357
@andybalaam that's https://github.com/vector-im/element-meta/issues/1493

[2022-05-26 05:28] adeorato opened #363 "Auto Delete old messages after given time"
### Your use case

#### What would you like to do?
I want to have old messages automatically deleted from the local file system. E.g. after x days or only keep newest 50 (e.g.) messages.

#### Why would you like to do it?
There are three reasons:

1. Disk storage -> What has been deleted does not need storage space.
2. I can't exclude that others get physical access to the PC. What has been delete

[2022-05-26 07:56] Mikaela commented on #362
https://element.io/user-guide ?

[2022-05-26 07:59] t3chguy commented on #729
This can now be supported via https://github.com/matrix-org/matrix-spec-proposals/blob/matthew/msc1763/proposals/1763-configurable-retention-periods.md

[2022-05-26 08:00] t3chguy commented on #363
Duplicate of https://github.com/vector-im/element-meta/issues/729

[2022-05-26 13:15] adeorato commented on #363
@t3chguy  no this is not a duplicate. vector-im/element-meta#729 is about server side. This bug is about client side.
I already learned that server side won't be done (federal design leads to no new features) so I opened a FR for the client.

So kindly reopen the FR.

[2022-05-26 13:20] ShadowJonathan commented on #363
@adeorato you can achieve the same effect (clearing messages) by going to All Settings -> Help & About -> Clear Cache and Reload, this will fetch all required information from the server and drop all local information, including all messages. E2EE data will not be dropped.

[2022-05-26 13:25] t3chguy commented on #363
Element Web doesn't store history, only a cached window of recent events which can be cleared via the above instructions by @ShadowJonathan.
Element Desktop has an additional encrypted search index to power message search which you can disable.

<img width="776" alt="image" src="https://user-images.githubusercontent.com/2403652/170496450-da6633fd-22b1-4d56-a07f-5137ded2740d.png">

Server side has

[2022-05-26 13:45] clokep commented on #338
A fairly easy solution to this could be to add spaces to the current room directory. The work required on the backend to do this would be:

* Allow spaces to be added to the room directory (I don't see anything immediately blocking this, but I might be missing something!).
* Have the room directory return an extra field (the `room_type`, as the `/hierarchy` API does).
* Allow filtering on room typ

[2022-05-26 13:55] adeorato commented on #363
@ShadowJonathan  and @t3chguy I tried your suggestions (clear cache and deactivate message search).
I cannot see any difference. All one-to-one chats are still there (with all messages) and no message seems to be missing?

[2022-05-26 13:57] kittykat commented on #338
I'm going to remove the needs product label as the above approach sounds great :+1:

[2022-05-26 14:07] t3chguy commented on #363
Because they're re-fetched from the server, there's no way to exclude them from `/sync`

[2022-05-26 14:58] adeorato commented on #363
And this is what this feature request is about: "also does not re-download from server"

[2022-05-26 16:03] ShadowJonathan commented on #363
So you're essentially requesting something like WhatsApp/Telegram's "Delete for me" feature?

[2022-05-26 16:20] zbejas commented on #363
Basically. It's a really useful feature, it's a pain to delete each message separately.

[2022-05-27 09:18] tmonz commented on #364
I'd be highly in favour of having such a feature added.

[2022-05-27 11:09] DMRobertson opened #365 "Ability to quote from multiple messages, or to quote only part of a message"
### Your use case

#### What would you like to do?

1. Click and drag over multiple messages
2. Pop up menu -> "..." -> "Quote"
3. Populate my text entry field with quotes from the text selected

#### Why would you like to do it?

I only want to respond to specific parts of text in a sequence of many short messages.

Or: I only want to respond to specific bits of text in one long message.

#### Ho

[2022-05-27 11:11] DMRobertson commented on #365
The behaviour at present: you can select whatever you like and try to quote it, but it will only quote (the entirety of) the message you happen to have your mouse cursor hovering over.

[2022-05-27 12:00] HarHarLinks commented on #365
would be nice to have this formatted properly, linking back to the respective author (and message?)

In particular this could be made to integrate well with the currently labs "Right-click message context menu".

[2022-05-27 12:58] adeorato commented on #363
Short answer: Essentially yes.

Long answer:
My use case is: If someone gets physically access to my computer he should not be able to restore old messages. I would prefer an automated solution for this (like delete after X days).
If it is deleted on the other communication partner side also, I am fine with it, but this is not a hard requirement. So if the mentioned issue https://github.com/vector

[2022-05-27 14:27] clokep commented on #338
@SimonBrandner wrote one! 🎉 See [MSC3827](https://github.com/matrix-org/matrix-spec-proposals/pull/3827)

[2022-05-28 13:28] MightyCreak commented on #367
Would it be possible to have a badge on the admins and moderators avatar within the discussion?

Whether it's a small flare next to the avatar or a bubble like the "Member" and "Contributor" ones in this GitHub thread. It would be nice to have that as it would help others in the room to know that the person speaking is a moderator or an admin. Twitch has that feature, for instance.

Let's take som

[2022-05-28 16:16] ghost opened #368 "Removing the colon appended to user mentions"
I would like to remove the colon appended when autocompleting a user mention at the start of a message:
![image](https://user-images.githubusercontent.com/35064754/170824877-78db762d-0d98-4a2a-b6f3-fd6f128c51d9.png)
This colon is only appended if the cursor is at position 0 (this is also a bit inconsistent). I don't think it adds any special value and I think it's just an unnecessary extra for no

[2022-05-28 17:56] turt2live commented on #321
There are early designs for this up at https://www.figma.com/file/ifIvZA4XIP1JTyndHFr5Ub/Community-PRs?node-id=21%3A15691 however the technical undertaking of the proposed changes is a bit on the difficult side.

Specifically, it relies on stickers being an API surface we can call due to them being a widget - this isn't impossible, and is in fact planned under my widgets work umbrella, but not som

[2022-05-28 19:27] seanfarley commented on #321
Why is this a server api at all? Just make a client-only keyboard that pastes a gif into the chat. I want to like matrix but y'all have a damn-near infinite feature matrix that makes progress nigh impossible.

[2022-05-28 19:38] turt2live commented on #321
For simple support, sure, we could do it entirely client side. For future options of potentially paid sticker packs and similar though, there needs to be a server :)

[2022-05-28 19:56] seanfarley commented on #321
Then do that? Don't let perfect be the enemy of good.

Dear god, stop.

[2022-05-28 19:59] michelebugio commented on #321
I feel like there should be a workable solution for the very short term, as the simple gif search and paste has now become such a widespread colloquialism that its absence prevents wider adoption of the whole matrix platform.

(it might seem like an exaggeration, but it's not, and it's also not the focus point, the focus here is to be able to search & paste gifs with the same ease as other messagi

[2022-05-28 20:42] turt2live commented on #321
this is why I've kept it in the design team's queue and not assumed their previous designs would work: we might not have the engineering bandwidth to fix stickers, but we may very well have the bandwidth to add gif searching.

For clarity: I was pointing out problems with the current designs, not proposing that the design team double down on the thing they've produced.

[2022-05-29 07:03] ShadowJonathan commented on #321
I'm not sure why stickers are relevant in this issue? Imo, this issue explicitly (and only) calls for something akin to the `/giphy` command on discord, and the `@gif` bot on telegram, to have a simple lookup-and-paste for GIFs.

This can be achieved by client-only changes, while I have opinions on making stickers paid, I don't see how stickers are relevant at all to this issue.

[2022-05-29 07:05] turt2live commented on #321
stickers and gifs are effectively the same thing at a technical level, regardless of presentation. As with most things Matrix, we don't generally want to tie ourselves to a specific gif provider so we'd probably lean on the sticker infrastructure a bit to anonymize access and generify the gif suppliers.

it's not a hard requirement.

[2022-05-29 07:08] ShadowJonathan commented on #321
Alright, but then I just want to note that mentioning paid stickers brings in a very bitter point in the conversation that can further pollute and confuse it.

It was also framed in a way that stickers *has* to be a client-server api *because* it should become a paid offering, which strikes the wrong tone.

[2022-05-29 07:12] turt2live commented on #321
it's no secret that stickers were always intended to grow a payments side to them - it would be entirely optional though. The challenge isn't the payment side though, it's that the current design mockups require gifs and stickers to be side-by-side with native UI: we'd need an API to be able to support this, which we don't have. Other options need to be explored, hence the call for re-design and p

[2022-05-29 07:41] iceHtwoO commented on #321
How about the feature where a user can send the URL of a gif and the clients render it? This could be a compromise to make it a bit easier for the user and your not going to tie yourselfs to a particular provider.

[2022-05-29 07:57] turt2live commented on #321
I think we generally want that for all images, yea. I can't find the issue easily though :(

it's a similar idea to inline widgets where things like youtube URLs magically become embeds (optionally).

[2022-05-29 10:53] moodler commented on #321
Travis, like many others, I believe this issue to be very important for widespread adoption of Matrix.

I've had a conversation with Mathew Hodgson about it where he said the core team is busy and that "we welcome community contributions".  Which is totally fair enough.

However, to now have issues like this effectively shut down with an over-complication and "the core team has to do it" at some p

[2022-05-29 10:59] beposec commented on #321
I second that. Just a client side gif picker would help a lot for now. Currently the iOS App is not even not able to play GIFs. They are converted to png... That's not what a messenger 2022 should do.

For later it's sure good to implement a server side solution.

[2022-05-29 11:49] ShadowJonathan commented on #321
The "GIFs are shown as PNGs" is an synapse as well as specification issue, see https://github.com/matrix-org/synapse/issues/1278 and https://github.com/matrix-org/matrix-spec/issues/453

[2022-05-29 11:50] finncelta commented on #321
I 100% agree that this goes completely against what open source software should be. We have seen multiple PR about this exact issue and a lot of feedback on every request of GIF implementation that shows that users really want this feature.
This issue has also been 7 years in the making and all we have to show for it are designs "we don't want to double down on", a temporary client side solution l

[2022-05-29 12:10] J-tt commented on #321
As someone who has a bounty on getting this issue resolved, seeing the core team drop its priority makes me genuinely sad, especially when others have clearly put effort towards claiming the bounty.

Is there any way to put money towards an issue to get it actually prioritised?

[2022-05-29 13:54] finncelta commented on #321
I've been talking with @iceHtwoO during the creation of his fork and to now see it just get dropped is kind of sad, we've been talking about maintaining a working fork that has the GIF integration, kind of like the SchildiChat guys do it. Other than that I don't see a way to get this into element without the core team implementing it themselves or becoming more open to the idea of client side GIFs

[2022-05-29 15:21] turt2live commented on #321
Hang on, there is definitely room for the community to contribute this. The current designs are far too complicated for someone to contribute though, which is why I'm sending it back to their queue.

[2022-05-29 15:30] turt2live commented on #321
In an effort to add clarity: all the discussion about stickers and mixing the infrastructure is to convey that the current designs are not feasible. We may very well explore it in the future, but for right now it's obvious we need something easier to implement and support.

With PRs stacking up against the feature, we can't reasonably do code review though, so have asked design to take a look at t

[2022-05-29 19:37] ghost opened #369 "Drawing and sending paintings in-app"
**Is your feature request related to a problem? Please describe.**

Often it's helpful if you can describe something in pictures rather than words.
Here are some situations:

* Wanting to do art and draw a painting.
* Preferring to write text by hand rather than type text.

  For example I have a tablet that I can connect to my desktop PC so I could write messages
  by hand. Mobile users could do

[2022-05-30 07:58] t3chguy commented on #366
Duplicate of https://github.com/vector-im/element-meta/issues/370

[2022-05-30 07:58] #366 closed

[2022-05-30 09:18] ShadowJonathan opened #371 "Showing Mutual Rooms"
This is a request to implement [MSC2666](https://github.com/matrix-org/matrix-spec-proposals/pull/2666) across Element.

Previously, https://github.com/matrix-org/matrix-react-sdk/pull/4897 had been in the works to add this to element-web, but it did not reach completion before I picked up MSC2666. Afterwards I found it hard to resume that PR.

This feature has already been added to js-sdk (https:

[2022-05-30 09:45] r4dh4l opened #1263 "Small symbol next to room avatar indicating the notification level"
This is one of the feature requests mentioned in https://github.com/vector-im/element-web/issues/8771 which @gsouquet asked me to split into single tickets. In this case:

Please add a small (persistent) symbol to the edge of a room avatar (in the room list on the left) indicating the notification level (the symbols are already there but only visible if you hover about a room with your mouse).

At

[2022-05-30 10:00] r4dh4l opened #2480 "Adjust room creation process to the "everything is a room" concept"
### Your use case

This is one of the feature requests mentioned in https://github.com/vector-im/element-web/issues/8771 which @gsouquet asked me to split into single tickets. In Element version: 1.10.13 the initial request does not fit anymore because the room creation was already changed but anyway there are some points I sill would like to suggest:

The current "Start chat" option confuses all

[2022-05-30 15:04] giomfo opened #372 "Direct Message: Manage encrypted DM in case of invite by email"
Currently this is possible to start a new DM by filling an email address.

The resulting DM is an unencrypted room (even if the encryption should be enabled by default according to the HS well-known configuration) because there is no way to encrypt message in this room until an actual matrix account has joined the DM:
<img width="1156" alt="image" src="https://user-images.githubusercontent.com/896

[2022-05-30 16:03] uhoreg commented on #1263
Which room avatar are you referring to?  The ones in the room list on the left, or the the one at the top of the room timeline?

[2022-05-30 17:19] gaelledel commented on #372
Currently in Element DMs can be group DMs so the logic here around blocking several email users will not work

[2022-05-30 20:41] BurnyBoi opened #373 "A way to send video files as "GIFs""
**Is your feature request related to a problem? Please describe.**
"GIFs" on Discord are many times just mp4 video files programmed to look and behave like a GIF. When trying to upload these to Element, they always show as a video that doesn't loop and doesn't play on hover (have to click play yourself)

**Describe the solution you'd like**
Add a setting when uploading these videos to tell Element

[2022-05-30 20:47] BurnyBoi commented on #368
Wasn't this already added under Preferences -> Composer:
![image](https://user-images.githubusercontent.com/41203525/171057520-890bdee8-c146-4fb8-877f-e3413c126ea4.png)

Edit: Whoops I see you got the answer in the element-web issue

[2022-05-30 21:10] ghost commented on #368
Oh well, that does solve my problem for now!

I suppose I could change this into a proposal to make the default `false`, or as before to remove the feature altogether. Whichever of the two works for the team.
Honestly, for the reasons listed I still don't even see the necessity of this feature. It should especially not be `true` by default IMO.

[2022-05-31 00:32] r4dh4l commented on #1263
Sorry, I mean the ones in the room list on the left. But actually: Why not both? They already both contain a symbol for "offline".

[2022-05-31 08:08] germain-gg commented on #225
@daniellekirkwood do you have any update on this issue? Moving this to the support column

[2022-05-31 08:10] germain-gg commented on #163
@niquewoodhouse do we have designs for this? This looks like it could be a good candidate for a WTF issue

[2022-05-31 08:25] germain-gg commented on #255
Thinking about this issue we need to define load time and what this means.

Im my opinion the app is loaded when the initial sync has completed. But given that a team is already working on sync v3 and actively working on speeding the sync times this task should be scoped to everything that happens before the first sync request is triggered.

As a first step all platforms should add performance rec

[2022-05-31 13:59] #374 closed, assigned to nobody

[2022-05-31 14:39] daniellekirkwood commented on #238
## Discussion on a call today
* Best to stay away from the check box option for reasons discussed (including morality above)
* Can we know which "approve" was more successful, if we show users more than one option

- [x] @niquewoodhouse will update this issue with final choice (added image description)
- [x] @gsouquet will then run that past Legal team

[2022-06-01 12:12] amshakal commented on #263
[Proposed solution](https://www.figma.com/file/0LOheXPc2lZVOQUFHk8tS0/Database-Migration?node-id=2%3A2411):

<img width="568" alt="Screenshot 2022-06-01 at 1 12 50 pm" src="https://user-images.githubusercontent.com/85162587/171401695-ffde4a98-d59f-42ef-84e5-7aff520008fb.png">

Add a progress screen after the splash screen to show progress. This is the happy path. We need to discuss what happens in

[2022-06-01 14:12] cmurf commented on #1418
Just like with tagged/labeled/sorted emails, sometimes I care about whether there are unread messages and sometimes I don't. I think "track unread" (or not), or "track mentions" (or not) per room might need consideration. My most active rooms, I don't even care about unread as much as I care about getting to the "most recent unread mention of my name or a keyword". Of course that also brings about

[2022-06-01 14:54] uhoreg commented on #1263
For reference, the room list will show a notification icon if you change it to something other than the default.  But we'll see what the design team thinks.

[2022-06-01 14:59] t3chguy commented on #1263
Room list only shows it on hover unless the room is muted where then it'll always show it

[2022-06-01 15:36] uhoreg commented on #1263
Ah, I stand corrected.  I must have tested by setting it to muted.

[2022-06-01 18:13] pixlwave commented on #133
For the notifications prompt on iOS we are going to to let the prompt show itself naturally on the congratulations screen unless it doesn't work well in testing. This is due to the added complication that different homeservers can show the screens in different orders and might not even show an email screen to have the prompt follow either.

[2022-06-01 19:03] Tectract commented on #1418
Personally, I NEVER want which messages I have read to be tracked. I view it as a huge privacy violation. I never want notifications about unread messages in ANY chat room, and I would prefer if people are NOT ALLOWED to tag me, for any reason, ever. I just want to chat. I don't want notifications. No means no.

[2022-06-02 21:26] turt2live opened #377 "Consider changing the default history visibility settings for space-accessible encrypted rooms"
### Your use case

#### What would you like to do?

Create an encrypted room in my space where only space members can join, and allow them to see history.

#### Why would you like to do it?

Make this the default:
![image](https://user-images.githubusercontent.com/1190097/171740865-87b23bda-f2d9-4cfb-a305-944eff4b8450.png)

This will automatically enable sharing history for new members when they a

[2022-06-02 22:19] jdauphant commented on #120
Hey,

Thanks for this ticket.
We have users on our instances that have this issue, they don't see that someone left a direct message and send message to nobody (and they see only the problem later).

[2022-06-03 05:54] MadLittleMods commented on #379
Related to:

 - https://github.com/vector-im/element-meta/issues/1389
 - https://github.com/matrix-org/matrix-js-sdk/pull/1602

[2022-06-04 21:31] shoqvalue commented on #378
My 2 cents: The lack of captions or combined text and images severely limits how I use this app and it frustrates me (and others). This six year thread proves that much.

Here's my suggestion. Since Matrix cannot combine text and images right now. and probably won't for a long time, this quick and dirty workaround simply uses one Element UI to post sequential messages. The user can opt into the me

[2022-06-04 21:32] shoqvalue commented on #378
Should read "scrambled to provide"

(I was scrambling and typoed it :)

[2022-06-05 07:58] nailyk-fr commented on #347
Hello,

I didn't read all but see that you are talking about a bounty. Is there one already in place ?
If not, is it ok I start one ?

Thanks for your answer and sorry for my 'noisy' comment.

[2022-06-05 08:00] Biep commented on #378
Having a good general mechanism for grouping would solve this too.  Besides providing spaces, threads, and so on, it could also group together e.g. an image and its caption.

[2022-06-05 15:00] lanerussell commented on #2528
Has this issue been addressed? This is still a frequently occurring problem. I opened a separate issue about this back in Feb. 2021 (#16336) when I was getting grey shields even on messages I sent from my own devices. These devices have been logged in for several weeks and had been sending messages cleanly previously. Out of the blue, I just started getting grey shields.

Also interesting that I g

[2022-06-06 07:30] MurzNN commented on #378
For grouping several images with caption or description - here are my two MSCs:
https://github.com/matrix-org/matrix-spec-proposals/pull/3382
https://github.com/matrix-org/matrix-spec-proposals/pull/2881

[2022-06-06 08:46] daniellekirkwood commented on #379
@giomfo @gaelledel
This feels like a relevant issue for y'all. Will your work in the DMs space resolve this?

[2022-06-06 08:47] daniellekirkwood commented on #384
Other solutions considered: During onboarding (rather than at registration)

[2022-06-06 13:34] ErKaf commented on #699
Any updates?  Using “People” and “Rooms outside of a space” makes literally no sense if you can't deactivate the Home. Then everything is double...
But I would like to use them because IF the home is gone it's all way better sorted and cleaner.

[2022-06-06 13:35] ErKaf commented on #699
What? Why did I close it by writing a comment? That was an accident...

[2022-06-06 13:37] t3chguy commented on #699
I'd suggest not using the `Close with comment` button in that case
![image](https://user-images.githubusercontent.com/2403652/172171463-8e9f7dad-245f-45c4-b59d-c7d477a9d523.png)

[2022-06-07 00:02] turt2live commented on #397
I think we fixed this with preferredDomain being accessible over `.well-known`? Changing the hardcoded fallback still isn't feasible due to how v1 widgets work. You can, however, change the default for what it uses to create calls which then gets populated.

[2022-06-07 04:44] 3nprob commented on #364
It seems that in this thread there is discussion both about absolute message lifetimes (as per this issue) and self-destructing messages (#82). Just want to note that as described these are not the same feature.

#82 describes supporting [MSC2228](https://github.com/matrix-org/matrix-spec-proposals/pull/2228).

Lifetimes sets an expiration/destruction time at creation. After that time, the message

[2022-06-07 05:09] chagai95 commented on #397
Could you elaborate or link my to the relevant issue? I would like to understand more about how this works and why it's not possible to fix... We would like to use different web instances for each customer and this means they will be depended on our web instances if we don't build customized apps for each customer...

[2022-06-07 05:10] turt2live opened #398 "Delete media from the server when the event is redacted"
In theory if we do this right on the technical side then there won't be any client changes, however this is an important enough feature to need to point people at UI-wise. We might also want to add a checkbox or similar for "[ ] and all related media", so could argue it needs design 😇

This issue also doubles as a launching point if product/design wants to find a way to push it forward (alongside

[2022-06-07 05:20] turt2live commented on #397
the only dependence should be in extremely rare scenarios where the widget isn't being rendered by a client - the URL is otherwise intercepted by the clients before it even renders the Jitsi widget.

If there's a case where the app.element.io link leaks outside of the widget frame, we would consider that a bug and it should be fixed. As a fallback though, a well-behaved Element client should be in

[2022-06-07 05:28] chagai95 commented on #397
Didn't it always show when you pop out a widget? We have that behavior set as the default for us... I think if you don't pop it out you can't screen share from jitsi due to another bug.

[2022-06-07 05:44] turt2live commented on #397
The only screenshare bug I'm aware of is https://github.com/vector-im/element-desktop/issues/683 which would mean deploying your own desktop app to trigger, or some other config management system which changes a bunch of different variables.

We do kinda want to get rid of the popout button on Jitsi widgets though given it can cause problems for authenticated environments, however this is long dis

[2022-06-07 05:56] chagai95 commented on #397
We deploy our own desktop app(s) and have a fork which fixes the authenticated issue when you pop jitsi out. I guess we'll have to wait for Element call and hope this doesn't pop up in an unexpected way.

In general the principal we're trying to follow at Aarenet is to have it fail rather than fallback on Element, I understand that's not a good choice for you but for us if some Element domain sudd

[2022-06-07 11:01] AlexLJordan commented on #1088
Is this the main issue for all the other related ones listed above?
It infuriates me to no end, when avatar changes or name changes in groups bring that room to the top of the list. It even shows it as a little dot indicating its not a "pinging notification" i suppose, so apparently it is known that i actually am not interested in this? I have disabled all relevant available settings namely "show

[2022-06-07 12:42] Biep commented on #364
Yes, very much so.  But I am afraid that implementing a half-solution (only ephemeral messages) will push a thorough solution off the table.  (Not unlike the way partial solutions for spaces and threads, and maybe eventually captions, will no doubt push a generic solution for grouping - that would have enabled implementing all those specific cases - off the table.)

Destruction is merely one speci

[2022-06-07 13:01] Hexalyse commented on #364
Have we really been discussing this for two years ? I feel like, even just ephemeral messages took ages to be implemented on some clients, even after it was implemented on Synapse. I can't even imagine how something like what you propose @Biep will take to be discussed, and eventually implemented.

But your proposal indeed sounds like a more generic and powerful solution that would allow many diff

[2022-06-07 13:04] 3nprob commented on #364
Indeed.

I guess the next step would be to draft an MSC and file it in https://github.com/matrix-org/matrix-spec-proposals/pulls, as it would require extending the protocol.

[2022-06-07 13:44] MadLittleMods commented on #256
Related issues:

 - https://github.com/vector-im/element-meta/issues/1088
 - https://github.com/vector-im/element-web/issues/1544
 - vector-im/element-meta#337
 - https://github.com/vector-im/element-meta/issues/1633
 - https://github.com/vector-im/element-meta/issues/1089
 - https://github.com/vector-im/element-web/issues/5479
 - https://github.com/vector-im/element-web/issues/10954
 - https://gi

[2022-06-07 13:49] #250 closed, assigned to BillCarsonFr

[2022-06-07 14:01] ShadowJonathan commented on #256
Related: How well does Element currently educate the user what an "event" is? (As opposed to a message)

[2022-06-07 14:05] MadLittleMods commented on #337
Duplicate of https://github.com/vector-im/element-meta/issues/256

[2022-06-07 14:05] #337 closed

[2022-06-07 18:52] Cloudwalk9 opened #403 "Cannot moderate messages of ignored users, because they are hidden"
### Your use case

#### What would you like to do?
View the messages of ~~blocked~~ ignored users.

#### Why would you like to do it?
I must be able to moderate users who I personally do not wish to speak to, but can still remain in a room.

#### How would you like to achieve it?
Do what Discord does with a global, per-room, and/or global-except-for-rooms-you-moderate opt-out (or in) setting. Coll

[2022-06-08 06:57] Even-Dawn opened #414 "Google Calendar widget integration"
### Steps to reproduce

1. Starting in a room, clicking on the Integrations button on the iPhone app or on the Room info then Widgets on the desktop browser.
2. Choose Google Calendar integration and add calendar ID (making sure that the users emails are added)

### Outcome

I expected to open the calendar widget and see the calendar I had added.
Instead I got the error message 'This calendar coul

[2022-06-08 07:08] t3chguy commented on #414
You have to make sure the calendar is set to public

[2022-06-08 07:13] Even-Dawn commented on #414
Hi @t3chguy, I changed the access settings for the calendar to public and still get the same issue.

Thanks though, wish that had been it.

[2022-06-08 10:25] Jieiku commented on #1476
What is msc2545?

[2022-06-08 11:03] natrius commented on #1476
I think https://github.com/matrix-org/matrix-spec-proposals/pull/2545 is meant. On the other hand, mumble is currently rewriting its core (i think) and it should be easier to implement this afterwards. https://github.com/mumble-voip/
Voice-Channels would should have priority above sticker packs :)

[2022-06-08 16:34] geekosaur opened #417 "Allow setting a password after creating an account via OAuth"
### Your use case

#### What would you like to do?
#### Why would you like to do it?

I created an account (via the Android application, but this doesn't seem to be relevant) using Google OAuth. Now I would like to use a desktop app that's somewhat lighter weight than one based on Electron (specifically Nheko), but all of them seem to require a password instead of using OAuth.

#### How would you