[2022-06-08 16:37] t3chguy commented on #417
You can do this by adding an email then resetting your password.

Related https://github.com/matrix-org/synapse/issues/11944

[2022-06-08 17:34] clokep commented on #84
This is done!

[2022-06-08 17:34] #84 closed, assigned to nobody

[2022-06-08 18:05] giomfo commented on #379
@daniellekirkwood I would say no for the moment. This issue requires first some changes in the data available for an invited room.
https://github.com/matrix-org/synapse/issues/12835 should be considered first with eventually designer point of view

[2022-06-09 03:42] Even-Dawn commented on #414
One of the main reasons I need to use the Google Calendar integration is actually to schedule meetings. I saw in the Element User Guide that there was a widget called Meetings. Does anyone know whether that widget is available?

[2022-06-09 03:52] Even-Dawn commented on #295
Hi, did this feature get implemented? I also need to schedule Meetings and would rather not use Google Calendar integration if possible.

[2022-06-09 16:52] ara4n opened #420 "If someone invites you to a room and then leaves that room, the client should remove the useless invite."
**Describe the bug**
If someone invites you to a room they then leave, EW gives a nice "That person has left the room" when you try to accept the invite. At which point, you'd expect the invite to disappear. Instead, it hangs around, and you have to explicitly reject it. Why not reject it automatically?

**To Reproduce**
Steps to reproduce the behavior:
1. Invite a user to a private room
2. Leave

[2022-06-09 17:38] 00011100 commented on #339
I'm excited to see this is on the public roadmap. I'm sure developers have bigger fish to fry in terms of the roadmap, but this thread was created over 5 years ago. Hoping to hear updates soon!

[2022-06-09 20:18] Lamdarer opened #421 "Show threads in the main room"
### Your use case

#### What would you like to do?
I would like to see answers of threads in the chat as normal messages(as it is now if I do not enable the Beta)

#### Why would you like to do it?
Because its inconvenient to open threads, write in a smaller/side window etc
Except when the main chat is bussy or afterwards, when I only whant to read a singe conversation that is captured in a thread

[2022-06-09 20:22] Lamdarer commented on #421
kinda related I think: https://github.com/vector-im/element-meta/issues/235

[2022-06-10 17:10] lanerussell commented on #2528
Any updates here @SimonBrandner ? Now seeing grey shields on alternating messages in some cases.
This issue should probably be escalated as it seems to be getting worse with recent releases and directly impacts people's impressions of Element's E2EE trustworthiness.
![1](https://user-images.githubusercontent.com/20979879/173116532-3059492d-1891-44f6-8910-f3105b0e443d.png)

[2022-06-10 20:32] ghost opened #422 "Improve UX of Upgrading Rooms"
### Your use case

#### What would you like to do?
Provide a way for rooms to be upgraded in place rather than split off a new room.

#### Why would you like to do it?
Because the current UX of having a new room split off from the current room is terrible, often times the 'old' room cannot be rejoined especially if it's a private room even though the user had permission before. Also it is very con

[2022-06-12 07:21] waclaw66 commented on #398
That takes into account the newly redacted messages when it's implemented, right? What about gigs of attachments that have been already redacted, but there is no reference (message source cannot be displayed) to it's mxc in the db?

[2022-06-12 20:16] fraimondo opened #461 "Everyone appears offline"
### Steps to reproduce

1. Where are you starting? What can you see?

I have 3 macOS computers and an android phone. I just recevied a new macbook pro with an M1 chip and installed element desktop for work.

3. What do you click?

Open browser. Login to our own server, verify devices, see the messages and user list.

### Outcome

#### What did you expect?

Same behaviour across computers/platforms

[2022-06-12 20:41] t3chguy commented on #461
matrix.org has presence disabled, if you want presence then use a matrix server which has it enabled. Behaviour is undefined when a server disables this feature, the spec doesn't really say it can be disabled yet some servers do it anyway.

[2022-06-12 21:44] fraimondo commented on #461
we don't use matrix.org. it's a matrix based server with presence enabled.

in android and the Intel mac, presence works fine.

-------- Original Message --------
On 12 Jun 2022, 22:41, Michael Telatynski wrote:

[2022-06-12 22:05] t3chguy commented on #461
You filled the issue template stating otherwise

matrix.org

[2022-06-13 00:59] prabhathc commented on #1476
Hey all, is it possible to also consider the deafen feature? Deafen mutes the user's audio output and mutes all incoming audio from group calls just for the deafened user, convenient feature that should be straightforward to add.

[2022-06-13 07:34] fraimondo commented on #461
It's a custom domain hosted at modular.im, which is now EMS

[2022-06-13 07:35] fraimondo commented on #461
I just changed the issue

[2022-06-13 20:04] turt2live commented on #438
This should be re-opened against go-neb.

[2022-06-13 20:04] #438 closed

[2022-06-13 20:06] #449 closed, assigned to nobody

[2022-06-13 20:07] #451 closed, assigned to nobody

[2022-06-13 20:16] Mikaela commented on #438
FWIW https://github.com/matrix-org/go-neb/issues/319

[2022-06-13 20:46] turt2live commented on #1336
(moving back to web - this is a moderation tool, not the act of "delete room because I can")

[2022-06-14 05:12] turt2live commented on #2411
Related: https://github.com/vector-im/element-web/issues/3846

[2022-06-14 05:49] turt2live commented on #515
@daniellekirkwood can we get an update on this issue please? The description is still blank, and queued for closing.

[2022-06-14 08:45] daniellekirkwood commented on #515
Sure. Why is it queued for closing?

[2022-06-14 10:27] t3chguy commented on #515
@daniellekirkwood because it has been marked as Needs Info for a month

[2022-06-14 12:30] DMRobertson commented on #429
(should this be in `synapse` rather than `element-meta`?)

[2022-06-14 12:33] t3chguy commented on #429
The synapse repo has a history of rejecting enhancement requests they do not internally deem beneficial to the repository, which may require more context from the Element Product team to push them through, so they live here until a team picks them up and drives them

(edited to clarify the wording)

[2022-06-14 12:41] t3chguy commented on #947
This got reverted https://github.com/matrix-org/matrix-react-sdk/pull/8840

[2022-06-14 15:28] DMRobertson commented on #429
Oh I see: the point is that the circle's colour doesn't match that which Element uses. (I thought the complaint was "no text at all")

[2022-06-14 15:29] tobiasBora commented on #322
I also completely agree. To complete this idea, the message in the main room could also be like the message one gets when a new member joins a room, with a tiny text saying `A new message has been posted to thread XX`. The advantage of this is that it would not vanish (as opposed to unread messages), meaning that I can easily move to the appropriate thread later.

[2022-06-14 15:35] tobiasBora opened #467 "Sub-threads"
### Your use case

#### What would you like to do?

I would like to be able to create multiple subthread from a thread. The thread view could list a tree of thread instead of a list, and when a new message is posted in a subthread, a small notification like `A new message has been posted in thread XXX` could be written in the parent thread**s** (see also https://github.com/vector-im/element-meta/i

[2022-06-14 15:42] #467 closed, assigned to nobody

[2022-06-15 02:39] jph168 opened #469 "Clearer Less confusing History Section in Room settings"
### Your use case

#### What would you like to do?

instead of:

Who Can Read History?
Changes to who can read history will only apply to future messages in this room. The visibility of existing history will be unchanged.

Members only (since the point in time of selecting this option)
Members only (since they were invited)
Members only (since they joined)

something more along the lines of:

Who

[2022-06-15 07:50] t3chguy commented on #469
Moving to meta as mobile has the same wording

[2022-06-15 07:50] #469 closed, assigned to nobody

[2022-06-15 09:56] deniseal commented on #238
Reviewed as per request from @gsouquet.

From a legal standpoint we cannot have pre-ticked consent boxes, as that does not meet the definition of consent set by the GDPR. Although cookies and other analytics are governed by other pieces of legislation (PECR, in the UK), they get their definitions of consent from the GDPR so we need to consider both.

Also agree with the comments above that pre-che

[2022-06-16 05:14] moodler commented on #321
Is there anywhere we can see progress or timelines from the core team on this and perhaps contribute to UX testing?

I could send thousands of users your way if needed.

That said, I don't think it's a complex UI at all.  There are great examples to borrow from in WhatsApp, Twitter and Telegram.

[2022-06-16 05:24] captainperth commented on #321
Seconded, I work in a small team that uses element for all internal messaging. We'd love to contribute if it means helping getting this feature off the ground.

[2022-06-16 08:11] daniellekirkwood commented on #238
Thanks, @deniseal

- We will **not** pre-check the consent box.
- We will add a link to our cookie policy - today's solution has the same link I believe :)
- There are no new cookies or changes to our policy - we're just moving the button.

Thank you!

@niquewoodhouse Could you update the figma?

[2022-06-16 12:26] ErKaf commented on #699
I can't tho. This always shows. No option to turn off...

[2022-06-16 14:23] turt2live commented on #491
Duplicate of https://github.com/vector-im/element-meta/issues/486

[2022-06-17 08:27] janogarcia commented on #322
@tobiasBora Thanks for adding your feedback, Tobias. We actually do have some design explorations on improving the visibility of new activity in threads (updates in the left sidebar, thread activity digests in the timeline, etc.).

Still, we wouldn't be broadcasting every single update/new message in the timeline, as it would defeat the whole purpose of threads.

We may, however, expose it somehow

[2022-06-17 13:17] niquewoodhouse commented on #238
Here we go, this is part of the welcome page test we'll run shortly.  The here text will open the cookie policy link.

<img width="1440" alt="AT1_analytics1@2x" src="https://user-images.githubusercontent.com/1587166/174305819-8334c26b-848b-4737-ba09-e99696cbaa2a.png">

In the mobile version we're copying there isn't a link to a cookie policy.

[2022-06-17 14:16] tobiasBora commented on #322
Well, for you what is the purpose of threads? I can understand that some people may use threads to keep a cleaner timeline, especially in large IRC-like rooms, and that's the reason why I'm proposing a discrete greyed one-line message following the style of:

![image](https://user-images.githubusercontent.com/2164118/174314822-2e17f462-abbf-47a6-b7eb-ebdd972f502b.png)

but in my case I primarily s

[2022-06-17 14:49] janogarcia commented on #322
Make multiple discussions more manageable over time. In rooms / for teams that choose to favor or combine async communication instead of relying on sync communication exclusively.

Zulip follows a threads-first paradigm, whereas Element implements a less opinionated approach to threads to support the existing user base better (work in parallel / side by side with sync chat rather than introducing

[2022-06-17 14:54] tobiasBora commented on #322
Sure, Zulip is definitely more opinionated (and it would be really cool to have an option to have thread-only rooms in matrix, especially if the current behavior stays possible), that's why I was thinking to use these mini notifications to provide something in between the current solution and the Zulip one (That said, one could also imagine a way to turn this notification on/off with an optional p

[2022-06-17 15:02] janogarcia commented on #322
Sorry, I was referring to discussing it internally (company internal rooms) with the team that worked in the threads implementation. Just to give you some visual context (nothing here is final, and there's no guarantee we may end up implementing it at all).

**Exploration on threads events**

We could broadcast major events: A new thread is created on a relatively old message. The discussion has r

[2022-06-17 15:16] tobiasBora commented on #322
Thanks for sharing this! So the "Exploration on threads events" is basically what I was referring to, except that I was thinking to smaller notifications (notably when a discussion is just resumed) and that the "relatively old" is defined as 0 seconds :-P (I find it a bit weird to have a notion of "relatively old", as if I don't see a notification I will never know if it's because the threads were

[2022-06-18 05:38] CoinMilk opened #471 "A way to send video files as "GIFs""
**Is your feature request related to a problem? Please describe.**
Discord displays some no-sound video files (eg mp4 and webm) as "GIFs," where you just hover the mouse over it to play it and it loops just like an actual GIF file. If I attempt to save the file and upload it with Element, it is displayed like a video file where others have to click play on it and it doesn't loop, which ruins the e

[2022-06-18 10:38] Thatoo opened #473 "Room's location and browse public rooms by location and browse space's room by location"
### Your use case

#### What would you like to do?
Be able to set a location to a specific room.
A local association has its own public room to be contacted by people from its "territory".
It sets a location in settings of their room.
People can browse rooms by location thanks to a browsing address system and a mapping system (if they want to browse in a location they might go traveling or move in

[2022-06-18 10:56] Thatoo opened #472 "Location spaces"
### Your use case

#### What would you like to do?
The user could be able to browse community space members by location around herself/himself.
#### Why would you like to do it?
Being able to find people living around (or staying for a while in the neighborhood) who belong to the same community (passion like astronomy, political subject, religion, LGBTQ+...) as the user.
#### How would you like to

[2022-06-18 11:08] Thatoo commented on #472
Well, it doesn't need to be a specific space actually, It might not be a space setting after all.
It should be a user choice in each space!
I feel that it's probably easier to implement and it gives the choice to the user.
When a user join a space, as it can set notifications it could set if she/he want's to share his location to other nearby users (how many X km around) of this specific space and

[2022-06-18 11:22] Thatoo commented on #472
Sorry, I try to clarify my thoughts... and make an example :
We have a Space called AAA related to a specific subject
We have X users in this space : user 1, user 2...
User 1 set that he accepts to be visible by people around him in a 10 km radius circle.
User 2 lives at 5 km from User 1 but don't want to be visible, so he won't be visible by user 1 and he won't be able to sort users by distance
U

[2022-06-18 13:21] rwjack commented on #360
Any updates on this?
I'm confident it is possible to resolve this if enough energy is directed towards the issue.
We're literally being chased by 7 year old bug, as if it were a ghost!

[2022-06-19 10:49] ghost opened #474 "Option for non-encrypted key backup"
**Is your feature request related to a problem? Please describe.**

I know that this kind of feature could be a security risk, but it's very annoying for me to put "1234" as a password for my megolm encryption keys.
**Describe the solution you'd like**

We could have an option for exporting the keys without encryption, with a security warning to make sure the user knows about the potential danger

[2022-06-20 04:39] schrmh commented on #480
I'd also like to see forums.
Especially since one competitor started testing a feature like that:
![image](https://user-images.githubusercontent.com/32062480/174525822-2dfdce7d-dedc-4494-b2f6-e9921f1b5217.png)
![image](https://user-images.githubusercontent.com/32062480/174525845-b32ed645-7fcf-4372-b77a-a18b5a8d0a3e.png)
![image](https://user-images.githubusercontent.com/32062480/174525893-a934861a

[2022-06-20 08:48] ShadowJonathan opened #475 "Remove or rework full-screen effects"
In my personal experience using Element (non-enterprise and fairly high-volume and power-user like), I haven't ever encountered a situation where a full-screen effect for confetti, snow, or fireworks would've really punctuated some event in chat, reactions and emojis in the chat were enough for this, for my feeling.

Because of that, others using the feature, and/or spamming it, soon became as obn

[2022-06-20 08:50] ShadowJonathan commented on #1366
This issue is now a duplicate of https://github.com/vector-im/element-meta/issues/371

[2022-06-20 10:24] SethFalco commented on #82
I'd really like to see this, but on a per-message basis.

I'd really like if users could set a [TTL](https://en.wikipedia.org/wiki/Time_to_live) on individual messages and/or media on a per-message basis. (Namely for attachments, though!)

The main reason is to reduce storage burden/cost on the homeserver. For example, 99% of files I've attached to messages are only needed for that short exchange.

[2022-06-20 13:40] theCalcaholic opened #498 "Improve UX of E2EE-initialization"
**Problem**
I had to aid many users in setting up Element, because they have trouble understanding what happens during E2EE backup creation \(and, in the worst case, gave up frustrated or lost their E2EE-key right away after "trying out" Element, aborting the backup process and losing their initial session\).
I observed the following challenges \(for non-technical users\):
- Users don't understand

[2022-06-20 14:14] HarHarLinks commented on #1138
A common talking point and strong counter-argument to client-side previews appears to be

Personally, I think this use case described by kevincox applies more often:

This applies only limitedly (?? can you say this in english?) when you both are hosted on a trustworthy homeserver, e.g. all conversation parties are self-hosting. For the time being this is the rarer scenario, however you could argu

[2022-06-20 14:14] HarHarLinks commented on #288
- https://github.com/vector-im/element-android/issues/3038: "[room] Administrators get to decide if the users of a room can individually enable/disable URL-Previews for their client. (defaulting to: disabled each)"
- https://github.com/vector-im/element-android/issues/2555
- https://github.com/vector-im/element-meta/issues/1138: receiver client side preview generation for e2ee
- https://github.com

[2022-06-20 16:28] Biep commented on #82
@SethFalco

You might like the more comprehensive proposal https://github.com/vector-im/element-meta/issues/364 .

[2022-06-20 16:29] Biep commented on #364
That would go beyond my capabilities, I am afraid.

[2022-06-22 00:19] CoinMilk commented on #471
Closing since the account that made the other one got restored

[2022-06-22 00:19] #471 closed, assigned to nobody

[2022-06-22 21:29] ewtoombs commented on #1383
It took me a whole day for my self-hosted user to join libera.chat##politics through the matrix bridge. Which is fine, but yeah that room joining UI was super unhelpful. I had to tail my synapse logs to figure out what the hell was going on.

[2022-06-23 07:24] Thatoo commented on #473
@SimonBrandner sorry to ask but could you tell me why you add the uncommon flag? It is not because other chat app don't offer this option that it isn't useful. Why would we not facilitate matrix users to find groups (association...) using matrix to communicate who are nearby IRL?
For example, someone living in Lorient or Lanester in France could find #accueil:defis.info a welcoming room of the ass

[2022-06-24 08:31] nadonomy opened #478 "Improve how we handle phone numbers"
From chatting with @richvdh we should come up with a plan to improve how we handle phone numbers in general. Using this issue as a bit of a braindump to co-ordinate from:

- Auth: We think we should solve phone number auth within the context of OIDC. cc @sandhose @hughns
- Contact discovery: We think we should improve privacy warnings on mobile within the context of ElementX. cc @manuroe @stefance

[2022-06-24 08:33] turt2live commented on #478
Web supports management (add/remove) of phone numbers in settings. I believe it can also resolve phone numbers to user IDs in the invite dialog, though would have to check to be sure.

Edit: resolution is during invites

[2022-06-24 08:59] richvdh commented on #478
This stems from the Synapse issue at https://github.com/matrix-org/synapse/issues/5881, which also has a bit more context on the current situation around the use of email addresses and phone numbers in Matrix at https://github.com/matrix-org/synapse/issues/5881#issuecomment-894291317.

[2022-06-24 11:54] sandhose commented on #478
I definitely want to add mobile verification support, to allow SMS-based 2FA, password-less logins and account recovery down the line (which are things I also want to do for emails). It doesn't mean we'll enable those on Matrix.org, but want that as an option in the authentication server.

Tracked here: https://github.com/matrix-org/matrix-authentication-service/issues/264

---

This however doesn

[2022-06-25 10:11] SethFalco opened #479 "Highlight or provide a TL;DR for unread messages"
**Is your feature request related to a problem? Please describe.**

In group chats, especially ones with a relatively short-term purpose, sometimes there are situations where someone is busy and can't read the chat but 2 or more people are actively talking.

When this happens, there can be 10s to 100s of messages which often is a bit much for someone to read at once, so it's easier to just skip to

[2022-06-25 14:21] t3chguy commented on #478
@nadonomy re contact web contact discovery, it is problematic https://developer.mozilla.org/en-US/docs/Web/API/Contact_Picker_API is only supported in the mobile web, not whatsoever on Desktop browsers. Electron does not have any support for this, we could probably add support for Windows & Mac with a significant amount of work for the built-in contact management utilities, for Linux I'm not sure

[2022-06-26 15:38] Palischmali opened #482 "element polls should offer a calender to set the due date of the poll"
### Your use case

currently
element messenger polls  (desktop and web) does not provide the option to set a due date for a poll

expected
element messenger polls inlcudes  a calender to set the due date for a poll. So the poll and due date can be posted in one step. The due date of the poll is clearer and better to communicate to the ones asked.

### Have you considered any alternatives?

_No res

[2022-06-26 22:40] mserajnik commented on #339
As a workaround until this gets implemented, I have developed a [browser extension](https://github.com/mserajnik/element-emotes) for me and my friends. It replaces the original emoji suggestions while typing with custom emote suggestions.

From a technical point of view, it behaves similar to Twitch emote extensions like [BetterTTV](https://betterttv.com/) or [FrankerFaceZ](https://www.frankerface

[2022-06-27 08:11] #482 closed, assigned to nobody

[2022-06-27 08:12] t3chguy commented on #2141
The current depth-first design was explicitly asked for by design at the time of the Spaces project, we need clarification if this needs changing or this request needs closing.

[2022-06-27 08:29] #473 closed, assigned to nobody

[2022-06-27 08:29] #472 closed, assigned to nobody

[2022-06-27 08:37] t3chguy commented on #1138
Client side generation in the web can be problematic due to CORS preventing access to other domains unless they have `ACAO: *`

[2022-06-27 08:49] t3chguy commented on #699
Just click `Comment` - the big green one

[2022-06-27 09:53] kittykat commented on #169
I'm going to close that issue now as we've progressed beyond using that Figma file

[2022-06-27 09:53] #169 closed, assigned to fedrunov

[2022-06-27 16:42] turt2live opened #488 "Riot should ignore events it cannot process (IoT)"
### Discussed in https://github.com/vector-im/element-meta/discussions/487

<div type='discussions-op-text'>

<sup>Originally posted by **turt2live** February 18, 2017</sup>
[![bounty](https://api.bountysource.com/badge/issue?issue_id=42187230)](https://www.bountysource.com/issues/42187230-riot-should-ignore-events-it-cannot-process-iot)

### Description

TL;DR: I made something that sent 43,200 c

[2022-06-27 19:28] jswetzen commented on #489
@natrius I'm looking for exactly this to seamlessly replace a WhatsApp broadcast list. If we could get people transitioning to Matrix over time as well, that's a win.
Is there an existing issue for broadcast lists?

[2022-06-27 19:56] #491 closed, assigned to nobody

[2022-06-28 12:29] Yoric opened #493 "We should be able to report invites as spam"
### Your use case

Being spammed with invites happen. One of the (many) steps towards fixing it would be making it easier to report an invite as spam.

I suggest that we should rework

![Screenshot from 2022-06-28 14-24-28](https://user-images.githubusercontent.com/10190/176177743-08835149-c1e2-4284-b7d6-7f6b4379367c.png)

# Proposition 1

Replace "Reject & ignore" with "Report & ignore"

![Screen

[2022-06-28 13:16] #493 closed, assigned to nobody

[2022-06-28 16:31] DMRobertson commented on #429
At the moment these circles are plain `<img>`s, see https://github.com/matrix-org/synapse/blob/c356b4bf422430cd5769c9bf90756fca2efd8451/synapse/res/templates/room.html#L6-L14

I'm not sure how easy it is to render text atop the images.

A block-display element with `border-radius` set would be ideal for drawing a circle, but it's not clear how [well-supported border-radius is](https://www.campaign

[2022-06-28 20:39] grimhilt opened #687 "Add voice message settings"
### Your use case

#### What would you like to do?
1. Disable consecutive voice message playback
2. Disable playback of paused voice message in queue system

#### Why would you like to do it?

1. Sometimes each voice message needs its own answer, consecutive voice message playback feature forces me to pause the next audio to let me write my answer.

2. I often re play an audio (A) for a specific p

[2022-06-29 09:44] kittykat commented on #367
I'm going to close this issue for now as all three platforms group Admins and Mods at the top of the room member lists.

[2022-06-30 05:26] JanetMw opened #1643 "Allow self destruct message and clear all message function"
### Your use case

Hello, I found it is a pain to delete all message if there are thousands of messages. I need to load all message first, and the software will send command to delete each message one by one. The message deletion process can take an hour and crash multiple times. After Deletion, loading the bulk deletion notice can slow down the app significantly and even crash.
I wish there to be

[2022-06-30 10:31] axelsimon commented on #498
Just to say that this is a fair point and a known issue / limitation of the way things currently work and folks at Element are aware of this and working to improve things.

[2022-06-30 13:53] anoadragon453 commented on #772
(Reposting from https://github.com/vector-im/element-web/issues/22698)

I can confirm that this is a bit of fun communities very often take part in on Discord.

![image](https://user-images.githubusercontent.com/1342360/176683567-e3d0bf64-22f3-4498-9c37-9a12691c795b.png)
![image](https://user-images.githubusercontent.com/1342360/176684140-6c8d0281-3720-439a-ac6b-c6d9603514ad.png)
![image](https://

[2022-06-30 15:16] clokep commented on #196
From working on implementing this the original design has changed a little bit; the current plan is to:

* Implement a proof-of-concept for thread-specific read receipts (this is essentially MSC3771, although that might need some updates).
  * This will likely run into some [issues if you're using both a threaded and unthreaded client](https://docs.google.com/document/d/1-2hUSER_d-ZO1M0NH-ncDIfknJ

[2022-07-01 06:28] nhh commented on #209
Another use case:

"Announcement" or "Guided" Channels, where only admins/moderators can write "top-level" messages. We want to allow thread based questions, regarding these announcements.

Without this feature, element can't be used in a "guided" manner.

[2022-07-01 14:24] heyakyra commented on #499
Does/should this depend on https://github.com/matrix-org/matrix-spec-proposals/pull/1228 (but still precede https://github.com/matrix-org/matrix-spec-proposals/issues/3793)?

[2022-07-01 14:56] ericdecanini commented on #460
Slightly related: There's confusion even on Android about what should happen during a room upgrade with regards to how the old room shows within its space.

https://github.com/vector-im/element-android/issues/6411

"The pre-upgraded room would disappear only when the upgrade invite is accepted"
I think we should aim for this behaviour on all platforms. What do you think @robintown?

[2022-07-01 15:38] grimhilt opened #707 "Voice message playback queue should not include own voice message"
### Your use case

#### What would you like to do?
When I start a queue of voice message, I would expect it to skip my own voice message and continue with the interlocutors voice messages.

#### Why would you like to do it?
Doing a voice message as listening to it is long and there are frequent use case where my voice message between other voice message I didn't listen to, and I do not need to lis

[2022-07-01 15:40] Hugueprime commented on #330
Have you considered using [markdown-it](https://github.com/markdown-it/markdown-it) which has the advantage to have some compatibility with common mark but without the lack of customization ?

Otherwise have you considered doing it our-self to have a product that fully meets element needs ?

[2022-07-01 15:44] t3chguy commented on #330
@Hugueprime that looks to be a JS implementation only, this issue relates to all Element client codebases given they must stay consistent. So needs JS + Kotlin + Swift implementations, or a reusable Rust implementation.

[2022-07-01 16:31] robintown commented on #460
@ericdecanini That certainly sounds a bit more reasonable that what currently happens

[2022-07-01 16:39] robintown commented on #499
As has been [discussed in MSC3189](https://github.com/matrix-org/matrix-spec-proposals/pull/3189#discussion_r632669894), it *could* be made to depend on [MSC1228](https://github.com/matrix-org/matrix-spec-proposals/pull/1228), but that's been deemed a bit of a crazy solution rather than a practical one

[2022-07-01 17:20] richvdh commented on #1923
I'm reasonably sure the spec isn't mandating this behaviour.

[2022-07-01 17:36] richvdh commented on #478
Trying to pull some numbers on this:

Using a phone number as a login identifier:
 * we have 70000 users on `matrix.org` who have a phone number registered to their homeserver account.
 * over the last two weeks, we saw 1792 attempts to log in using the phone number as an identifier. Of those, a grand total of... 107 were successful.

Looking up other users via an identity server
 * Unfortunately

[2022-07-01 18:22] richvdh commented on #478
Oh and of course, the thorn that's actually boring a hole in my side: how often do we do a phone number verification:
 * `vector.im` and `matrix.org`'s identity servers saw 600 attempts to verify a phone number in the week to 24 June
 * Correlating to the logs from the `matrix.org` homeserver: (a) the majority of them (573) came from there; (b) *all* of those 573 were adding a phonenumber via the

[2022-07-01 19:40] Nesaijn opened #589 "Create 'gallery' of images or videos uploaded together and display them as a single message/event"
### Your use case

#### What would you like to do?
I want the media that I have selected to send at the same time to appear as a kind of gallery in the chat, like grouped together. Clicking on the grouped media would get me to a focused gallery view with only the media.

#### Why would you like to do it?
When sending many files they take up a lot of space and you would have to scroll a lot to get

[2022-07-01 22:32] heyakyra commented on #1476
https://github.com/vector-im/element-call/issues/223 and https://github.com/vector-im/element-call/issues/174 would be nice extensions to the now-merged https://github.com/matrix-org/matrix-spec/issues/730

[2022-07-02 01:29] BurnyBoi opened #500 "Per-room read receipt & typing notification settings"
**Is your feature request related to a problem? Please describe.**
Some rooms I want to send read receipts and typing notifications, some I don't.

**Describe the solution you'd like**
Allow the user to toggle sending read receipts and sending typing notifications per-room rather than simply on or off for the whole account

**Describe alternatives you've considered**
Toggle it as needed, but this

[2022-07-02 08:08] SimonBrandner commented on #500
Related https://github.com/vector-im/element-web/issues/2527

[2022-07-02 15:48] BurnyBoi commented on #352
While I'm not against having a widget specifically for Peertube, just want to note this can already be done using a custom widget with the embed link for any peertube video:

![image](https://user-images.githubusercontent.com/41203525/177007578-a86dd7ae-e6d5-4879-aed4-eba6496d281b.png)

![image](https://user-images.githubusercontent.com/41203525/177007382-f684c386-5ec1-49cf-9461-4af6117c4d64.png)

[2022-07-03 05:52] Mikaela commented on #460
I have a somewhat related spec issue open on rewriting restricted join rules when a room/Space is upgraded. https://github.com/matrix-org/matrix-spec/issues/1072

[2022-07-03 09:01] Bubu opened #986 "Cannot rejoin left room: "No known servers""
### Steps to reproduce

1. When I leave a room (or get kicked by the IRC bridge...)
2. and I happen to be the last user on my server that was in that room
3. and I want to re-join and click the re-join button the room preview screen

### Outcome

#### What did you expect?

My server re-joins the room over federation

#### What happened instead?

Without fail I get the "No known servers" error popu

[2022-07-03 13:17] roughnecks commented on #82
What's the current status of this?

[2022-07-04 07:15] matthijskooijman commented on #131
Apologies if this is not the right place to comment about this, but looking at the design presented here, I wonder if the "Take me home" button will be clear to users. I assume "home" refers to the home screen in the Element Mobile app, but I am afraid that new users (who have never seen the app UI) have no idea that the app has a home screen, so it will not be clear to them what this button will

[2022-07-04 12:02] bwindels commented on #986
This issue seems to be specifically about Element not sending `server_name` in the join request.

[2022-07-04 12:41] bwindels commented on #707
Hi, could you elaborate what you mean with `When I start a queue of voice message`. I am not aware of any kind of queue when playing back voice messages.

[2022-07-04 14:08] bwindels commented on #707
Ah, I think I know what you mean now, if you play a voice message, it will try to play the next voice message.

[2022-07-04 21:59] emidoots commented on #1476
Could "Increase vertical density of new room list vector-im/element-web#14099" be added to this meta-issue? I think this is one big drawback compared to Discord's UX right now.

Compare the visual density of Element:

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/3173176/177220414-ae5b56cc-a304-45d1-aeba-5b1b70e38f09.png">

vs. a similar Discord channel organization

[2022-07-04 22:57] grimhilt commented on #707
Precisely, let's consider a conversation like this :
* Voice Message 1 (Not me)
* Voice Message 2 (Not me)
* Voice Message 3 (Me)
* Voice Message 4 (Not me)

Currently, if I play 1, when it will reach the end, 2 will start, followed by 3 and 4.

I would expect my voice message to be ignore, so 1, 2, 4 will be played with the queue.
Or my voice message could have the same behavior of a text message

[2022-07-05 05:53] erkinalp commented on #1476
Well, Discord is also adding a few ideas from Element, for example, the ability to selectively hide guild channels.

[2022-07-05 12:06] 10Meisterbaelle commented on #266
I don't understand why this is not a feature in the official Matrix app. It's litterally a Matrix feature.

[2022-07-05 17:57] grimhilt commented on #1489
I would separate cases where rooms are from spaces and privates rooms:
* For rooms in spaces, I agree with you and pinned messages should be visible, even if I do not see why it would be needed to prevent new users to have access to history but not pinned messages.

* But for private rooms, if the history option is disabled pinned message should not be visible as it could contains information only

[2022-07-06 11:47] ericdecanini commented on #218
Android space switching epic [here](https://github.com/vector-im/element-android/issues/6605)

[2022-07-07 07:27] osresearch commented on #1514
Due to a federation configuration mistake I ended up with quite a few `Empty Room`'s that I couldn't leave due to the same "`Not a known room`" issue.  Clearing the cache made them go away for me, too.

[2022-07-07 10:21] HarHarLinks commented on #2087
related https://github.com/matrix-org/matrix-spec/issues/453

[2022-07-07 12:58] matthijskooijman commented on #334
This looks like a duplicate of #209?

[2022-07-07 13:16] matthijskooijman opened #503 "Feature: Move messages into thread"
**Is your feature request related to a problem? Please describe.**
The new threads feature is very helpful to structure discussion. However, some of our users are sometimes a bit slow when it comes to technology, and forget to reply in the thread and just reply in the room. This breaks the threading, and also causes others users to reply in the room instead of the thread, and chaos is back.

**Des

[2022-07-07 13:17] matthijskooijman commented on #61
Suggestion to consider
---
- #503

[2022-07-07 14:44] sandstrom commented on #334
@matthijskooijman They sound similar, but there is a difference:

- This one: Force everyone to either open new threads/topics, or answer in existing threads. In other words, force the room to be a thread-only room.
- The one you linked (209): Allow only certain people to start new threads, everyone else can only reply in existing threads/topics.

[2022-07-08 11:14] HarHarLinks opened #504 "Don't renumber ordered lists automatically"
**Is your feature request related to a problem? Please describe.**
See the current behaviour in web & android in this comment by @ouchadam https://github.com/vector-im/element-android/issues/4777#issuecomment-1178750407
Current behaviour is plain wrong and confusing from end user standpoint, especially non-tech user.

**Describe the solution you'd like**
e.g.
[code]
should convert to
[code]
previe

[2022-07-08 11:25] ouchadam commented on #504
this will depend if we want to follow markdown or html conventions, for what it's worth this was also discussed for github https://github.com/github/markup/issues/282

Sending markdown is disabled by default on android but enabled on web

[2022-07-08 13:08] frakic opened #505 "Use colored Element logo in email invites"
**Is your feature request related to a problem? Please describe.**

Invite email uses a black and white Element logo:

![image](https://user-images.githubusercontent.com/18530109/177997602-7f1b3d3b-591b-4964-b556-db3687d881f3.png)

It looks fine on a light theme, but it's barely noticable on a dark theme:

![image](https://user-images.githubusercontent.com/18530109/177997802-709da0b1-d572-4062-9ed

[2022-07-08 16:56] HarHarLinks commented on #504
I see where you are coming from, but a significant difference is that element's composers don't preview any of these transformations yet. a wysiwyg composer that previews the markdown styling could help.

however i think the other argument, which is that user will barely ever want that markdown convention of applying automatic numbering, outweighs anything else completely. i think the overwhelming

[2022-07-10 17:59] ghost opened #506 "Disable scalar/integration manager by default"
In my own experience, most people that are not advanced users, don’t really use integrations, mostly, they use DM’s and maybe a group chat room with a couple of people. I think that this could improve privacy, security \(by reducing the attack surface\) and freedom \(scalar is closed-source\).

[2022-07-12 07:49] gileluard commented on #218
iOS epic [here](https://github.com/vector-im/element-ios/issues/6405)

[2022-07-12 12:23] richvdh commented on #478
In an ideal world, I would like homeservers not to have to care about phone numbers at all. Once we have OIDC taking care of authentication, the only reason left for a homeserver to manage phone number is because clients (or at least, the various flavours of Element) currently expect to be able to get a list of email addresses and phonenumbers via [`GET /_matrix/client/v3/account/3pid`](https://sp

[2022-07-12 15:40] coxde opened #508 "Filter/Block messages by keywords"
**Is your feature request related to a problem? Please describe.**
After telegram channels beginning to show ads, It's really annoying that I can also see them in rooms through bridge, especially when they are pushed by Element.

**Describe the solution you'd like**
Add keyword filters in global settings and per room settings, messages containing keywords are not displayed in the room (hidden), an

[2022-07-12 15:40] coxde commented on #508
Related: https://github.com/vector-im/element-android/issues/2683

[2022-07-12 21:26] ara4n opened #510 "Nudge the user to log out old devices"
**Is your feature request related to a problem? Please describe.**
Users accumulate old devices which then pose a security threat if they fall into the wrong hands, and slow down e2ee for everyone, and consume todevice storage on the server.

**Describe the solution you'd like**
If a user hasn’t used a device for a month or so, nag them that they haven’t, warn them about the risks of keeping it ar

[2022-07-13 10:42] benparsons commented on #511
This is being requested by a customer. I would also like to see this feature because it frequently affects me.

I propose upgrading this from `O-Uncommon` to `O-Occassional`.

[2022-07-13 10:42] benparsons commented on #511
Is there currently anywhere in the UI where missed call notifications are shown?

[2022-07-13 12:12] clokep commented on #1087
vector-im/element-web#15769 proposed a potential solution for this.

There's a couple rooms I'm in that the topic *does* change fairly frequently and I'm always left wondering what changed, it is quite frustrating since the topic generally has important info in it.

[2022-07-13 12:50] HarHarLinks commented on #504
It has come to my attention that allowing the `value` argument would require a [spec](https://spec.matrix.org/unstable/client-server-api/#mroommessage-msgtypes) change.

[2022-07-13 12:52] t3chguy commented on #511
The notif panel is populated by the Server /notifications API

[2022-07-13 13:14] moodler commented on #321
So, current status is, as I understand it, that the product team will be working on a recommended UI spec for this seven-year-old popular issue and publishing it here.

At that point, any one of us in the community who wants this done can implement it, and assuming the code is good, it will be integrated quickly.  OK, great.

Since this plan involves us (community) doing the bulk of the work and c

[2022-07-13 14:23] areox-net opened #519 "Add room metadata in room header"
### Your use case

#### What would you like to do?
Add a second line in the room header, below the room name, to display metadata of the room. This metadata could be the following:
1. room access, type or encryption
2. room members count
3. room history duration

#### Why would you like to do it?
This could be really useful for the users, especially to give them more insights about the room they'r

[2022-07-13 14:31] estellecomment commented on #372
Hi @gaelledel , here is a new proposal that can hopefully be a better fit.

When a user creates a DM and invites others by email, and encryption is activated, we risk having undecryptable messages for the users that have not joined yet.
To avoid this, a simple solution is to block the message-writing box until the risk is gone. That is, until all the users have created an account and joined the DM

[2022-07-13 14:45] areox-net opened #520 "Add the option to display Public Rooms in dedicated tab"
### Your use case

#### What would you like to do?
Display public rooms in a new dedicated tab to separate them from other private, encrypted conversations.

#### Why would you like to do it?
Public rooms can be quite "noisy", with a big number of members sending messages at a high frequency. This can result in a private message being hidden under a pile of public messages.
In addition to that, th

[2022-07-13 15:03] pixlwave commented on #520
@amshakal Possibly useful insight for the IA redesign and the edit layout options.

[2022-07-13 15:38] amshakal commented on #520
Great shout. Once we launch our IA MVP, we could definitely look into adding this as an additional feature if there is enough need around it. TY! :D

[2022-07-13 23:07] linux-lukas opened #587 ""built-in automated response" function"
### Your use case

#### What would you like to do?

Want to suggest an extension of the function handling element with regard to native support for automatic replies to messages.

#### Why would you like to do it?

There are situations in which people should refrain from answering the phone to answer messages (for example, while driving or while eating), because otherwise they could pose a danger

[2022-07-14 05:50] coxde commented on #1548
Any updates? This is a common setting in other messengers, like Telegram.

Related: https://github.com/vector-im/element-android/issues/3036

[2022-07-14 16:51] turt2live commented on #841
As an update: we are very much looking to do this, particularly considering you can on mobile but not web, however the team is stretched a bit too thin to take it on ourselves at the moment. We would really appreciate a PR, likely building off the [existing work](https://github.com/matrix-org/matrix-react-sdk/pull/5626), which adds the functionality so we can get cross-platform compatibility here.

[2022-07-14 19:58] sbrooke commented on #2528
I just did a migration from an Intel platform to an Arm64 platform and everything seems to be working except this. The desktop client doesn't trust my own messages I send from other devices now. It all works, just not sure what to do about it.

[2022-07-14 20:18] HarHarLinks opened #716 "More precise room list message preview for location sharing"
### Your use case

### When someone else shares their (live) location
- keep the current behaviour: "Shared their location"
- if it's a live location: "Shared their live location". Possibly "Sharing their live location" if it can be determined that it is ongoing.

### When someone else shares another location that isn't their GPS position
- "Shared a location"

### When I share my location
- "You

[2022-07-14 20:30] HarHarLinks opened #626 "Add dark mode to location sharing"
### Your use case

#### What would you like to do?
Use dark theme in element including location sharing
#### Why would you like to do it?
not burn my eyes when viewing a shared location
#### How would you like to achieve it?
- is it svg? -> replace colors
- rendered on server? -> use server and api with dark mode support

### Have you considered any alternatives?

_No response_

### Additional con

[2022-07-15 04:09] mcmurphy8097234789 opened #1892 "Audio-first / audio-only video rooms"
### Use case
This should be default for most users, as it would likely be the popular option and save bandwidth, both for users and the servers

#### What would you like to do?
I would like the 'drop in' video rooms have a setting to default to audio only, rather than just have video.

When video is not being used, it would be useful if the 'video' window was eliminated and chats take up the scree

[2022-07-15 16:46] williamkray commented on #339
It was mentioned that this goal is on the public roadmap, but I'm not clear on where that is or what status it's in... I see a project associated with this repo that seems to indicate product feature status etc but no mention of this issue. Am I looking in the wrong place? EDIT: nevermind, i see it linked in a previous comment.

This continues to be the top request/complaint from my userbase after

[2022-07-16 06:23] Mikaela commented on #510
I have devices logged in on my family devices that I would prefer to be logged in without nagging.

In my opinion if Element Web takes this route, dehydrated devices should be implemented first so even if old devices are logged out, there is no loss of encrypted messages even if no device is online for sending keys to the new device (that would previously have been logged in).

Somewhat unrelatedl

[2022-07-18 09:24] #159 closed, assigned to nobody

[2022-07-18 12:45] thibaultamartin opened #514 "It is possible to share invite-only rooms"
**Describe the bug**

After creating a private room, it is possible to share it. The user receives a matrix.to link they can share with others, but which will not give them access to the room.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new private room
2. Open the right information bar (by clicking on the top right `i` button)
3. Click on `Share room`

**Expected behavior**

I

[2022-07-18 16:55] Gnuxie commented on #371
Dying for this feature, how hard can it be to copy the `RoomFacePile` that is used for spaces to show common rooms? Maybe easier than scavenging the preview part from https://github.com/matrix-org/matrix-react-sdk/pull/4897?

[2022-07-19 12:49] #515 closed, assigned to daniellekirkwood

[2022-07-19 12:51] daniellekirkwood commented on #221
This issue was not needed as we ran this experiment as a part of the edit layout updates

[2022-07-19 12:51] #221 closed, assigned to niquewoodhouse, amshakal, daniellekirkwood

[2022-07-19 12:52] daniellekirkwood commented on #243
Ran successfully - more notes and links here: https://docs.google.com/document/d/1-Ev1h5wlT8ChWoPh1CojYil3CxPtjgjU8yzpz6KsbGg/edit

[2022-07-19 12:52] #243 closed, assigned to amshakal, daniellekirkwood

[2022-07-19 13:00] daniellekirkwood commented on #222
We don't need to experiment with Invites in the same way we do with the app layout work. Closing this issue

[2022-07-19 13:00] #222 closed, assigned to amshakal, daniellekirkwood

[2022-07-19 13:01] daniellekirkwood commented on #219
The Space switching experiment is complete and successful.
There's more information on the results in Figma and Airtable.

[2022-07-19 13:01] #219 closed, assigned to ericdecanini, fedrunov, amshakal, daniellekirkwood

[2022-07-19 13:09] daniellekirkwood commented on #131
Thanks for your feedback! It's a super relevant comment for the copy on this button. We'll discuss it as a team and get back to you.

This issue particularly is the "MVP" of the FTUE flow so if you don't see your suggestions in product right away, it's likely because we've got them scheduled for the second iteration of this flow - especially the idea of allowing users to jump into personalisation

[2022-07-20 12:48] kittykat opened #1879 "Can't verify session (Web ↔ Android)"
### Steps to reproduce

1. Started with [this issue on desktop](https://github.com/vector-im/element-web/issues/22895)
2. My web session is now marked as unverified
3. Trigger session verification from web
4. Accept on Android
5. Finish verification using QR code scan method

### Outcome

#### What did you expect?

Web session is verified

#### What happened instead?

Web session is still showing

[2022-07-20 23:21] kellyclowers commented on #360
Yeah this is a big problem for me, extremely annoying to a sound sensitive person like myself to be chatting on the computer with someone and their responses are making my phone beep at me.

(also I think there should be a short delay + roll up period, so if someone types many short messages in quick succession, you only get one sound for notification instead of 5 or 6 or whatever... but that's an

[2022-07-21 08:57] jdauphant commented on #372
Hello @gaelledel :wave: did you had time to take a look at our proposition ?

[2022-07-21 11:44] daniellekirkwood opened #518 "Launch FTUE Mobile Auth flow"
We're nearly ready to launch the new version of mobile auth. As this is a risky part of the funnel there will be several steps involved.

- [x] Run an internal testing session
- [x] Run a community testing session
- [x] Phased release on App & Play store
- [x] Monitor success [here](https://docs.google.com/spreadsheets/d/1C0CiDnNFcrYRMLwnCGbKIyZo9pgewWLm717Qi-EU7D8/edit#gid=402559164)

### Phased

[2022-07-22 02:36] ThatOneCalculator commented on #339
Even GitHub has custom emojis! It's time for Element to get 'em too! :godmode:

[2022-07-22 08:47] germain-gg commented on #279
@thibaultamartin I remember you talking about an onboarding document for new users on Element. This is one of the task that we identified as really odd in our registration flow.

Is an "what is a homeserver" page on your list? If so, we can link to it once it's live

[2022-07-22 08:51] #225 closed, assigned to amshakal

[2022-07-22 09:18] thibaultamartin commented on #279
Yes I'll keep you posted when it's live! FWIW, given the documentation is meant for non-technical people, I introduce the concept of homeserver by calling them (Matrix/service) providers

[2022-07-22 09:38] daniellekirkwood commented on #518
@manuroe @bmarty @stefanceriu @pixlwave @ouchadam @nadonomy
Please review this issue and highlight any concerns or risks you have.

[2022-07-22 11:25] germain-gg commented on #252
Closing as we took a different approach, which was implemented as part of https://github.com/matrix-org/matrix-react-sdk/pull/8984

[2022-07-22 11:25] #252 closed, assigned to nobody

[2022-07-22 12:51] matthijskooijman commented on #334
Thanks for clarifying, re-reading the original request I agree with your distinction. I guess that means that *this* issue is more about distinguishing between posting a message and starting a new thread, rather than just adding a permission to (dis)allow something that already exists.

[2022-07-22 14:00] Mikaela commented on #514
I hope fixing this will not break sharing rooms with knock, restricted or knock_restricted join rules.

[2022-07-22 15:25] daniellekirkwood commented on #518
[The Airtable monitoring data](https://airtable.com/appm8YC0sS1ipyUpQ/pagSzaVCyZXqbqQvs)

[2022-07-23 07:07] karolyi commented on #1114
Confirming that this is indeed dangerous.

I tried to send messages to a recipient that has all her sessions synced across her devices (assumingly, by looking at her sessions, she has no unverified ones), yet couldn't decrypt my messages because of this setting. Is it because I have to verify her once again, after she has synced sessions that are secure (verified) across her devices?

Instead of m

[2022-07-23 13:11] boogewooge opened #522 "UI/UX: Be consistent with usage of the term "room""
In Element's sidebar, the term "Rooms" is used only for group chats, suggesting the 1:1 chats under "People" are not rooms.

As an example, this became an issue for a user on my homeserver that left a space they were joined to and picked "leave all rooms", expecting to only leave the rooms listed under "Rooms" in the space, but instead they left all 1:1 chats with people from the same space. Since

[2022-07-25 10:41] #338 closed

[2022-07-25 17:04] daniellekirkwood opened #521 "Update the behaviour of Recents cross-platform to match user expectations"
As part of the App Layout work the Delight team is doing we've found that the behaviour of Recents is sometimes odd and unpredictable. We will not be taking on any changes to the behaviour of recents in the MVP of App Layout and are therefore raising this as an enhancement.

Please add ideas in comments

[2022-07-25 17:06] daniellekirkwood commented on #521
Currently Recents do not change or update based on the Space that you're in. Because of the form-factor on Web this is manageable but on Mobile, the slimmer screen and layout makes this somewhat confusing (the space header, followed by global recents, followed by space specific room list).
If we are able to make this change on Mobile as part of MVP, then we should.

@amshakal @gsouquet I think thi

[2022-07-26 07:35] #522 closed, assigned to nobody

[2022-07-26 08:46] germain-gg commented on #521
At the moment recents rooms are effectively a list of room ids stored in the account data (so that it can be shared cross devices)

We have two approaches if we want this list to update when we switch spaces
- We filter the list of rooms in the account data, by doing so we run the risk of having only 1 or 2 items in the recents list as there might not be a lot of room that are in the current space

[2022-07-26 13:04] daniellekirkwood opened #524 "Update the captcha screen during create account flow"
The captcha screen needs 2 updates following the release of the MVP auth flow:

- [ ] Update the icon
- [ ] Update captcha as per design suggestions to make it clear that it's an iframe (to avoid https://github.com/vector-im/element-android/issues/6638)

[2022-07-26 13:06] daniellekirkwood commented on #524
fyi @ouchadam @pixlwave @amshakal

[2022-07-26 15:59] Half-Shot opened #525 "Determine (default) type of user using Element"
Follow-up on #252

I won't restate all the context in the previous issue, but we'd like to determine the **default** type of user (personal, workplace, community) that a homeserver is likely to host. EMS for instance is aware of the type of user based upon the product they have purchased (Element One, Element Home, Element Cloud are all personal products, Element Enterprise Cloud is workplace, and

[2022-07-26 18:40] erkinalp commented on #1235
@t3chguy That could be resolved by throwing an error "membership may not be reliably cycled, quitting" if the command is invoked from a non-public room.

[2022-07-27 00:04] jittygitty commented on #2361
@t3chguy Why can't re-request encryption keys ask the other chat participant? I mean if I'm in a "direct-message" 2person private chat and I get this Unable to decrypt error, why can't we request that the other person resend the decryption keys if somehow this didn't work during initial creation of room when they accepted the invitation? Otherwise seems impossible to fix if decryption was not alre

[2022-07-27 09:01] t3chguy commented on #2361
@jittygitty it already does, but their device will only send you keys if they already sent you keys and they got lost in transit. https://github.com/vector-im/element-meta/issues/647 is the issue for allowing users to request keys they weren't in the room for/lost

[2022-07-27 09:11] greve commented on #2361
I'm also continuing to struggle with this.

Have one session left that's fully trusted, but there seems to be no way to transfer trust to another device.

After confirming there is no man in the middle, it wants an additional password/key, but the one I am sure is correct isn't accepted. And there is no recovery process that I was able to identify.

So, I'm staying with untrusted devices, as that'

[2022-07-27 09:15] brumasribera commented on #1886
Would there be a way to simply back up the conversations and get them when you log in into new devices. I am really not concerned about security and this huge complexity I find.

I only would like to be able to keep the whole history of messages all the time, and this seems to be impossible right now to be done on a human way, not having to export files with encrypted keys now and then.

[2022-07-27 10:51] daniellekirkwood commented on #279
This is a great idea and we need to offer more guidance on the technical aspects of our product but as we're not actively working on this right now, I'm going to transfer it to "Discussions"

[2022-07-27 10:51] #279 closed, assigned to daniellekirkwood

[2022-07-27 11:18] daniellekirkwood commented on #258
Hey @t3chguy did we decide for or against this?

[2022-07-27 11:21] t3chguy commented on #258
@daniellekirkwood I wasn't aware a decision was ever reached, but I'm not involved in many Producty decision calls so likely would've missed it.

[2022-07-27 11:35] daniellekirkwood commented on #258
ok - well I didn't know it was an open question to be answered so I assumed this was a engineering request.
If it hadn't come to you (through discussion or assignment) then let's close it. It's likely to late to implement it anyway.

[2022-07-27 11:35] #258 closed, assigned to t3chguy

[2022-07-27 11:42] daniellekirkwood commented on #220
This experiment was run and completed successfully. Closing the issue.

[2022-07-27 11:42] #220 closed, assigned to gileluard, amshakal

[2022-07-27 11:43] daniellekirkwood commented on #166
I think this has been superseded by https://github.com/vector-im/element-meta/issues/218
@niquewoodhouse & @kittykat any objections to closing this issue?

[2022-07-27 11:46] clokep commented on #195
[MSC3856](https://github.com/matrix-org/matrix-spec-proposals/pull/3856): Threads List API was written to solve this issue.

[2022-07-27 13:42] clokep commented on #235
[MSC3856](https://github.com/matrix-org/matrix-spec-proposals/pull/3856) should help with this case.

[2022-07-27 16:48] amshakal commented on #521
In case we decide to go the simpler way i.e. keeping recents consisten throughout the app, we should monitor if users find that behaviour odd. We could test it with the testflight build we'll have by the end of the week on iOS and gather feedback to decide if changing it within a space is worth the risk and effort.

[2022-07-27 22:39] aaronraimist commented on #1886
@brumasribera Yes. That is what the Secure Backup feature does. It automatically backs up your keys. As long as you provide your Security Key (or Security Phrase) each time you login, your keys will be automatically backed up and restored.

[2022-07-28 07:08] brumasribera commented on #1886
@aaronraimist Backing up key means also backing up messages, I am more concerned with messages and not so much on those keys.

For me, it would be just more simple to recover the messages normally once reconnected to your account and have this extra safety layer optional.

Or at least be able to disable it, as I find it a bit cumbersome for my normal use. I am of course only talking about UX exper

[2022-07-28 21:30] jittygitty commented on #2361
@t3chguy So are you saying that in reality the device of the other person whom I invited to the 2person "direct-message" private chat, never actually sent me the encryption keys to begin with? And that is why the "re-request" did not result in their device trying to "resend" me their keys?

If so, is there a ticket working on fixing this type of situation?

When someone sends their keys, do they s

[2022-07-28 22:35] aaronraimist commented on #1886
@brumasribera

Well that's a different problem. If you don't trust your homeserver to not delete your messages then you probably want to be using the export chat feature. Go to the Room info page and then click Export chat.  There is no feature to automatically do that though, that would be https://github.com/vector-im/element-meta/issues/1388.

Encryption makes it very difficult to automatically

[2022-07-29 02:36] robintown opened #597 "Support the widget API features needed for Element Call integration"
### Your use case

#### What would you like to do?

Implement [MSC2762](https://github.com/matrix-org/matrix-spec-proposals/pull/2762), [MSC3819](https://github.com/matrix-org/matrix-spec-proposals/pull/3819), and [MSC3846](https://github.com/matrix-org/matrix-spec-proposals/pull/3846) in Element Android

#### Why would you like to do it?

It's a prerequisite for integrating Element Call into Elem

[2022-07-29 14:22] janogarcia commented on #187
@gsouquet @daniellekirkwood Would it be possible to move the following issue from [my list above](https://github.com/vector-im/element-meta/issues/187#issuecomment-1106680814) to the Exit Beta epic?

Losing scroll position on Web when navigating between the thread list and thread detail views:

As noted below, it was blocked on a technical constraint the last time we discussed it. If that's not lo

[2022-07-29 16:18] ghost opened #527 "Idea suggestion: timed polls"
Polls that close after a set period of time. And/Or sample size.

[2022-07-30 10:09] Knebergish commented on #528
Hello all!
It looks like the problem is still relevant at the moment, and I don't see any way to enable the unread message counter without enabling notifications.
The only solution for me is to disable notifications for Element in the KDE Plasma settings - so I don't get notifications on the desktop, but I have a counter in the application. But because of this, I lose the opportunity to receive no

[2022-07-31 10:10] hnykda commented on #319
Hey. Is there any progress on this or anything I could catch up on or help with? This, together with "Mark as unread" and "Remind me", is probably the main blocker for my clients to migrate to matrix :-( .

[2022-07-31 19:09] aaronraimist commented on #319
@hnykda Element Web has an intern working on implementing it this summer, see https://github.com/vector-im/element-web/issues/22453

[2022-08-01 07:33] t3chguy commented on #528
This is a spec issue, the server-side (unread) notification counters are not provided when you disable notifications (because they're notification counters after all)

[2022-08-01 15:37] daniellekirkwood commented on #187
We want to make sure we do not _exclude_ the possibility of a follow/subscribe feature in the future.

[2022-08-02 12:50] gaelledel commented on #372
Tchap ticket  https://github.com/tchapgouv/tchap-web-v4/issues/63

[2022-08-02 12:52] gaelledel commented on #372
@jdauphant @estellecomment Thank you, I am taking note of your suggestions. Will be tackling this sometime this week

[2022-08-02 13:12] #126 closed, assigned to daniellekirkwood

[2022-08-02 13:13] #128 closed, assigned to daniellekirkwood

[2022-08-02 13:14] daniellekirkwood commented on #129
The Synapse issue to fix the emails is a V2 issue and therefore this meta issue can be closed.

[2022-08-02 13:14] #129 closed, assigned to amshakal, daniellekirkwood

[2022-08-02 13:15] daniellekirkwood commented on #130
The improvements to captcha are in another issue: https://github.com/vector-im/element-meta/issues/524

[2022-08-02 13:15] #130 closed, assigned to daniellekirkwood

[2022-08-02 13:19] #131 closed, assigned to daniellekirkwood

[2022-08-02 13:20] #132 closed, assigned to amshakal, daniellekirkwood

[2022-08-02 13:20] #133 closed, assigned to amshakal

[2022-08-02 13:20] #134 closed, assigned to daniellekirkwood

[2022-08-02 13:21] #135 closed, assigned to daniellekirkwood

[2022-08-02 13:24] daniellekirkwood commented on #136
https://github.com/vector-im/element-ios/issues/5164 has been removed from the definition of done for this issue, so we're closing it.

[2022-08-02 13:24] #136 closed, assigned to daniellekirkwood

[2022-08-02 14:47] tmonz commented on #529
any news?

[2022-08-02 15:47] #166 closed, assigned to niquewoodhouse, amshakal

[2022-08-02 16:05] anoadragon453 commented on #1961
Heads up that the MSC making it mandatory for homeservers to carry over room versions on room upgrade has now been accepted: https://github.com/matrix-org/matrix-spec-proposals/pull/3818

However it will be some time before this lands in a stable version of the spec.

[2022-08-02 18:25] Mikaela opened #531 "Keywords aren't sorted"
### Steps to reproduce

1. I open Settings -> Notifications, click keywords
2. I see my keywords in random order
3. I open another Element instance/profile/whatever with a different account and do the two first steps
4. I see that both accounts have keywords in different order while some keywords are the same.

### Outcome

#### What did you expect?

I expected my keywords to be sorted by some log

[2022-08-03 07:44] t3chguy commented on #531
The randomness seems to be due to the server returning the data in different orders, if we're going to client-side sort it then should be consistent between Element clients

[2022-08-03 09:11] BillCarsonFr opened #532 "Can't verify user when option to send keys to verified devices only is selected"
### Steps to reproduce

1. Go to Settings > Security
2. Enable 'Encrypt to verified devices only'
3. Go back to a DM with one of your contact, click on his profile
4. Tap on verify.

### Outcome

#### What did you expect?

That you initiate a verification process.

#### What happened instead?

It's failing because the recipient won't be able to decrypt the verification request
<img width="388" alt

[2022-08-03 16:29] #474 closed, assigned to nobody

[2022-08-04 02:06] xPMo commented on #533
Definitely interested in multi-select, but I'd also suggest

- [ ] sorting options by vote count
- [ ] **add** options to poll (although this is still rife for abuse)

[2022-08-04 07:01] SergeyDjam commented on #345
TOTP? FreeOTP, Aegis, Google Authenticator, hardware OTP?

[2022-08-04 07:11] mdanovz commented on #426
Still need a user custom status.
Any updates?

[2022-08-04 08:31] gaelledel commented on #519
Gaelle's notes
-  user feedback was good
- Type of metadata used by Tchap?
- Optional Setting in Foss?
- In Tchap, make this visible by default
- For Element to figure out navigation issue
- Room topic space could be used

[2022-08-04 13:20] jdauphant commented on #135
Can we update it for the web version ? (having the same new workflow as mobile)

cc @gaelledel @giomfo

[2022-08-05 07:58] germain-gg commented on #232
@amshakal & @niquewoodhouse not quite sure what the next steps are in regards to this task. It does not look like we're taking the direction of running fortnightly sessions.
Is this task still relevant and actively worked on?

[2022-08-05 11:11] daniellekirkwood opened #534 "Chronic Issue: Improve Matrix.to"
### This is a chronic issue

**Problem:**
Users should be able to follow [matrix.to](http://matrix.to/) links on mobile, even if they haven't got Element installed yet, and deeplink into the correct room/space/user - rather than end up on the default homeserver in the default place, and then get lost trying to get to their final destination.

**Defect:**
Following a matrix.to link does not onboard

[2022-08-05 11:13] daniellekirkwood commented on #534
@nadonomy Created a specific GH for this chronic issue. Right now let's just group all the stuff we have right now here and I'll tidy it up and confirm requirements/scope

[2022-08-05 11:15] daniellekirkwood commented on #534
List of potentially related GH issues:
* https://github.com/matrix-org/matrix.to/issues/275
* https://github.com/matrix-org/element-ios-rageshakes/issues/19685
* https://github.com/vector-im/element-android/issues/5560
* https://github.com/vector-im/element-web/issues/22821
* https://github.com/vector-im/element-web/issues/11756
* https://github.com/vector-im/element-web/issues/22096
* https://git

[2022-08-05 17:21] RyanSquared commented on #345
I believe the intent was to use the second device, already signed into Matrix, as a 2FA method.

[2022-08-05 22:45] Lamdarer commented on #1418
See: https://github.com/vector-im/element-web/issues/2527
Should be fixed soon

[2022-08-05 23:29] Tectract commented on #1418
Slowly people are seeing the light. "unread message" means "I am tracking everything you look at.". It's a MAJOR PRIVACY VIOLATION!!!

[2022-08-06 06:24] moan0s commented on #729
As retention currently causes bugs in existing installations and is important for some groups of people (companies, activists) I would really like to see this move forward.

[2022-08-06 11:49] SimonBrandner opened #543 "More granular way to disable sending read receipts (per-room, per-space, per-DMs, per-public...)"
### Your use case

#### What would you like to do?

I would like there to be a way to enable/disable sending read receipts in more specific cases (e.g. per-room, per-space, per-DMs, per-public...)

#### Why would you like to do it?

I am ok with people seeing my read receipts in some places and I am not ok with it in others

#### How would you like to achieve it?

Settings

### Have you considered

[2022-08-07 07:40] jxu commented on #536
Direct chat (under "People" tag) should not allow others to be invited. This defeats the purpose of a direct chat.

[2022-08-07 11:18] jivanpal commented on #1418
@Tectract You don't need to keep repeating the same thing with different amounts of emphasis. We get it.

You can toggle ping notifications on a per-room basis.

[2022-08-07 15:29] ghost opened #535 "Disable mentions for DMs"
This should make DMs closer to actual Immutable/Canonical DMs.
Also, should I cross-post this to #matrix-org/matrix-spec?

[2022-08-07 15:36] Tectract commented on #1418
It's true that it is now possible to turn off ping notifications per room, however this doesn't solve the problem. Slack still tracks which messages I am reading and sends me "unread message" notifications.

You don't seem to get it. What I want is for Slack to stop tracking which messages I have read, COMPLETELY FOREVER IN ALL ROOMS. What I want is my PRIVACY back.

[2022-08-07 16:06] natrius commented on #1418
Please, don't get me wrong, but... please stop commenting here. You have absolutely no technical clue how something could work and yet you demand(!) stuff without even asking before.
Another think: Why should we care about anything that **Slack** does? This Github Repo has nothing to do with Slack.

Still, i try to explain: The unread messages has NOTHING to do with a server. Thats your client doi

[2022-08-07 17:52] Tectract commented on #1418
Natrius, you are being super-rude. This is not your repo so I don't appreciate your gatekeeping. This thread is about disabling the "unread message" notification, you are going on and on about "ping" notifications, which is a separate issue.

Brother I probably got my degree in computer engineering while you were in gradeschool, these types of unwarranted insults don't belong here.

Would that sto

[2022-08-08 13:36] BurnyBoi commented on #353
Matrix has an [in-progress proposal](https://github.com/matrix-org/matrix-spec-proposals/pull/3639) for social media event types, and are currently implemented in [Minestrix](https://minestrix.henri2h.fr/) . As far as a bot and/or bridge for ActivityPub goes, it might be worth considering using these new event types once they're finalized.  This would give Matrix as a social network a good jump st

[2022-08-08 18:07] penyuan commented on #533
Liking these suggestions. If the official developers don't prioritise these features, how hard would it be for external contributors to add them???

[2022-08-08 20:36] HarHarLinks commented on #533
Some are easy, like "don't hide results before voting".
Some are technically easy, but need design input, like "more compact layout" or perhaps "emoji input".
More might need [spec](spec.matrix.org/) modifications or at least custom (extensible) events, like "images as question/answers".

[2022-08-09 12:19] rebokdev opened #595 "Spark AR effects"
### Your use case

#### What would you like to do?
I would like to see Spark AR effects in element
#### Why would you like to do it?
it will make element potencially get more individual users
#### How would you like to achieve it?
Use spark ar by face****

### Have you considered any alternatives?

find other libray that can make ar face mask

### Additional context

_No response_

### Are you wil

[2022-08-09 12:36] daniellekirkwood opened #538 "App Layout: Invites"
As part of the app layout work we need to make an improvement to invites.

Requirements:
- Ensure that new invites are not missed
- Improve today's experience
- Ensure that pending invites do not 'get in the way'
- We should be able to revert quickly to the current invites implementation
- Have new invites on a seperate page \(T&S requirement\)

Use cases:
- When a user has an invite, they should

[2022-08-09 12:39] daniellekirkwood commented on #538
Needs a feature flag for itself so that it's independant from the other app layout changes and can be reverted quickly if needed

[2022-08-09 18:01] IvanikuV2 opened #1405 "Unable to share meeting link for Video Rooms"
### Your use case

#### What would you like to do?

Share the meeting link of a Video Room for non-Element users to join the conference.

#### Why would you like to do it?

Because not everyone uses Element-based chat apps

#### How would you like to achieve it?

A shareable one-time link in the Video Room would be pretty practical, but a link similar to matrix.to that allows you to join the meeti

[2022-08-10 01:03] Ancapzin opened #539 "Adding an extra option for rooms to add Captcha (hCaptcha) to prevent Spam Accounts"
### Your use case

To prevent spam accounts I think Element should add a Captcha service as an option in the configuration of the rooms.

### Have you considered any alternatives?

The only alternative is to have an IA bot with an option to block a "first message a link".

### Additional context

_No response_

[2022-08-10 06:26] #539 closed, assigned to nobody

[2022-08-10 09:12] daniellekirkwood commented on #464
@t3chguy - is this still relevant? Is there more info you could provide? Should it be a discussion, does it need labels?

[2022-08-10 09:13] t3chguy commented on #464
Yes it is relevant, you can save words to your custom dictionary, we should sync that between your clients.

<img width="252" alt="image" src="https://user-images.githubusercontent.com/2403652/183863650-e86d356f-00f1-4c6d-b815-070e82bb8da1.png">

[2022-08-10 09:15] daniellekirkwood commented on #369
Cool idea! I've marked as "Needs-Product" as our product team will need to discuss and prioritise this feature against our current strategy and backlog.

[2022-08-10 09:18] daniellekirkwood commented on #124
@kittykat is this issue still relevant - could it be closed or does it need more info?

[2022-08-10 09:20] daniellekirkwood commented on #71
I think this is related? https://github.com/vector-im/element-meta/issues/147

[2022-08-10 09:22] kittykat commented on #124
I don't think so

[2022-08-10 09:22] #124 closed, assigned to nobody

[2022-08-10 09:27] t3chguy commented on #464
I'm not sure it can feasibly be done cross platform, in web we don't control spellchecking and to my knowledge in android it is system wide, not app specific

[2022-08-10 09:29] daniellekirkwood commented on #146
First tasks was removed from the DoD for this project, therefore I'm closing this issue as done.

[2022-08-10 09:29] #146 closed, assigned to ouchadam, pixlwave, amshakal, daniellekirkwood

[2022-08-10 09:32] daniellekirkwood commented on #171
Closing this for now

[2022-08-10 09:32] #171 closed, assigned to amshakal, daniellekirkwood

[2022-08-10 09:36] #541 closed, assigned to daniellekirkwood

[2022-08-10 09:38] daniellekirkwood commented on #72
Bubbles are no longer in Labs on iOS so moving this issue to complete.

[2022-08-10 09:38] #72 closed

[2022-08-10 09:46] #57 closed

[2022-08-10 10:45] daniellekirkwood commented on #232
We did not find a way to unblock this so will find an alternative way to deliver the outcome we need.

[2022-08-10 10:45] #232 closed, assigned to niquewoodhouse, amshakal

[2022-08-10 10:59] SimonBrandner commented on #464
It should be possible on desktop fwiw

[2022-08-10 11:15] t3chguy commented on #464
Yes, that's where this issue originated, hence the title of `riot-desktop`

[2022-08-10 11:17] SimonBrandner commented on #464
Missed that somehow :sweat_smile:

[2022-08-10 13:19] nadonomy commented on #543
Labelling this as [medium confidence](https://github.com/vector-im/element-meta/wiki/Triage-process#triaging-enhancements-draft) as the core problem and goal sounds really sane, but the most scalable long term solution definitely requires more in depth thought.

[2022-08-10 13:20] t3chguy commented on #543
This is something that needs cross-platform consideration as it only applying on a single platform would break user confidence in the feature (RRs would leak from certain clients/devices)

[2022-08-10 13:31] nadonomy commented on #373
This sounds like a nice to have little feature. I'm not sure I'd put the onus on the sender to decide though - it might make more sense for users to instead enable/disable looped MP4's of videos in the timeline.

[2022-08-10 19:57] jivanpal commented on #1418
@Tectract

You mentioned two problems:

1. Element sends read receipts, but you don't want it to.
2. Element gives you notifications, but you don't want it to.

Problem (1) is described by vector-im/element-web#2527 and now solved in the client API/SDK, just needs to make its way to the client proper. Problem (2) is solved in notification settings.

Neither of those problems is the subject of this

[2022-08-11 10:28] amshakal commented on #538
Updated designs based on all the feedback:
[iOS Link](https://www.figma.com/file/Hw4gjP3pknMZUir8jQqmWH/%5BMobile%5D-IA-early-proposals?node-id=3223%3A152615)
[Android Link](https://www.figma.com/file/Hw4gjP3pknMZUir8jQqmWH/%5BMobile%5D-IA-early-proposals?node-id=3272%3A162876)

[2022-08-11 14:22] Mikaela opened #545 "Show which users homeserver allowed user to join `restricted`/`knock_restricted` room"
### Your use case

#### What would you like to do?

When I am using `knock_restricted` or `restricted` join rules and someone joins there, Nheko says `USERNAME liittyi käyttäjän @MXID:EXAMPLE.NET palvelimen suomalla vahvistuksella.` (`USERNAME joined with confirmation granted from users @MXID:EXAMPLE.NET homeserver` (sorry, backtranslating is difficult and it works in Finnish).

#### Why would you

[2022-08-11 14:57] Mikaela commented on #534
Does this count?

* https://github.com/matrix-org/matrix.to/issues/269

[2022-08-11 22:25] toby63 commented on #1325
I think this FR would be very useful, it is an obstacle having to do the verification process exactly at the same time.

Sending a code via Email for example should be enough as a Verification.

[2022-08-12 09:55] daniellekirkwood opened #544 "App Layout: Measures"
The [Mobile App Layout](https://github.com/vector-im/element-meta/issues/218) project is near completion and we need to ensure we're measuring it's impact.

## Company Health Metrics
Do no harm to:
* D1
* MAU
* Stability (crashes, performance, etc.)
* Minimise bugs
* [Daily sessions and averages from the App & Play store](https://docs.google.com/spreadsheets/d/1d2jirxzoSbSvu0dkiaTkhm_-2r6IK1weRVBn

[2022-08-12 11:55] #545 closed, assigned to nobody

[2022-08-12 14:13] daniellekirkwood opened #547 "App Layout: Usage Measures"
As part of the https://github.com/vector-im/element-meta/issues/544 we may wan to add some tracking to the app layout changes so that we can identify the most used parts of the new flow.

We will need to add something related to Space Switching modal (similar to the experiment tracking)
Then, let's add an "on/off" event to the Recents and Filters in Edit Layout.

PostHog Dashboard: https://posthog

[2022-08-12 15:40] toby63 opened #693 "Asynchronous Verification of sessions"
### Your use case

#### What would you like to do?

Similar to vector-im/element-meta#1325 (but that one mentioned verification between users regarding E2E-Encryption).

I would like to be able to verify a new device or session, even if I don't have the other device directly available.

#### Why would you like to do it?

Because it is much more convenient this way.

#### How would you like to achi

[2022-08-12 20:08] wtogami commented on #2361
I experienced this problem where Element Desktop claimed Element Android did not support encryption and it would fail to verify the other client. My friend told me to switch to matrix.org instead of fedora.im as he hasn't seen self-hosted or smaller servers succeed at this. I created a new account on matrix.org and cross-signing worked for me for the first time.

[2022-08-12 21:07] nmscode commented on #339
### Feature
Added basic custom emote functionality including gif emote support to rooms. Currently, custom emotes can only be added by typing the shortcode surrounded by colons in the message composer. All changes are to the matrix-react-sdk in my fork below.
https://github.com/nmscode/matrix-react-sdk

Release: https://github.com/nmscode/matrix-react-sdk/releases/tag/v1.0.0 also hosted on https:/

[2022-08-14 16:16] uGeek opened #583 "Link preview in element"
### Your use case

#### What would you like to do?
Could it be possible to enable link preview, as an option in the Element app?

blabber.im that uses xmpp servers, brings the preview in the application itself

#### Why would you like to do it?
Due to difficulties in the configuration, because it is not planned to add it as an option on the server due to privacy issues, in my case I use the Condui

[2022-08-15 11:00] ghost opened #548 "Add falling leaves animation when🍃emoji is sent"
### Your use case

#### What would you like to do?

Do an animation of falling leaves when🍃is sent or add a "/leaves" command.

#### Why would you like to do it?

It would enhance the experience

#### How would you like to achieve it?

Do it in a similar way as 🌧️ or 💝 but it would be leaves.

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-08-15 11:06] #548 closed, assigned to nobody

[2022-08-16 01:53] nmscode commented on #339
Quick update: I added very basic custom emote rendering on the android element client. It could use a lot of work but will show the custom emotes that are uploaded using the web client.
https://github.com/nmscode/element-android

Release/APK: https://github.com/nmscode/element-android/releases

[2022-08-16 14:50] daniellekirkwood opened #550 "App Layout: Launch"
_We need to coordinate the launch and its activities for the App Layout project._

**We're aiming to have a first version ready for the RC on August 23rd, 2022**

The [list of outstanding work can be found here](https://github.com/orgs/vector-im/projects/20/views/40) on the Delight team board.

---

### Marketing efforts
**Tweets**
- [x] About a week before launch (when we cut the RC)
- [x] 3ish d

[2022-08-16 14:52] daniellekirkwood commented on #218
https://github.com/vector-im/element-meta/issues/550

[2022-08-16 17:10] ghost opened #551 "Making rageshake process more transparent (Epic issue?)"
When the user sends a rageshake because something went wrong, the user may want to know what is sent to Element for analysis. I think that we should also allow the user not only to see the content sent, but also to redact and modify it.

[2022-08-16 18:46] torrybr opened #585 "Selectable Map Layers When Viewing Location"
### Your use case

#### What would you like to do?
The map should have the ability to switch between available MapTiler layers (Satellite / Hybrid / Default)
#### Why would you like to do it?
Having the ability to easily switch map layers extends the capability of the map and keeps matrix in sync with other chat app offerings
#### How would you like to achieve it?
Add a simple button to the top ri

[2022-08-16 19:49] ghost opened #552 "please delete"

[2022-08-16 23:38] ThePharaohArt opened #553 "Add Spoiler to the preview image or video in chat"
### Your use case

#### What would you like to do?
I would like to add a spoiler or blur to a preview of an image or video until a user clicks it, similar to how the /spoiler command is done with text.
#### Why would you like to do it?
Would be good to blur it if the images may be graphic in anyway, and perhaps some users wouldn't like to see it, so blurring the image or video would help "censor"

[2022-08-17 06:03] SimonBrandner commented on #552
Please fill in the issue template

[2022-08-17 06:03] #552 closed, assigned to nobody

[2022-08-17 08:15] #553 closed, assigned to nobody

[2022-08-17 19:20] Mauker1 commented on #426
The company I work for has been using Element for a while, but we miss this feature. Are there any updates on this? Online/DND/Away/Offline status and custom messages would be a killer feature.

[2022-08-18 11:38] germain-gg commented on #547
@daniellekirkwood could we work on refining this a bit more? I'm not sure the description is enough to implement this ticket, I'm slightly unsure about what needs to be tracked and in what form?

[2022-08-18 16:11] PrincessMiki opened #556 "Search function prioritizes matrix.org rooms, increasing centralization of [matrix]"
### Your use case

This is especially bad for matrix.org accts.

Anyone can spin up an instance true. But the matrix search bar for most users (many are matrix.org) mainly indexs matrix.org rooms meaning non matrix.org rooms are very difficult to find. To find non matrix.org rooms, services like lemmy have to be used and they have to be active promoted there.

### Have you considered any alternati

[2022-08-18 16:14] t3chguy commented on #556
You need an account of a given server to be able to publish into its room directory. But rooms are not centralised. A room being called #foobar:matrix.org doesn't make it a "matrix.org" room - just means that it's canonical alias is looked up via matrix.org, the room is distributed amongst all servers which have at least one user in that room.

[2022-08-19 09:48] giomfo opened #557 "Using a config.json file to manage remotely feature flags in the mobile client"
Hi, we would like to set up a config.json file to handle mobile client configuration (like this is described [here](https://github.com/matrix-org/synapse/issues/9178#issuecomment-767448267).

This is not related to a server, but to a client. We want to define this file for Element Mobile app, then customized clients should be able to define/manage their own file.

The plan is to have a way to disa

[2022-08-19 13:45] ara4n opened #558 "It is impossible to trace to-device messages from client->server->server->client"
In order to diagnose https://github.com/vector-im/element-web/issues/23113 I just went on a mission to trace the lifetime of to-device messages from me (EI) -> matrix.org -> vector.modular.im -> rick (EW) in order to find out where they got lost.  (Turns out they got lost at Rick's end; see the bug for details).

However, the process of tracing the to-device messages is utterly miserable due to in

[2022-08-19 15:21] daniellekirkwood commented on #547
@gsouquet Yes!

Analytics should be driven by Engineering (y'all know best) but here's my 2 cents...

- Space switching icon/fab clicked
- Space switched (already exists? Could be ViewRoom where room = Space or subspace -- we had this discussion for the app study and whatever we did was great.)
  - Is it a space or a subspace?
- Space created via bottom sheet
- Recents toggled on
- Recents toggled

[2022-08-19 17:17] ara4n commented on #558
Fwiw, my suggestion for fixing this is to get clients & servers to emit structured logging which we can then view via jaeger.  The server almost does this already; it just needs IDs and spans to be joined up.  The clients meanwhile can emit structured logging datapoints to a little HTTP server sitting alongside Jaeger which can then emit the necessary datapoints into Jaeger.  The datapoints would

[2022-08-20 10:57] rwjack commented on #559
This really should be a feature. It's amazing how it hasn't been widely requested yet.

Small server > closed registration > registration tokens (so I don't have to create random password new accounts and give people username/password combo, would be easier to just share a single URL)

[2022-08-20 23:29] tgr opened #560 "Connect existing Element account to Google/Facebook/etc"
On the Element login page, there are various social auth (OpenID Connect) buttons (for matrix.org, Google, Facebook, Github, Gitlab, Apple), but it does not seem to be possible to use these with an existing account: after authenticating with the OIDC provider, I am asked to provide my Matrix username, and if it exists already, I'll just get an error saying the username is not free. That feels like

[2022-08-21 15:11] mkarg opened #561 "Search for #Hashtag in Messages"
### Your use case

#### What would you like to do?

I want to add tags to messages and search all messages by tag.

#### Why would you like to do it?

Because I am used to do that from social media.

Because it is convenient to search all messages ever sent and received to easily find everthing around a shared topic, independent of the chat room and chat topic.

#### How would you like to achieve

[2022-08-21 18:44] adriel-tech commented on #561
I add #hashtags to messages I have sent my self, then search for the hashtag, works fine. I understand you are looking for something a little more specific, but this can be currently done, you just have to search the tag not just click a link. Not saying this is not a good suggestion.

[2022-08-22 08:29] #561 closed, assigned to nobody

[2022-08-22 14:26] daniellekirkwood commented on #547
@gileluard
We would like to know:
* How often users turn on and off Filters or Recents from Home
* How often users switch space using the icon and if that space is a space or a subspace

It would be interesting to know (but is not a blocker)...
* If Filters are on, which ones are being used

Does this help?

[2022-08-22 14:54] fedrunov commented on #547
We have:

Space switching:

- Interaction.SpacePanelSelectedSpace (User tapped the already selected space from the space list.)
- Interaction.SpacePanelSwitchSpace (SpacePanelSelectedSpace)
- ViewRoom (isSpace = true) (but I can't see it being used on Android)

Invites:

- No event for Invites screen

AppLayout settings:

- No event for settings dialog

AppBar:

- No event for new avatar icon clic

[2022-08-22 14:58] daniellekirkwood commented on #547
Ok, if I'm reading it correctly that looks like what we need for space switching?
Invites and app bar would be interesting but not necessary, same for access to the app settings dialog.

Can we implement tracking on the recents and filters toggles?

[2022-08-22 15:00] fedrunov commented on #547
Yes, and changing filters also. It's easy to track screen enter and button click, so no problem to do so if you are intersted, my main concern here is how many events our PostHog is able to proceed

[2022-08-22 15:06] gileluard commented on #547
On iOS ViewRoom (isSpace = true) is used for space explore rooms already

AllChats screen is tracked as `home` as of now.

Space switching already implemented:

- Interaction.SpacePanelSelectedSpace (User tapped the already selected space from the space list.)
- Interaction.SpacePanelSwitchSpace (SpacePanelSelectedSpace)

[2022-08-22 17:32] evert opened #564 "Turn off read receipts for entire channels"
### Your use case

#### What would you like to do?

I would like the ability to turn off read receipts for entire channels.

#### Why would you like to do it?

We use Element as the primary chat application in our company. Read receipts (now with timestamp) might create pressure for people to respond to something after they read a message. I want people in our company to not feel pressure or feel

[2022-08-22 17:36] simaddis opened #563 "Device list showing random device names."
**Describe the bug**
Device list showing random device names when multiple devices logged in to same account using SSO.

**To Reproduce**
login Alice to Element Web \(using SSO - SAML Azure AD\)
Login Alice to Element iOS \(using SSO - SAML Azure AD\)
Show "Where you're signed in" device list on Element Web.
Mobile device shows up with unrecognisable device name \(e.g. "FUBMQYXZSW"\) under "Device

[2022-08-22 22:50] #564 closed, assigned to nobody

[2022-08-23 09:51] daniellekirkwood opened #566 "Threads Beta: Launch plan"
**There will be 3 stages to removing the beta label and launching the MVP of Threads:**

1. Continuous deployment and delivery of improvements to product
2. Evaluation and testing of product when all items in Exit Beta issue have been resolved
3. Go-To-Market: Remove the beta label and launch GTM marketing materials

---

The Threads Exit Beta Epic is here:
* https://github.com/vector-im/element-m

[2022-08-23 10:06] daniellekirkwood commented on #566
[Germain] When do we switch from stable prefixes to unstable prefixes?

* Synapse might not recognise the new prefixes and fallback to the old (current) problems.

[2022-08-23 19:27] gileluard opened #568 "App Layout: Activate App Layout feature"
Simply activate new App Layout in `BuildSettings` and force clear cache.

[2022-08-23 19:29] gileluard commented on #568
Wrong repository

[2022-08-23 19:29] #568 closed, assigned to gileluard

[2022-08-24 01:04] BurnyBoi opened #569 "Include a room type on all new rooms"
**Is your feature request related to a problem? Please describe.**
Now that non-chat clients like MinesTRIX and others are being made, there is a benefit to knowing what each room is made for in order to know which to show on the UI (and where). Currently, rooms made with Element have no type specified like MinesTRIX does for example. This means if a non-chat client wants to know what rooms were m

[2022-08-24 06:42] SamuelAllain commented on #1534
That is indeed very annoying

[2022-08-24 06:45] SimonBrandner commented on #569
Not necessarily - we could codify that no room type = chat room (https://github.com/matrix-org/matrix-spec-proposals/pull/3827 already sort of this though only for a specific endpoint)

Anyway, this feels more like a https://github.com/matrix-org/matrix-spec issue...

[2022-08-24 07:39] gileluard commented on #547
Here is what I managed to do for the time being:

### Space switching icon/fab clicked ###
Screen `SpaceBottomSheet` + `ViewRoom(isSpace = true, trigger = RoomList)`
### User navigate inside the space bottom sheet ###
`ViewRoom(isSpace = true, trigger = MobileSpaceBottomSheet)`
### Space switched ###
Interaction `SpacePanelSwitchSpace` or `SpacePanelSwitchSubSpace` in case of a sub space
### Is it

[2022-08-24 16:10] #372 closed, assigned to gaelledel

[2022-08-25 12:19] clokep commented on #566
For API changes like the above, I don't think this necessarily needs to be tied to marketing of the features. It is more dependent on the spec process. (But we also want to be confident that our solution will pass spec before exiting beta).

[2022-08-26 01:27] morguldir commented on #556
Also note that many rooms in the matrix.org directory even have canonical aliases elsewhere, I can see aliases from tchns.de, archlinux.org, and grapheneos.org in the first 50 rooms for example.

[2022-08-26 09:44] daniellekirkwood commented on #163
Added the "Needs Design" label.

This feels like an easy thing to fix with something similar to the empty states we have where we explain clearly why there may not be results showing.

[2022-08-26 09:47] daniellekirkwood commented on #165
This feels like an interesting candidate for the notifications cycle in the delight team - whether we close it or not, let's see when we get there however, we can better define this issue and the outcome we're looking for.

[2022-08-26 09:50] daniellekirkwood commented on #168
Leaving this open and tagging as A-Search for when we take on Search as a project.

[2022-08-26 09:50] daniellekirkwood commented on #168
Leaving this open and tagging as A-Search for when we take on Search as a project.

[2022-08-26 10:14] daniellekirkwood commented on #156
@kittykat What do you think to closing this one? The remaining items are well written and not in our short-term backlog. We could close this issue and ensure the remaining items are labelled correctly as enhancements for us to apply in the future?

[2022-08-26 10:18] #157 closed, assigned to nobody

[2022-08-26 12:23] #156 closed, assigned to nobody

[2022-08-27 17:19] ghost opened #572 "Ability to disable "black dot" notifications for rooms"
**Is your feature request related to a problem? Please describe.**
When notifications are disabled on Element, and a message is sent in that room, the room name turns bold and a black dot is shown to the right on the room name (At least on web/desktop).
**Describe the solution you'd like**
The ability to disable that notification type.
**Describe alternatives you've considered**
A clear and concis

[2022-08-28 07:32] SimonBrandner commented on #572
![2022-08-28_09-30](https://user-images.githubusercontent.com/25768714/187063119-eaecca6f-c642-4ff2-8573-2f4209564707.png)

If you set notifications to `None`, you won't see any black/white dot. Do I understand correctly that you want to keep `Mentions & Keywords` enabled but not see the unread messages dot?

[2022-08-28 10:14] ghost commented on #572
@SimonBrandner I meant setting notifications to "None" and disabling the unread dot.

[2022-08-28 15:18] ghost commented on #328
Should we file an issue on #matrix-spec?

[2022-08-28 19:53] SimonBrandner commented on #572
Sorry, I am still somewhat confused... Which one of the notification options do you have selected? Would it work for you to have it set to `None`?

[2022-08-28 19:55] ghost commented on #572
@SimonBrandner I have the default notifications set to "None", the unread dot it still show.

I have to acknowledge that this bug is a bit weird, maybe we should just close it.

[2022-08-28 19:56] SimonBrandner commented on #572
Is it reliably reproducable?

[2022-08-28 19:57] ghost commented on #572
@SimonBrandner This is actually not a bug, just a feature request.

[2022-08-28 19:59] SimonBrandner commented on #572
If this is one Element Web/Desktop and you have notifications set to `None`, there should be no dot shown and therefore this would be a bug. If that is the case, please open an issue at https://github.com/vector-im/element-web/

[2022-08-28 20:00] ghost commented on #572
@SimonBrandner very well, thanks for the help.

[2022-08-28 20:00] #572 closed, assigned to nobody

[2022-08-28 21:53] robintown commented on #328
Yes, you can file one there.

[2022-08-31 10:59] daniellekirkwood commented on #566
#### Release issues

- [ ] [https://github.com/vector-im/element-ios/issues/5799](https://github.com/vector-im/element-ios/issues/5799)
- [ ] [https://github.com/vector-im/element-android/issues/5503](https://github.com/vector-im/element-android/issues/5503)
- [ ] [https://github.com/vector-im/element-web/issues/21910](https://github.com/vector-im/element-web/issues/21910)

[2022-08-31 11:06] q9f commented on #573
We have been using matrix (vector, riot, element) for many years now for companies internally, but also for larger public communities. It has matured a lot and clients like element are so much more usable today as compared to five years ago; and we really appreciate it.

However, I have to agree with @cdauth that this issue is potentially the biggest pain point in managing communities currently. A

[2022-09-01 12:35] beposec commented on #321
Bump! Any Update? @moodler asked important questions 😊

[2022-09-01 15:00] iceHtwoO commented on #321
A easy way to send gifs may sound like a minor feature but it can make or break a chat client in my opinion. Please don't ghost us for another 7 years...

[2022-09-01 15:03] J-tt commented on #321
Would especially like an update, since I put a cash bounty on the issue that is still just sitting in escrow :’(

[2022-09-01 17:09] seanfarley commented on #321
Looks like it'll be another 7 years 🙃

[2022-09-01 17:39] turt2live commented on #321
I've raised this issue with the product team, again.

[2022-09-01 17:42] seanfarley commented on #321
And with no visibility into that process, the community is left in the dark with no knowledge of the status nor a way to even contribute since all attempts have been closed.

[2022-09-01 18:19] turt2live commented on #321
It's an internal process which attempts to get publicly-available feedback brought to the issue. While I appreciate this feature is desirable to a lot of people, please also be aware that the [team's roadmap is public](https://github.com/vector-im/roadmap/projects/1), and this issue is listed as "Future".

If it helps calm tensions a bit, I've asked the product team to explicitly raise their feedb

[2022-09-01 18:43] michelebugio commented on #321
I'm a bit concerned about what seems to be a bit of a disconnect between the team and users.

I understand there is a process, I understand the team is otherwise engaged.

However, without a gif keyboard, matrix cannot and will not be used by a plethora of people that, once nerds like us set them up (I set up a server just for a few friends, and many are doing that for small communities), would be

[2022-09-01 18:49] turt2live commented on #321
fwiw, it's also important to distinguish between Element and Matrix here: while Element helps significantly to the uptake of Matrix, it is not the only one out there doing this :)

On a similar note, on the Matrix side we've identified custom emoji/stickers as near-critically important, alongside threads and a few other features. The Matrix side will be pushing for this and it might have considera

[2022-09-01 18:51] pszypowicz commented on #321
If using Giphy api is a security risk, this should really be ‚opt in’ feature then, with an option for advanced users to set up proxy.

Do not let the ideal solution be an enemy of a good one.

[2022-09-01 18:53] ItsEcholot commented on #321
This is the same point that has been brought up in https://github.com/vector-im/element-meta/issues/321#issuecomment-1134918007 and the reason why it was reopened in the next comment: GIFs aren't stickers nor emojis. As mentioned in https://github.com/vector-im/element-meta/issues/321#issuecomment-1140423589 this could be a simple client only change which adds gif search

[2022-09-01 18:53] seanfarley commented on #321
I was going to say this as well since we're almost at the *decade* mark. Trust has been utterly destroyed with this broken system of internal processes.

[2022-09-01 19:00] turt2live commented on #321
Any API could be considered a privacy risk (note: not the same as a security risk, necessarily). Whether it's opt-in or out is largely a product decision, and the team will be asking that question: what is best for our users, and are there risks in taking that standpoint?

We categorically are not, however we have a different bar for what "good enough to ship" is.

They indeed aren't stickers or e

[2022-09-01 19:12] pszypowicz commented on #321
![8DCCC2E1-A8D0-414A-88FE-C43F7F9B9956](https://user-images.githubusercontent.com/2733699/187993304-27c6bd1f-e273-4b45-a767-1bfc55558cc5.gif)

But on a serious note, I hope you are right :)

[2022-09-01 19:13] ara4n commented on #321
The way to do this in a relatively privacy preserving manner would be to do something like https://signal.org/blog/giphy-experiment/

[2022-09-01 21:59] scottwallacesh commented on #321
The downside to this, of course, is that we're relying on a centralised service to act as the "VPN" -- unless you're advocating that the Homeserver acts as this "VPN"?

[2022-09-02 04:09] moodler commented on #321
While we're waiting for someone to unblock the development here, perhaps we can change this issue name?  "Add support for a GIF Keyboard" doesn't make a lot of sense and sounds niche, perhaps it could be "Add UI to find and send GIFs" or something.

(BTW my hacky awkward workaround for the moment is a private chatroom called "GIFs" where I've put all my commonly-used GIFs and I forward them into o

[2022-09-02 13:21] jakewb-b commented on #321
Hi folks - hopefully I can add some context from the product side, and offer to help a bit.

We 100% see this an important and desirable feature. The difficulty is that it raises a bunch of questions that we'd have to answer if we were going to implement it ourselves: particularly around what privacy implications it has and how we manage those, and how customisable it needs to be. As Travis says,

[2022-09-02 13:46] arkitoure commented on #321
Thank you @jakewb-b . Ive been lurking on this thread for some time hoping for some forward movement, pardon me for swooping in like so but our user base does desire to have this feature at the very least of all image based add-ons. Stickers quite frankly no one cares about and polling the community it seems like GIFs are higher up on the list than anything else.

We moved our community from disco

[2022-09-02 14:42] daniellekirkwood opened #577 "Mark all as Read (including Threads)"
While this issue is marked as an enhancement we need to define the behaviour for Threads Exit Beta and then update this WIP issue with the appropriate next steps that are not blocking to the Exit Beta release.

Now that we have Thread Timelines as well as the Main Timeline we do not have the ability to mark a room as read on Web. The Main Timeline button that (without threads) marks a room as read

[2022-09-02 14:43] germain-gg commented on #577
We have a solution to mark the room as read technically, but it won't scale very well.
Follow the MSC conversation about how to do it in a more performant manner https://github.com/matrix-org/matrix-spec-proposals/pull/3773/files#r961753262

[2022-09-02 15:25] #569 closed, assigned to nobody

[2022-09-03 05:23] joshuaboniface commented on #2140
I 100% support this.

This is how Mattermost does threads, versus the current implementation is how Slack does threads. I will refer to them by these names.

Slack-style I find completely unusable. First, it shuffles threads off into a hidden void separate from the main channel, accessible only in a small sliver of the window. Further, since the thread is "tied" to another message in the timeline,

[2022-09-03 13:00] ara4n opened #580 "QR-code scan to DM someone"
**Is your feature request related to a problem? Please describe.**

Right now when you verify someone, you have to first ask them what their mxid is and manually DM them, and *then* start the QR verification cance.

**Describe the solution you'd like**

Shamelessly stealing from @fkwp - it'd be cool if you could scan a QR code to do both in one swoop.

**Additional context**

This was inspired by

[2022-09-04 08:58] SethFalco opened #581 "Option to propagate setting/permissions changes to rooms"
### Your use case

#### What would you like to do?

When changing settings in a Space, especially permissions, I'd like to have an easy button that allows me to propagate those changes to all rooms in the space that I also have permission to manage that setting for.

#### Why would you like to do it?

Sometimes when I change settings, it's something I want to change across the entire space includi

[2022-09-05 08:03] #581 closed, assigned to nobody

[2022-09-05 08:09] pagdot commented on #321
Wouldn't say that. Stickers are a great way to add customized reactions similar to emojis. Although I don't use them with a big reason being that they aren't supported by element. I've seen them used for reaction memes in a small community adding a bit more fun when you not just post a generic face-palm emoji or even gif, but a sticker with one member of the community face palming.

I'm also the o

[2022-09-05 09:14] #583 closed, assigned to nobody

[2022-09-05 10:01] #585 closed, assigned to nobody

[2022-09-05 10:25] #587 closed, assigned to nobody

[2022-09-05 10:33] #589 closed, assigned to nobody

[2022-09-05 10:35] arkitoure commented on #321
@pagdot, yes I would agree with you. While this is something I'd also like to see developed to the level of Telegram, for instance, in our community people are not so keen on them compared to GIFs. But by all means keep both features on the table for short to mid term implementation, GIF's being 1st up.

[2022-09-05 15:24] Ezwen commented on #1210
Maybe in Element Call?

[2022-09-05 17:14] xPMo commented on #533
We've also noticed that some clients limit the number of options visible to 20, while others do not.

[2022-09-06 11:10] daniellekirkwood commented on #550
iOS released with a Labs flag in the RC of 23rd August and Labs launch to users on 30th August.

[2022-09-06 16:36] daniellekirkwood commented on #235
This should be fixed with the notifications work that we're doing for the Exit Beta Milestone @gsouquet / @clokep ?

[2022-09-06 16:43] clokep commented on #235
This issue is a bit confusing -- it isn't really related to notifications, but to the way we display threads under "My Threads". It should be fixed as part of the threads list API added in MSC3856 as part of the exit beta work.

[2022-09-06 16:46] daniellekirkwood commented on #196
We're removing the need for MSC3772 from Exit Beta as we've changed the default settings for the MVP of Threads notifications. In the future we should build 3772 but not for this milestone.

More info on what we are doing here: https://docs.google.com/document/d/1DYyDsf24OlrME3h-Hg-H2GvCrKkqZJrQwIbNWjqxB2A/edit?usp=sharing

[2022-09-07 00:39] kamuridesu commented on #1533
bump

[2022-09-07 09:28] daniellekirkwood commented on #145
This was the Q1 epic, closing as complete.

[2022-09-07 09:28] #145 closed, assigned to daniellekirkwood

[2022-09-07 09:30] daniellekirkwood commented on #227
This remainder of this project has been deprioritised in place of Threads.
We delivered the New User Checklist: https://github.com/vector-im/element-web/issues/22463

Moving this back to Concept.

[2022-09-07 09:31] daniellekirkwood commented on #154
Hey @kittykat Do you think this should be moved to Concept on the Product Pipeline board as we're not actively looking at this right now? Or is it done?

[2022-09-07 09:33] daniellekirkwood commented on #56
@nadonomy  As this is not actively being worked on anymore, do you think we've completed this epic, and we can close it? Or should we move it back to the Product Pipeline Concept column to pick up later?

[2022-09-07 09:36] kittykat commented on #154
I think we can close this one as are focus has shifted significantly

[2022-09-07 09:36] #154 closed, assigned to nobody

[2022-09-07 12:46] Tanner85 commented on #319
Hello to everybody,
I'm also looking for a "put a star on the message" feature and a relative listing function to read messages that I marked as important to me. Is this being developed? I feel it's a very awaited feature.

[2022-09-07 13:27] D4ndellion opened #593 "Multiple choice polls"
### Your use case

#### What would you like to do?
Answer a multiple choice poll with multiple answers

#### Why would you like to do it?
Often you'd be okay with multiple outcomes. For example for planning around time slots

#### How would you like to achieve it?
By clicking the polls items

### Have you considered any alternatives?

The most often used alternative is to just type out messages an

[2022-09-07 13:40] #593 closed, assigned to nobody

[2022-09-07 14:26] karlabbott commented on #580
I've labeled this occasional as verifying someone should be a one time activity per contact.

[2022-09-07 14:28] karlabbott commented on #525
I've labeled this occasional as this would pretty much be a one-time setup thing.

[2022-09-07 14:30] #595 closed, assigned to nobody

[2022-09-07 14:33] karlabbott commented on #524
Marked as occasional as this should only be seen during the new user registration/auth flow.

[2022-09-07 14:34] karlabbott commented on #524
@daniellekirkwood Does the lack of these updates prevent this functionality from working? Or does the lack of these updates just make the experience annoying?

[2022-09-07 14:41] daniellekirkwood commented on #524
@karlabbott I think it's a design defect, not a technical one. Will update labels. Thanks!

[2022-09-07 15:01] #599 closed, assigned to nobody

[2022-09-07 15:05] yostyle opened #601 "Support the widget API features needed for Element Call integration"
### Discussed in https://github.com/vector-im/element-meta/discussions/598

<div type='discussions-op-text'>

<sup>Originally posted by **robintown** July 29, 2022</sup>
### Your use case

#### What would you like to do?

Implement [MSC2762](https://github.com/matrix-org/matrix-spec-proposals/pull/2762), [MSC3819](https://github.com/matrix-org/matrix-spec-proposals/pull/3819), and [MSC3846](https:

[2022-09-07 18:09] karlabbott commented on #55
@daniellekirkwood Could you provide more information on what this request should be?

[2022-09-08 06:58] jbastruz commented on #345
Hi guys! I just read this topic, and I'm quite interested! Do we have any updates on the 2FA? Is it still under discussion or is it in production?

[2022-09-08 07:45] Mikaela commented on #345
I think Element has given up on this and moved the issue to https://areweoidcyet.com/

2FA/MFA currently depends on login system of your homeserver

[2022-09-08 09:27] daniellekirkwood commented on #55
Updated the description - thanks, @karlabbott

[2022-09-08 10:49] daniellekirkwood commented on #534
Adding @niquewoodhouse as an assignee as we'll be working on this! :)
So far we're collecting all the issues related to this here but I'll be assigning the label Z-AccountResurrection so that we can segment them in the board.

@niquewoodhouse & @gsouquet Let's partner on the description in this issue so that we can cut the scope in a good place. Will reach out in Element.

[2022-09-08 12:59] daniellekirkwood commented on #359
This was resolved as part of the Mobile FTUE work and the remaining Web piece is being tracked here: https://github.com/vector-im/element-web/issues/23131

[2022-09-08 14:55] ara4n opened #613 "Remove grey gradient from images in bubbles on mobile"
https://github.com/matrix-org/matrix-react-sdk/pull/9241 fixes EW; need to fix EI & EA too

[2022-09-08 15:06] daniellekirkwood opened #614 "Default notifications for groups and DMs"
This is a chronic issue

**User Problem**: Users expect DMs and mentions to notify them by default - but not random conversation in group chat rooms.
**Defect:** Public chats notify for everything by default, encouraging you to mute the app
**Suggested plan:** Switch the defaults to mute public rooms by default, and grandfather in the old push behaviour. Avoid getting sucked into "must fix notific

[2022-09-08 15:08] daniellekirkwood opened #615 "Users expect to be told when they have missed notifications"
This is a chronic issue

**Problem:** Users expect to be told when they have missed notifications.
**Defect:** Re-add the badge to the NotifPanel so folks can see when they have notifs(!)
**Suggested Plan:** Add the badge. We had it pre-Element, in https://github.com/matrix-org/matrix-react-sdk/pull/2336

[2022-09-08 15:10] daniellekirkwood opened #616 "Improve performance for loading Space hierarchy, so that it's instant and searchable."
This is a chronic issue

Problem: Users expect space hierarchies to load instantly and be searchable rapidly.
Defect: Time to view and search a space hierarchy
Suggested plan: It takes tens of seconds to view and search space hierarchies. Need dedicated work to fix this in synapse.

[2022-09-08 15:13] daniellekirkwood opened #617 "Finding the right person to DM is hard"
This is a chronic issue

Problem: User search results should prioritise more active users, making it easier to find the right 'Matthew' to invite.
Defect: Finding the right person to DM is hard.
Suggested plan: Do an iteration on invite UX: add spotlight on moble; improve UX around inviting by email or phone number; improve ordering of suggestions perhaps based on the traffic seen from a given acc

[2022-09-08 15:14] daniellekirkwood opened #618 "Automatically send queued messages"
**This is a chronic issue**

Problem: Users expect messages to send as opportunistically as possible, rather than require manual intervention, as that's how WA works.

Defect: Automatically send queued msgs in bg and when the app launches (even if they are stale, for parity with WA)

Suggested plan: This is a very common complaint from my friends and family - "Why didn't Element send my message? W

[2022-09-08 15:32] daniellekirkwood opened #619 "Delight Cycle: Account Resurrection"
Cycle: Account resurrection
XX October 2022 > XX October 2022

**Next steps**
- [x] Find other issues in GitHub that are related and tag them with the label Z-AccountResurrection ready for Triaging
- [x] Discuss the in progress 🚧 items with the team
- [ ] Scope and estimate the cycle

✅ **Problem Statement - What is motivating us to work on this?**
Encouraged users who have created, then abandoned

[2022-09-08 16:32] daniellekirkwood commented on #619
Moving to a GDoc
https://docs.google.com/document/d/1c9se10TsC3cBD-3ZwSaVsfskXMPO19Eg3eDrtKCE5rw/edit#heading=h.rl5jy3foo63a

[2022-09-08 16:32] #619 closed, assigned to daniellekirkwood

[2022-09-08 17:22] karlabbott commented on #55
@daniellekirkwood This is marked X-Needs-Info -- who are we waiting for information from?

[2022-09-09 13:01] kittykat opened #623 "Room name in invite doesn't update"
### Steps to reproduce

1. Receive an invite to a room
2. The room is renamed
3. See the invite with the original room name in the left panel
4. Join the room

### Outcome

#### What did you expect?
Invite in the left panel updates if room name is updated before I accept the invite

#### What happened instead?
I was confused about why I joined a different room from the one I was invited to

### Op

[2022-09-10 14:19] hoomanist opened #620 "Getting notified when someone replies on you"
### Your use case

#### What would you like to do?
I want to be able to see if someone has replied on my messages in group chats.
#### Why would you like to do it?
It's really annoying to go through every message to see if there is something related to me.
#### How would you like to achieve it?
Perhaps a button which says how many replies there are that you can tap and it would go through them one

[2022-09-11 05:30] ghost opened #622 "I just want to ask. I couldn't find any information on the website. linux. how do I delete element?"
![Снимок экрана от 2022-09-11 08-27-35](https://user-images.githubusercontent.com/113162918/189513843-881edc08-ca65-4c3b-bf29-fcffa95d8520.png)

[2022-09-11 11:00] noantiq opened #845 "App Layout: Consider pinning favourite rooms to top"
### Your use case

First of all I want to say, that I am really happy to see the work happening for the new app layout.

#### What would you like to do?
Easily navigate to my favourite room(s) in a familiar manner.
#### Why would you like to do it?
Rooms I marked as favourites are special to me and should be found quickly without scrolling the room list or searching for them.
#### How would you li

[2022-09-12 00:55] ThePharaohArt commented on #624
There should be a custom global background for your client.
And there should be an option in the client to allow rooms to override the background when in said room. Some people (me) would probably keep this overriding off.

[2022-09-12 07:54] #620 closed, assigned to nobody

[2022-09-12 08:10] mnaturel commented on #626
Hi @HarHarLinks, thanks for submitting this idea. To fully understand your suggestion, could you detail what changes you would like to see concerning the location sharing style?
The app currently supports "Dark mode" when enabled on the device. Are you suggesting the map should also be in dark style? If so, I see an example of [dark style in the mapTiler SDK we are currently using](https://www.map

[2022-09-12 08:39] t3chguy commented on #623
This isn't an Element issue, invites include a snapshot of the room at the time of the invite, so fixing this would need spec + server changes.

[2022-09-12 09:27] HarHarLinks commented on #626
exactly.

Currently it looks like this (map tiles are in light mode regardless of app being in dark mode):
![image](https://user-images.githubusercontent.com/2803622/189617914-2bd14e40-eb7a-4935-8a5f-2dc6e423dbe8.png)
![image](https://user-images.githubusercontent.com/2803622/189618010-683c5308-cf6b-4144-a086-67002a738498.png)

While the suggestion you linked goes in the right direction, I would p

[2022-09-12 09:28] HarHarLinks commented on #626
This is also generally a meta issue, e.g. desktop is using light mode tiles in dark mode element, too.

[2022-09-12 11:59] zeuner opened #627 "Quoting a message should show where it was from"
### Your use case

#### What would you like to do?

When I quote (parts of a) message using the "Quote" dropdown entry, the new message should be related to the message that was quoted.

#### Why would you like to do it?

When I hit "Reply" to quote a message and reply to it, users can click on the reply and go to the original message. But this seems to require fully quoting the message replied to

[2022-09-12 12:04] mnaturel commented on #626
Thanks for explaining your request. I have moved the issue in meta repository so that it can be discussed accross the whole Element ecosystem. And design team should be involved in this discussion.

[2022-09-12 12:09] #627 closed, assigned to nobody

[2022-09-12 13:51] jakewb-b commented on #321
Afternoon everyone. Thanks for your patience with this. I've been giving this some more thought, and I'll try to lay out the key points we'd be concerned about from a product perspective, to hopefully give some guidance to people who want to implement this and make it more likely that we could merge a community-contributed PR in future.

First off - @gaelledel provided some designs including behav

[2022-09-12 15:26] seanfarley commented on #321
This seems orthogonal to the issue at hand. Currently, I can just drag-and-drop a gif and the user will receive it no matter what (submit `b`). I understand how something like this could slip into this issue but I strongly suggest making it its own, separate issue.

[2022-09-12 16:39] slayernominee opened #629 "Hate Speech Filter"
### Your use case

Hey 👋,
Our community has recently encountered a bad event where one user joined spammed hate speech and left. Of course we can ban him and we did it already but it would be really good if you could implement some sort of hate speech filter …

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-09-12 16:49] #629 closed, assigned to nobody

[2022-09-12 16:49] pagdot commented on #321
I could imagine designing a gif api and implementing a proxy for giphy or other similar services with this API. Additionally, a privacy oriented selfhostable gif service could be implemented.

Giphy or other providers would only know the ip from the proxy and the proxy could be implemented privacy friendly. Other chat apps could also implement this api client side to support gif proxies.

A simple

[2022-09-12 17:10] SimonBrandner commented on #622
To uninstall Element on Debian Linux you would do this

[code]

[2022-09-12 17:10] #622 closed, assigned to nobody

[2022-09-13 07:48] weeman1337 opened #631 "Voice Broadacst (by message chunking)"
**Is your feature request related to a problem? Please describe.**

As a user I want to be able to send a voice broadcast to all users of a room, so that I can easily provide information by just talking. Compared to already existing voice messages it should be possible to listen to voice broadcast at the time they are being recorded. Think of this being a live-podcast over Matrix.

Some use-case s

[2022-09-13 08:04] #631 closed, assigned to nobody

[2022-09-13 12:04] ghost commented on #622
Thanks.

[2022-09-13 18:29] daniellekirkwood commented on #550
https://posthog.hss.element.io/dashboard/710

needs Android adding

[2022-09-14 13:14] hoka99 opened #635 "Location Sharing Ended: Show the last shared location in the timeline."
### Your use case

#### What would you like to do?

1. After location sharing has ended, the location-share event in the timeline should show the last shared location.
2. Clicking on any expired location-share event in the timeline should show a more detailed map view, including the locations of all users who have shared their location, including expired location shares.
3. The Detailed Map UX sho

[2022-09-14 14:01] tgr opened #633 "Allow ignoring mentions from a specific user"
### Your use case

Certain bots generate uninformative mentions (e.g. a repo notifaction bot generates a message if I push a commit to the repo, and that message will contain my username). Mentions are noisy (result in phone buzz) so I'd like to prevent them.

Similar to the "Ignore" option in the member details panel, there should be something like "Ignore mentions".

### Have you considered any

[2022-09-14 14:04] bkil commented on #1114
I bump into newbies who fall over this hoop almost every month. Interestingly, in some of the cases, I can read their first message, but not further ones. Perhaps that's the point in time when they find this cool option that sounds so fantastic, advanced, mystic and security-boosting to them that they haven't seen on Facebook or WhatsApp before?

Some of them then ask me to click verify and just b

[2022-09-14 14:09] #633 closed, assigned to nobody

[2022-09-14 14:15] FSG-Cat commented on #1114
I fail to see why this option gets so much flak when its clearly a user education issue not a technology issue. The option exists for higher security users clearly. Now the communication around this option could be done better but the option is not a danger. The option is literally the oposite.

[2022-09-14 15:18] bkil commented on #1903
Replying to the original issue @ara4n . Could you please cite the section that states that you can't have `#` or `@` within your anchor? I have [an artistic project](https://github.com/bkil/private-plugin.php) in which I generate most every character in the anchor and I would be very sad if parsers started making additional assumptions upon how a URI could or should be structured. (Yes, I'm lookin

[2022-09-14 18:15] karlabbott commented on #320
So we've had a discussion about this in product and we are in favor of making the default status for dms to be "Members Only (since they were invited)" which is what @reivilibre pointed out not far above.

Our internal teams are looking into what needs to be done to better shore up the definitions of dm versus room and handle this better overall. That said, that work is still a few months away and

[2022-09-14 19:07] Susurrus opened #637 "Add option to leave voicemail"
### Your use case

#### What would you like to do?

If a user doesn't pick up or declines a call, I'd like to leave a voice message, similar to how conventional phones work.

#### Why would you like to do it?

Often when I'm calling someone, I'm already committed to using voice for whatever reason. I may not be able to use both hands to type, I may need to say something complex that would be too h

[2022-09-15 07:18] #635 closed, assigned to nobody

[2022-09-15 07:44] #637 closed, assigned to nobody

[2022-09-15 09:12] tmissoni commented on #61
### Suggestion: Create a Thread

There should be the possibilty to Create a Thread in room. Creation of the Thread implies that all the reply must be part of the Thread and will not be added to the standard timeline.
Upon Thread creation, you are asked to give the Thread a name. Such name, will be used for easier navigation in the Thread Panel and for a more efficient search of topics.
The Discord

[2022-09-15 09:15] tmissoni commented on #61
### Suggestion: Naming a Thread

In addition to the naming of a Thread upon creation, there should be the possibility to name a thread that has been already created. Again, this add the value of easier navigation in the Thread Panel and more efficient search.

[2022-09-15 15:57] YamatoRyou opened #639 "Mark files that have been deleted on the server."
### Your use case

#### What would you like to do?
If a file is deleted on the server, but still exists in the room's stream, use a flag to inform the user that the file no longer exists on the server.
When the user tries to download the file, somehow inform the user that the file cannot be downloaded, instead of popping up a select path dialog.
![{843A582B-5758-7C8A-2188-7E0C3D8EA33A}](https://us

[2022-09-15 16:07] t3chguy commented on #639
This would require a HEAD request to each and every bit of media to check if it is still present, which would be a significant privacy leak as then your server would know exactly where your client is scrolling

[2022-09-15 16:07] #639 closed, assigned to nobody

[2022-09-15 18:49] beposec commented on #321
Increased the bounty :-)

[2022-09-15 19:15] BurnyBoi opened #641 "Anonymous Polls"
**Is your feature request related to a problem? Please describe.**

If you look at the hidden events for poll responses using the setting in Element, you can see who voted for what using the "answers" field in the event.:
![image](https://user-images.githubusercontent.com/41203525/190489689-61d6daf6-1bdf-46a2-8b07-40e056383fd3.png)

**Describe the solution you'd like**
I'd like to suggest anonymou

[2022-09-16 11:06] anoadragon453 commented on #321
Signal has a server-side proxied giphy search feature:

* https://signal.org/blog/giphy-experiment/
* https://signal.org/blog/signal-and-giphy-update/

I looked into how this works and whether there was any code we could re-use. Instead of a gif-searching-specific proxy, Signal look to have implemented a generic proxy for any request from the client: https://github.com/signalapp/Signal-TLS-Proxy.

[2022-09-16 11:55] dkasak opened #642 "Clients must present sufficient E2EE-related information to assist debugging/compromise detection"
Clients must unify the way they present E2EE-related information, to assist in debugging and detecting a potential compromise. Each client must be able to display all of the following:

- [ ] Must display device IDs for *each* device
- [ ] Display room key backup information
  - [ ] Backup version
  - [ ] Backup algorithm
  - [ ] Number of keys in backup
  - [ ] Backup signatures
    - [ ] Whether

[2022-09-17 14:31] ara4n commented on #615
i did it: https://github.com/matrix-org/matrix-react-sdk/pull/9242

[2022-09-17 14:31] #615 closed, assigned to amshakal, daniellekirkwood

[2022-09-18 08:48] ghost commented on #209
A use case for emulating the most succesfull model in the world? Wow! Some people must have their masks over their whole faces! Blind!! Enough said.

[2022-09-19 09:16] hex-m commented on #321
Link previews come to mind. This was already discussed here: https://github.com/vector-im/element-meta/issues/1138

Maybe Widgets too? I assume the server hosting a widget learns the IPs of all the clients in the room in the current setup.

And the Map-Tile Server. Most users probably use the default one. That service could learn who is in a room together because they viewed the same coordinates.

[2022-09-19 17:47] hex-m commented on #644
I don't know of any prior art (other messaging services doing this) but having "event" as a native data type would be immensely useful. While we naturally share the **where** in the form of coordinates, the **when** is still an unstructured string.

Being able to post an event in some standard format (iCalendar, JSCalendar) and make the client do the right thing (render beautifully, ask if you wan

[2022-09-19 18:38] hex-m commented on #295
All files linked in this thread are gone. This topic is also discussed in https://github.com/vector-im/element-meta/issues/644.

[2022-09-20 10:59] kojid0 commented on #845
Instead of having another tab for favorites, they can simply be pinned to top, no matter whether _recents_ or _filters_ are enabled or not.
This will save space by having one less tab and can solve issues like vector-im/element-android#7155.

![grafik](https://user-images.githubusercontent.com/24477557/191240546-8bf9116b-d971-4ea4-9b87-98172f735bff.png)

[2022-09-20 11:32] kojid0 commented on #845
Another option would be to show favorites in the horizontal bar. If the user decides to enable the horizontal top bar, he can decide between favorites or recents.

- 1) User doesn't enable top bar:
List favorites as pinned to top (like [here](https://github.com/vector-im/element-meta/issues/845))
- 2) User enables top bar and chooses recents:
List favorites as pinned to top (like [here](https://gi

[2022-09-20 11:35] kojid0 commented on #845
Pinging the design team (@daniellekirkwood ?) as this should be labeled as a blocker before the new app layout gets released.

[2022-09-20 16:17] daniellekirkwood commented on #845
Thanks for the feedback!

This isn't a blocker to our first release but we really appreciate the feedback and will be looking to address Favourites and Low Priority in the future.

[2022-09-20 18:02] timothee-haudebourg opened #2694 "Support for the `max_selections` poll parameter"
### Your use case

#### What would you like to do?

I would like to configure polls where participants can select multiples options.

#### Why would you like to do it?

This is useful to achieve consensus when each participant have no preference between multiple options. For instance to settle a meeting time/date.

#### How would you like to achieve it?

[MSC3381](https://github.com/matrix-org/mat

[2022-09-21 08:30] weeman1337 opened #648 "i18n DE: Inconsistend „Continue with $“ translations"
**Describe the bug**
The translation for „Continsue with $“ is inconsistent across platforms

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to login with SAML or another provider on Web, Andorid and iOS

**Expected behaviour**

Same translation everywhere. Suggestion „Weiter mit $“

**Actual behaviour**

Different translations
- Web: „Mit $ fortfahren“
- Android: „Mit $ weitermachen“
-

[2022-09-21 08:30] weeman1337 commented on #648
For iOS the value is here: https://translate.element.io/translate/riot-ios/riot-ios/de/?checksum=f0926b8d2229c4f&q=social_login_button_title_continue&sort_by=-priority%2Cposition
For Android: https://translate.element.io/translate/element-android/element-app/de/?checksum=5852a0a35aa72262&q=login_social_continue_with&sort_by=-priority%2Cposition
For Web: https://translate.element.io/translate/eleme

[2022-09-21 08:33] weeman1337 commented on #648
Updated translations and left a comment there

[2022-09-21 08:33] #648 closed, assigned to nobody

[2022-09-21 15:26] clokep opened #649 "Unread tab on the new mobile layout only shows highlights"
**Describe the bug**
The unread tab on the new mobile layout only shows rooms with unread notifications (i.e. highlight messages).

If you have notifications disabled for most rooms than this filter becomes useless and isn't an easy way to track unread rooms.

**To Reproduce**
Steps to reproduce the behavior:

1. Disable notifications most notifications, e.g. something like:

![image](https://user

[2022-09-21 18:07] anoadragon453 opened #650 "Automatic Transcription of Voice Messages"
**Is your feature request related to a problem? Please describe.**
Sometimes when I receive a voice message, I am not in an environment where I am able to listen to the message. Additionally, I may be listening to something already and not want to add an additional stream of audio to be able to communicate with someone. Finally, I may be deaf and not able to hear audio at all.

**Describe the solu

[2022-09-21 18:13] SimonBrandner commented on #649
For me, the current behavior is exactly what I want - the rooms where I've disabled notifications aren't that important to me, so I don't want them to show up on that list

[2022-09-21 18:16] clokep commented on #649
This sounds more like you want the "Notifications" view from Element Web which only shows notifications then?

To be clear by "disabled notifications" I mean having the notifications setting to "off" in the settings panel (this causes the room to get a dot on it when new messages come in), which isn't quite the same as setting notifications to "None" in a specific room's drop down (which causes no

[2022-09-21 21:05] turt2live commented on #1491
This is effectively impossible for the client to fix on its own - it will need some sort of spec fix, possibly from Sliding Sync or being able to identify gaps in the timeline.

[2022-09-22 14:11] SimonBrandner commented on #649
Yeah, basically that. Though I guess `Unreads` is more understandable for a regular user and that is why it was chosen

To be clear about my side: I have a lot of room set to `Mentions & Keywords` but do not want them to show up on that list because I don't care too much about those rooms (unless I am mentioned/keyworded (if that's a word))

[2022-09-22 14:18] clokep commented on #649
Sounds like I have the same setup but *do* care about those rooms. Rooms I don't care about I disable notifications completely.

[2022-09-22 14:20] SimonBrandner commented on #649
Yeah, I just only care about them if I get mentioned/keyworded

[2022-09-23 13:54] daniellekirkwood opened #651 "App Layout: Put a badge on the Space icon"
There's a request in JIRA to add a badge on the Space icon so that users are aware of any notifications from other spaces.

I'm creating this issue to track the request for an enhancement

[2022-09-23 17:42] Rak-Shekem opened #652 "RTL (Right to Left) characters aren't aligned"
**Describe the bug**
When typing a message in Hebrew, the text should be seen right to left, unlike English and most languages.
Letters are on the right order, but paragraphs and lists aren't aligned.

**To Reproduce**
Steps to reproduce the behavior:
Make a list or type a message with more than 1 line

**Expected behavior**
Numbers and text should be aligned to the right

**Screenshots**
![Screen

[2022-09-24 07:47] pszypowicz commented on #321
Something like Signal TLS Proxy seems to be server based. Should we have an MSC first before we jump into implementation?

Regarding implementation:
I think most of the people deploy synapse behind a LB, what if we configure additional path where we reuse Signal TLS Proxy.

Client side GIF picker, could as a component, discover with some sort of a health check if that "feature" (Proxy) is availabl

[2022-09-25 22:49] Atom-Dragon opened #654 "Destroy all decryption keys from a room, onec all users leave it."
### Your use case

It would be nice if all decryption keys are deleted from a room when all members leave it.

For example say you're homeserver is matrix.org which is using EMS, if all users were to leave the room the contains in that room would still exist but it would be un-joinable. Since all users are unable to join back it would be good from a privacy and security stand point to delete the k

[2022-09-26 07:29] t3chguy commented on #654
Users can look back at history of rooms they have left, so they'd need to keep keys to decrypt that history

[2022-09-26 07:29] #654 closed, assigned to nobody

[2022-09-26 08:37] daniellekirkwood opened #657 "Sunset old app layout - Notify PS-Internal 3 months early."
Before we sunset the old app layout code we need to give the PS-Internal room 3 months notice so that customers might make nay changes that they need to.

Specifically, @Johennes has requested this for their customers.

[2022-09-26 15:23] kittykat commented on #56
I'm going to close this issue for now, please re-open if it's still useful :+1:

[2022-09-26 15:23] #56 closed, assigned to niquewoodhouse, t3chguy, nadonomy

[2022-09-26 18:59] ghost opened #658 "please delete"

[2022-09-27 13:11] clokep commented on #152
Another meta issue was filed for this, see #195. I'm closing this and opening a separate Synapse one: matrix-org/synapse#13921.

[2022-09-27 13:11] #152 closed, assigned to clokep

[2022-09-27 13:13] clokep commented on #195
See #152 for an earlier incarnation of this issue.

[2022-09-27 13:46] Sporesirius opened #659 "Option to have more a "server" like space"
### Your use case

Hello,

idk if i'm right here.
I hope that the title can display what I mean.

#### What would you like to do?
- A space option where you automatically in all rooms.
- A new room option where we can see the users under the "Rooms" section that are in a call (a bit like discord or teamspeak 3), so you don't "make a call" but just join the room.
- A user list of all members of the

[2022-09-27 13:57] #659 closed, assigned to nobody

[2022-09-27 14:54] daniellekirkwood commented on #615
I see this in Element Nightly (which is awesome) but I think the Notif. panel could use some love @amshakal

[2022-09-27 17:13] Avamander commented on #662
The very least this approach could provide a way to have a little more trust in fellow room members than them being totally unverified(!1! red text color) like right now.

[2022-09-27 21:30] jittygitty commented on #2361
@wtogami Then maybe it's a server issue, many self-hosting (like myself) are using Dendrite ( See: https://github.com/matrix-org/dendrite/issues/2184  https://github.com/matrix-org/dendrite/issues/2471  https://github.com/matrix-org/dendrite/issues/2436   etc etc.. )

I think the various Matrix/Element teams need to really make these decryption issues a priority since it really hurts the "entire"

[2022-09-28 12:19] aylen384 opened #664 "Disable Notifications for X amount of time or make them silent but still visible"
### Your use case

#### What would you like to do?

Similar to messengers like WhatsApp, Threema and Telegram it should be possible to:
* Disable notifications per Channel for X amount of time
* Only show notifications but don't play a sound for X amount of time or forever

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-09-28 12:30] #664 closed, assigned to nobody

[2022-09-28 15:10] daniellekirkwood opened #666 "Matrix.to: Remove jargon from flow"
The user may be overwhelmed and confused by the content when following a matrix.to link.

For example:
<img width="515" alt="Screenshot 2022-09-28 at 15 48 21" src="https://user-images.githubusercontent.com/89144281/192816203-462f692d-0773-4c40-8856-863a7e59c7b7.png">

It has been suggested that we update the copy while we're working on the Matrix.to bugs

[2022-09-28 22:47] yamrzou commented on #1563
Encountering the same issue as @JonathanReifer described. Any idea how to solve this?

[2022-09-29 13:49] Mikaela commented on #1961
[And spec version 1.4 including that MSC was just released.](https://matrix.org/blog/2022/09/29/matrix-v-1-4-release)

[2022-09-29 15:28] andybalaam opened #668 "(Optional) attribution info missing for icons"
The Element clients include icons from https://fonts.google.com/icons .

These are released under Apache 2, details here: https://developers.google.com/fonts/docs/material_icons

That page states:

The Element Web Help & About page does not give attribution.

It would be polite to give attribution.

[2022-09-29 17:28] BurnyBoi commented on #658
Gonna put my vote in to disagree with this. ACLs are a potentially very destructive move for a room, to the point where it could be used for a moderator to take control of a room away from admins if they're on different homeservers (example: moderator ACL bans the homeserver(s) of the admins, advertises a new room where they're admin to the users, and the admins might not notice it in time to stop

[2022-09-29 21:53] Metal-Toilet commented on #426
Any updates? One of the few things keeping me from fully moving from discord.

[2022-09-30 06:45] Polve opened #669 "Serious security problems in encrypted chat rooms"
### Steps to reproduce

A few of the protocol problems are outlined by this researcher in a tweet storm:
https://twitter.com/tqbf/status/1575259743278563329

### Outcome

Related informations are on this arstechnica article: https://arstechnica.com/information-technology/2022/09/matrix-patches-vulnerabilities-that-completely-subvert-e2ee-guarantees/

I open this ticket to understand if there are s

[2022-09-30 06:45] Polve commented on #669
I would like to add the "security" label but it seems like I can't

[2022-09-30 07:31] t3chguy commented on #1961
https://spec.matrix.org/v1.4/client-server-api/#server-behaviour-16

[2022-09-30 08:32] ShadowJonathan commented on #669
I've had to defend matrix over this tweet a few times last night, and what it comes down to is that this security researcher, while having good comments on the surface of matrix and a quick read-through of that paper, has no real idea of what safeguards are in place to prevent some seemingly-easy-to-spot security problems.

For example, in that tweet above, where they mention room participation be

[2022-09-30 11:07] Polve commented on #669
You are right, I didn't think about it. I will, if it still makes sense to do it.

I'm not technical enough to do it: my goal was just to raise the issue in order to have some insight from the matrix part since I didn't find any useful reply on that thread (or maybe I overlooked something).

No need to pardon, the problem is mine: I was unable to read a rebuttal view and I was afraid that the prob

[2022-09-30 11:07] #669 closed, assigned to nobody

[2022-09-30 11:19] ell1e commented on #330
In [https://github.com/vector-im/element-web/issues/14898](https://github.com/vector-im/element-web/issues/14898) I explained why I think using the dialect commonly used in messengers makes more sense, and GFM doesn't seem to implement that either unless I'm mistaken. If that's true, then it seems to me a custom addition, for example using either GFM or CommonMark but with a custom previous pass f

[2022-09-30 12:47] tmissoni opened #670 "Inconsistency between Element Web and Android in showing /me display name"
**Describe the bug**
When  using /me, the display name is shown in different ways in Element Web and Element Android

Element Web only shows the * Display_name
<img width="620" alt="Screenshot 2022-09-30 at 14 26 42" src="https://user-images.githubusercontent.com/63042679/193271852-b9b335b9-f4d8-4885-8315-5bdc78c56418.png">

Element Android shows both the default Display_name and the * Display_nam

[2022-09-30 12:51] daniellekirkwood commented on #670
Related: https://github.com/matrix-org/matrix-react-sdk/pull/8420

[2022-10-03 11:36] MicahZoltu commented on #532
Why is this marked as occasional?  I think it happens *every* time you get into this scenario.

[2022-10-03 16:17] kittykat opened #673 "Queue and retry to-device msgs, so E2EE works in bad networks or with unreliable HS"
Queue the to-device messages. We should make sure that we retry to-device messages. New implementation on web saves them in a queue to persistent storage to be sent when they can be.

These issues must be resolved for this issue to be considered done:

[code]

[2022-10-04 03:54] LuisAPI opened #674 "Default presets for timeline preferences based on preferred UX"
### Your use case

#### What would you like to do?

Point to an option to set Element to have a more Discord-like experience, so friends I invite into the app don't get turned off, seeing it as Messenger/WhatsApp-looking.

#### Why would you like to do it?

I find many of the defaults unnecessary and see them as visual clutter (read receipts, dedicated notes on changing avatars, nicknames, joining

[2022-10-04 11:15] #674 closed, assigned to nobody

[2022-10-04 12:12] dkozel commented on #323
Is it possible on the backend to manually set a room flag that will hide/supress all joins/parts/renames for all people in/viewing a room, and all people who join in the future?

[2022-10-05 00:07] aaronraimist commented on #323
@dkozel Theoretically. You can create an `im.vector.web.settings` state event in the room like the ones  #homeowners:matrix.org and #element-web-announcements:matrix.org have.

Example:
[code]

In my experience that has worked in the past but no longer works in modern versions of Element. It's not clear to me if the feature is broken or if my account settings cause it to not work.

For anyone who

[2022-10-05 10:11] kittykat commented on #676
Moving this issue to discussions in Element meta as we need to make a cross platform decision on how to proceed :+1:

[2022-10-05 10:14] kittykat commented on #678
Moving this issue to discussions in Element meta as we need to make a cross platform decision on how to proceed :+1:

[2022-10-05 10:17] kittykat commented on #680
Moving this issue to discussions in Element meta as we need to make a cross platform decision on how to proceed :+1:

[2022-10-05 10:33] kittykat commented on #82
Unfortunately it didn't make it onto the priority list for this year. I believe this issue needs product team's input before it can be addressed/

Moving to discussions as the topic will need a development issue when it is scheduled.

[2022-10-05 10:39] kittykat commented on #683
Moving this issue to discussions in Element meta as we need to make a cross platform decision on how to proceed :+1:

[2022-10-05 10:51] kittykat commented on #685
Moving to discussions as this is cross-platform :+1:

[2022-10-05 11:06] kittykat commented on #687
Hi, I'm going to move this issue to Element meta discussions as we need to consider it cross-platform :+1:

[2022-10-05 11:06] #687 closed, assigned to nobody

[2022-10-05 11:07] kittykat commented on #689
Hi, I'm going to move this issue to Element meta discussions as we need to consider it cross-platform :+1:

[2022-10-05 11:07] #689 closed, assigned to nobody

[2022-10-05 11:08] kittykat commented on #691
Hi, I'm going to move this issue to Element meta discussions as we need to consider it cross-platform :+1:

[2022-10-05 11:08] #691 closed, assigned to nobody

[2022-10-05 11:29] kittykat commented on #693
Moving to discussions as this is cross-platform :+1:

[2022-10-05 11:30] #693 closed, assigned to nobody

[2022-10-05 12:37] kittykat commented on #695
Moving to discussions as this is cross-platform :+1:

[2022-10-05 12:37] #695 closed, assigned to nobody

[2022-10-05 12:37] kittykat commented on #697
Moving to discussions as this is cross-platform :+1:

[2022-10-05 12:37] #697 closed, assigned to nobody

[2022-10-05 12:39] kittykat commented on #699
Moving to discussions as this is cross-platform :+1:

[2022-10-05 12:40] #699 closed, assigned to nobody

[2022-10-05 12:42] kittykat commented on #701
Moving to discussions as this is cross-platform :+1:

[2022-10-05 12:43] #701 closed, assigned to nobody

[2022-10-05 12:46] t3chguy commented on #323
![image](https://user-images.githubusercontent.com/2403652/194063502-7b6b84be-064e-4487-9de7-36818a9372d8.png)

The preference order for these settings has everything except the default override the `Room`-set value. Meaning that if a user ever turns the setting off/on then that'll take preference over the room state config.

[2022-10-05 12:54] kittykat commented on #703
Moving to discussions as this is cross-platform :+1:

[2022-10-05 12:56] expikr opened #709 "The way spaces and rooms are organized makes no sense;"
### Your use case

#### What would you like to do?

clicking on a community should automatically list all of the rooms. The "Home" rooms list should simply serve as a shortcut folder for frequently accessed rooms, rather than being a strict container for loose rooms (and joining a space should not force-move the loose rooms to the space)

#### Why would you like to do it?

preserves object permane

[2022-10-05 12:59] t3chguy commented on #709
This is already possible if the Space marks its rooms as `Suggested`

[2022-10-05 13:06] expikr commented on #709
Then the pattern should be reversed. Default-show and optional "mark unsuggested". This is a problem with the Matrix protocol itself, then?

[2022-10-05 13:10] expikr commented on #709
_Originally posted by @DanMan in https://github.com/vector-im/element-web/issues/15930#issuecomment-863086706_:

seems that it had been mentioned before but completely missed the point, the problem is with the reversed default being terrible UX, not a problem with private/public functionality.

[2022-10-05 13:13] kittykat commented on #705
Moving to discussions as this is cross-platform :+1:

[2022-10-05 13:14] kittykat commented on #707
Moving to discussions as this is cross-platform :+1:

[2022-10-05 13:15] #707 closed, assigned to nobody

[2022-10-05 13:17] t3chguy commented on #709
Moving to meta as this is a cross-platform concern

[2022-10-05 13:17] #709 closed, assigned to nobody

[2022-10-05 14:58] daniellekirkwood opened #711 "Notifications: Get your updates"
This issue has been updated due to the change in org and shift in priorities. It's still WIP while we figure out details

As part of the Get Your Updates cycle in the Delight team (Q4 FY22) we are left with a few outstanding action items.

More information on the history of Get Your Updates can be found in the [Delight team roadmap](https://docs.google.com/spreadsheets/d/1SAcCgnHoze9Flqx-XXkC0B8iQ

[2022-10-06 09:14] bmarty commented on #532
Probably because user has to enable 'Encrypt to verified devices only'.

[2022-10-07 09:08] daniellekirkwood commented on #668
Thanks, @andybalaam

What would we need to do in order to introduce this?

[2022-10-07 09:29] daniellekirkwood commented on #390
<img width="957" alt="Screenshot 2022-10-07 at 10 25 18" src="https://user-images.githubusercontent.com/89144281/194521715-9492ab47-73b2-49cd-87dd-1033a889c04b.png">

[2022-10-07 10:33] andybalaam commented on #668
We'd need to modify the text of the Element Help & About pages to include a sentence about these icons.

That would require changes in the element-web, element-ios and element-android projects, and it would need someone to write the text. But writing the text could be very easy since it will be almost identical to acknowledgements that we already include.

[2022-10-07 11:57] daniellekirkwood commented on #668
here on web ("credits"):

<img width="1077" alt="Screenshot 2022-10-07 at 12 56 55" src="https://user-images.githubusercontent.com/89144281/194547653-fcaff3ec-585a-4a0c-a76b-b9f074b47233.png">

I can't find the same place on iOS and I dont have android...

[2022-10-07 16:50] clokep commented on #197
I think due to implementation decisions this overlaps extensively with #196.

[2022-10-08 11:25] #658 closed, assigned to nobody

[2022-10-08 13:08] Julian-Dumitrascu opened #717 "Let's organise messages so that we communicate more effectively!"
### Your use case

#### What would you like to do?
1. Thread messages at least as well as in Reddit.
2. Organise messages in conversations at least as well as in Reddit, Discord, or LinkedIn.
3. Compose messages at least as well as in Reddit, LinkedIn, or Medium.
#### Why would you like to do it?
To discuss enough topics.
#### How would you like to achieve it?
Let's talk, so that we agree on it!

[2022-10-08 14:03] HarHarLinks opened #715 "Don't offer rooms without posting permission in the forwarding room list"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/2803622/194711340-7ac6ad81-4991-4be8-9d60-62e0a32c759d.png)
(for illustration only. the actual problem is when a room without permission tops the list even without searching.)

**Describe the solution you'd like**
Hide rooms one can't forward to by default.
Show them last when expl

[2022-10-08 20:30] ell1e opened #1477 "Searching for @user:home.server doesn't show messages of that user"
### Steps to reproduce

Searching for `@user:home.server` doesn't show messages of that user.

1. Click top-right search button while in a room. The search bar should appear with the focus on "This room". Enter an account of someone in that room who wrote something previously in the form of `@user:home.server`. Also try `@user` (which IMHO should match everyone with a handle starting like that ins

[2022-10-08 20:36] ell1e opened #719 "Improve design color scheme by making it adjust more fully"
### Your use case

#### What would you like to do?
Element's design is looking kind of weird and disheveled to me, and I think I found out why: I think the problem is that it uses the personal profile pic (pfp) color in the background and generally over a wider area which is great, but then element also sticks with that green for other highlights. My pfp is predominantly a color that clashes with

[2022-10-10 08:21] andybalaam commented on #668
On Android, under "Legals" we have "Third Party Notices" and "Other third party notices", so this would go under one of those. I'm not sure how we decide which.

[2022-10-10 08:21] mnaturel commented on #716
Hi @HarHarLinks. Thanks for your suggestion. I transferred your issue into the `element-meta` repository as we should try to align the UX on all platforms.

[2022-10-10 09:52] #717 closed, assigned to nobody

[2022-10-10 10:06] t3chguy commented on #1477
`+user:home.server` isn't a user identifier, `@user:home.server` is. `+` is the old sigil for denoting deprecated communities.

[2022-10-10 10:06] #719 closed, assigned to nobody

[2022-10-10 10:34] ell1e commented on #1477
Ah, my bad! I just tried that however, and that also gives zero results for myself in a place where I'm pretty sure I said something. I'd be nice if for a `@user.home.server` with `displayname`, all of the search terms 1. `user`, 2. `@user`, 3. `@user:home.server` and `displayname` if entered without typos or spacing would offer in some way to search for that user's messages.

[2022-10-10 11:05] t3chguy commented on #1477
Search for non-e2ee rooms is performed by the server, you'll likely need to raise your issue there

[2022-10-10 12:17] SethFalco opened #721 "Persist location for call pop-out window"
**Is your feature request related to a problem? Please describe.**
When calling someone on Element, I often move the pop-out window to the top-right of Element so it doesn't block the read receipts.

Unfortunately, whenever I navigate back to the chat (to read a message or screenshot for example) then navigate back to another chat, the pop-out window goes back to the bottom-right.

**Describe the

[2022-10-10 12:44] dkasak commented on #673
Should be noted that https://github.com/matrix-org/matrix-js-sdk/pull/2549 only retries room key (Megolm session) sending; other to-device messages are still not retried. This is tracked in https://github.com/matrix-org/matrix-js-sdk/issues/1866.

[2022-10-10 12:48] kittykat commented on #1476
Moving this issue to discussions in Element meta as we need to make a cross platform decision on how to proceed :+1:

[2022-10-10 15:31] kittykat commented on #725
Moving this issue to discussions in Element meta as we need to make a cross platform decision on how to proceed :+1:

[2022-10-10 17:00] kittykat commented on #729
Moving this issue to discussions in Element meta as we need to make a cross platform decision on how to proceed :+1:

[2022-10-11 00:05] ara4n opened #731 "Private read receipts on mobile"
EW now has private read receipts, letting users disable sending RRs if they want.

But EI and EA don't:

https://github.com/vector-im/element-ios/issues/4646 and https://github.com/vector-im/element-android/issues/2436

[2022-10-11 04:17] SimonBrandner commented on #731
To anyone looking at this, I am very much happy to help implement this though I lack the time and the (Android and iOS) skills to do it myself

[2022-10-11 08:33] ell1e commented on #1477
Okay, so while I forwarded this ticket for the server-side for unencrypted chats, I tried in an E2EE chat and this is what happened there:

`@user`: no results

`@user:home.server`: an **error message** pops up: `Index error: An invalid argument was passed: 'Query is invalid. SyntaxError'`

`displayname`: no results

Expected results would be some superset that includes all messages of the user `@

[2022-10-11 09:56] mnaturel commented on #732
Hi @HarHarLinks, thanks for raising this issue. Not seeing the results until the user votes was done by design. I changed it to en enhancement issue. If you feel there is still a bug with the current implementation, please add more comments.

[2022-10-11 10:01] #732 closed, assigned to nobody

[2022-10-11 16:29] clokep commented on #240
[MSC3874](https://github.com/matrix-org/matrix-spec-proposals/pull/3874) was written to solve this.

[2022-10-11 18:11] ghost opened #734 "please delete"

[2022-10-11 18:11] ghost opened #735 "please delete"

[2022-10-12 13:29] #740 closed, assigned to nobody

[2022-10-12 22:40] MadLittleMods commented on #743
Related to https://github.com/vector-im/element-web/issues/16863, https://github.com/vector-im/element-meta/issues/744

[2022-10-13 02:46] t3chguy commented on #743
Clients & servers apply push rule matching based on the spec

[2022-10-13 10:02] BillCarsonFr opened #745 "Element R Mobile"
- [x] [Element R iOS](https://github.com/vector-im/element-ios/issues/6587)
- [x] [Element R android](https://github.com/vector-im/element-android/issues/3644)
    - [x] https://github.com/vector-im/element-android/pull/7628
    - [x] https://github.com/vector-im/crypto-internal/issues/72

[2022-10-13 10:04] BillCarsonFr opened #746 "Element R web / desktop"
- \[ \] [Adopt the E2EE cryptography module from matrix-rust-sdk](https://github.com/vector-im/element-web/issues/21972)

[2022-10-13 10:15] BillCarsonFr opened #747 "Epic | Deprecate Asymmetric Backup and migrate to Symmetric"
Assymetric backup as it is now creates unsafe keys on import.  We need all clients to default to symmetric backup and migrate assymetric to symmetric.

SDK support for symmetric
- https://github.com/vector-im/element-ios/issues/6215
- https://github.com/vector-im/element-android/pull/6984
- https://github.com/matrix-org/matrix-js-sdk/pull/1775

UX
- \[ \] As a user with an existing backup, I shoul

[2022-10-13 12:26] BillCarsonFr opened #748 "Enable share keys on Invite by default on Mobile"
Currently available on android as a lab flag and iOS as a build flag.

[2022-10-13 12:44] BillCarsonFr opened #749 "I should be able to read encrypted scrollback in rooms, if history visibility allows."
### When invited to a room I should be able to access history if visibility allows
- [ ] https://github.com/vector-im/element-meta/issues/39

### When joining a restricted room, I should be able to access history if visibility allows
- https://github.com/matrix-org/matrix-spec/issues/1
- https://github.com/vector-im/element-meta/issues/750
- https://github.com/vector-im/element-meta/issues/646

[2022-10-13 12:50] BillCarsonFr opened #750 "Manually Request access to history when joining a restricted room that allows it."
Related to this [epic](https://github.com/vector-im/element-meta/issues/749)

Inspired from the knocking join rule, when joining a room a user should be able to request access to history
<img width="612" alt="image" src="https://user-images.githubusercontent.com/9841565/195600027-751f32ba-c3f3-4caa-80d1-f02ce7e9ebc8.png">

Existing members of the room with enough power level should be able to manu

[2022-10-13 12:53] BillCarsonFr commented on #646
Added a proposal to solve this by requesting manually inspired by the knocking join rule
https://github.com/vector-im/element-meta/issues/750

[2022-10-13 16:30] kittykat commented on #753
Moving to a meta discussion as this is cross-platform

[2022-10-13 16:30] #753 closed, assigned to nobody

[2022-10-13 17:00] nemobis commented on #1514
Clearing the cache works also for a similar case of non-removable room: a room in the favorites which gets deleted and purged on the server. You cannot leave the room and trying to unfavorite does nothing.

[2022-10-14 08:41] BillCarsonFr opened #756 "Implement MSC3879: Trusted key forwards"
MSC: https://github.com/matrix-org/matrix-spec-proposals/pull/3879

- \[ \] Js-sdk
- \[ \] iOS sdk
- \[ \] android sdk
- \[ \] https://github.com/matrix-org/matrix-rust-sdk/issues/1108

[2022-10-14 08:51] BillCarsonFr opened #757 "Users should be able to read their existing history rapidly when logging in on a new device."
Large key backups take forever to restore \(or fail entirely\); should restore incrementally instead

### Web
- [ ] https://github.com/vector-im/element-web/issues/19778
- [ ] https://github.com/vector-im/element-web/issues/23359
- [ ] https://github.com/vector-im/element-meta/issues/2176

### Rust
- [x] https://github.com/matrix-org/matrix-rust-sdk/issues/1267

IOS: Similar issue

Android:
Better

[2022-10-14 11:58] BillCarsonFr opened #759 "Rust crypto SDK parity for integration in element R"
https://github.com/matrix-org/matrix-rust-sdk/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Stabilize+the+crypto+crate%22

Notable points:

- https://github.com/matrix-org/matrix-rust-sdk/issues/580
- https://github.com/matrix-org/matrix-rust-sdk/issues/401
- https://github.com/matrix-org/matrix-rust-sdk/issues/40
- https://github.com/matrix-org/matrix-rust-sdk/issues/281

[2022-10-14 11:59] BillCarsonFr opened #760 "Epic | Element R"
Use the crypto rust sdk on all clients, and drop native implementations.

**Goals**
- Improve reliability
- Improve speed
- Improve time to develop new features by having more shared code

[code]

[code]
[code]

[2022-10-14 12:19] BillCarsonFr opened #761 "Epic | No more gray/warning shields"
There are several scenario that will currently creates key warnings on messages. This warning are mostly noise and distract users from potential important warning:

The assymetric backup is a big source of unsafe keys warning
- https://github.com/vector-im/element-meta/issues/747

Allow own trusted session to share the trust flag of keys, thus allowing such forwards to result in trusted keys
- htt

[2022-10-14 12:21] BillCarsonFr commented on #761
https://github.com/matrix-org/internal-config/issues/1308

[2022-10-14 12:48] BillCarsonFr opened #762 "incoming encrypted to-device messages can be lost when the application is restarted"
If you restart /upgrade (web) or the app is killed in background while processing to_devices coming down the sync, the non decrypted to_devices will be dropped and lost producing UISIs.

This is problem with atomicity of `/sync`. The sync token is persisted before all `to_device`s have been processed, so the next time the app launches it will use the saved token, thus ack'ing the previous `to_devi

[2022-10-14 13:55] BillCarsonFr opened #763 "Certified Transcript for pre-join history messages"
Follow-up of https://github.com/vector-im/element-meta/issues/749.

As per [MSC3061](https://github.com/matrix-org/matrix-spec-proposals/pull/3061) , on rooms that support it \(`m.room.history_visibility`\), it is possible for a joined user to access history of the room \(pre-join\).

Currently such messages will be marked with a gray shield warning \(`The authenticity of this encrypted message ca

[2022-10-14 14:02] BillCarsonFr opened #764 "Implement MSC3834 TOFU (user key pinning)"
Implement MSC3834 in ER and EX clients, as a solution to https://github.com/element-hq/element-meta/issues/1557

[code]

[2022-10-14 14:45] BillCarsonFr opened #765 "Verifiable Room Membership"

[2022-10-14 15:42] anoadragon453 commented on #772
![image](https://user-images.githubusercontent.com/1342360/195886897-6fe26c3a-b70c-4882-a9c5-03eceb8053ea.png)

This behaviour has started to show up in the Synapse announcements room.

[2022-10-14 15:51] babolivier commented on #772
It's actually happened a few times now and has been consistently mangled by Element :frowning_face:

![image](https://user-images.githubusercontent.com/5547783/195888755-d81b38b9-40d9-4773-8fe3-99cb8ed15f1e.png)

[2022-10-14 17:57] ninchuka opened #766 "Better error messages for when features are disabled on a users HS"
### Your use case

#### What would you like to do?
have more descriptive errors on why something is not working, such as adding a phone number in element on matrix.org
#### Why would you like to do it?
to reduce the amount of people asking about why something isnt working with a cryptic error message
#### How would you like to achieve it?
have a way for the app to know if something is disabled on

[2022-10-14 18:01] aaronraimist commented on #766
Example: Currently users see

when trying to attached a phone number to a matrix.org account which doesn't really explain the situation https://matrix.to/#/!YTvKGNlinIzlkMTVRl:matrix.org/$AtnUGtmHXWiMuAtK3hvquiP90PPJ87y9qAI-ZEaRQ7U?via=matrix.org&via=privacytools.io&via=mozilla.org

https://github.com/matrix-org/sydent/blob/cc9d46d9c2502c7ea62218eb617e9785282ebf2f/sydent/http/servlets/msisdnservle

[2022-10-14 20:27] brandsimon opened #815 "Possibility to mark room as unread"
### Your use case

#### What would you like to do?

I want to mark a chat (I already read) as unread.

#### Why would you like to do it?

So I remember to answer someone or act on something, which I don't want to do now.

#### How would you like to achieve it?

Room-overview:
I want a button in the menu, when long-pressing on a room.

In a room:
I want a button when opening the three-dot menu

###

[2022-10-15 10:39] whiterock commented on #288
Is anything being done about this still?

[2022-10-17 16:05] daniellekirkwood commented on #534
<removed link, outdated>

[2022-10-17 16:16] fedrunov opened #774 "threads read receipt and unread notifications server capability validation"
We need the code to check if current homeserver supports [MSC_3771](https://github.com/matrix-org/matrix-spec-proposals/pull/3771) and [MSC_3773](https://github.com/matrix-org/matrix-spec-proposals/pull/3773)

[2022-10-17 16:17] fedrunov commented on #774
Wrong repo

[2022-10-17 16:17] #774 closed, assigned to fedrunov

[2022-10-18 03:42] BurnyBoi commented on #373
That would make sense too as long as Element has sensible rules for automatically treating shorter, soundless videos as "GIFs". Then neither the sender nor receiver would have to change anything themselves in most cases

[2022-10-18 17:16] moodler commented on #321
Pardon me for charging into this rabbithole :) but I have a question about this assumption made above "Preventing leaking IP addresses to the provider would be a hard requirement for the feature."

If I'm using a client-side implementation (where the gif file is sent as a file instead of a link), what actually is the perceived problem with giphy knowing my IP address when I search their site for a

[2022-10-18 17:26] turt2live commented on #321
Our typical userbase would be extremely surprised if their IP was sent to Giphy directly, even if we advertised the feature as powered by Giphy.

[2022-10-18 18:11] moodler commented on #321
I doubt that at all.

It's exactly like using the web.  People who REALLY worry about would be using VPNs, I assume.  Or just not sending GIFs.

What exactly do you think Giphy could possibly do with the IP of your phone/tablet/laptop?

[2022-10-18 18:20] turt2live commented on #321
It's not what they *could* do, it's the perceived risk and reputational damage of the project. We're not comfortable with leaking people's IP to Giphy, and our users generally expect us to hold that opinion (rightly so, imo).

[2022-10-18 18:26] jakewb-b commented on #321
People who *really* worry about it might, we hope, be using Element. Our users expect us to provide a level of privacy above that offered by regular use of the web.

[2022-10-18 18:32] NoraCodes commented on #845
Hi! I just received this update and wanted to mention that having no support for favorites or low priority rooms is an enormous issue for me. As someone with ADHD it makes using Element on mobile very difficult for me. I would appreciate it if removing important features was considered a bigger deal in the future!

For context, I run a homeserver for my friends and family, and Matrix via Element i

[2022-10-18 20:32] eonrider commented on #1892
This is really important to me. My use case is playing games with friends where one or more people in the call just want to watch because they don't want to play or they don't own the game. The others who are playing are taking a hit on their processors for no reason. Until this is solved, the experience is inferior to Discord.

[2022-10-19 04:19] moodler commented on #321
If you want to build complex proxy systems around simple GIFs, of course you can, but about "levels of privacy", I will just point out that the makers of the many clients recommended on https://matrix.org/clients/ (and the ones not linked) also have the ability to see and collect client IPs, and in many cases also to scrape and keep your username and password

[2022-10-19 07:37] ShadowJonathan commented on #321
The question of privacy isn't about second parties (clients) gaining access to leak it, it's about the third parties (giphy, in this case).

A user must always implicitly trust a second party for this information, but it's not necessary for a third party to do so, especially for a trivial reason such as this.

But this is _especially_ important when the company currently itching to buy giphy is on

[2022-10-20 07:32] tmissoni opened #1799 "Same reaction added twice and not summed."
### Steps to reproduce

I manually added the same reaction to a message in a room that was added by another user and Element shows two identical rections images and not a summed up number.
If I click on the already existing reaction, the counter goes up.

### Outcome
![Screenshot 2022-10-20 at 09 24 40](https://user-images.githubusercontent.com/63042679/197146367-0d1d7e97-9e88-4984-8cea-23d356703b

[2022-10-20 08:57] BillCarsonFr commented on #224
Consistency now resolved https://github.com/matrix-org/matrix-react-sdk/pull/8916

[2022-10-20 08:57] #224 closed, assigned to Anderas, duxovni, BillCarsonFr, ariskotsomitopoulos

[2022-10-20 08:57] BillCarsonFr opened #781 "Analytics | Create a new dedicated posthog/sentry event that better fit our needs"
The current error event design is a bit flawed.
Grace period is too simple.
It reports UISIs errors for historical messages \(the keys was never distributed to you\)
Decryption has a lifecycle, it's possible to receive the keys after the message. We should reflect that in the metric, it has a start/finish \(time to decrypt\). The decryption can have several endings \(key withheld, from backup, via

[2022-10-20 08:59] t3chguy commented on #1799
This will be one of the clients using the wrong reaction key. Emoji can have modifiers applied to them, and clients are meant to use specific modifiers as a lot of fonts don't discern between them. It is intentional that we do not group modifiers (the server would need to also) due to some looking very different in some fonts.

This has been an issue since reactions have been around.

Please provi

[2022-10-20 10:54] Half-Shot opened #782 "Warn if the registration flow requires a registration token"
### Your use case

Homeserver admins can configure their homeserver to require a registration token upon registration, a shared secret token that only allows some users to register. However, since Element isn't "aware" of this feature yet it doesn't prompt for the token on registration. Rather, it accepts the users registration details but then redirects them to the homeserver to enter the token.

[2022-10-20 10:59] #782 closed, assigned to nobody

[2022-10-20 13:46] BillCarsonFr commented on #223
Will be done in megolm v2

[2022-10-21 08:36] tmissoni commented on #1799
The other client leaving the reaction was a Desktop Mac Version 1.11.8 (1.11.8).
No other clients except these two have been involved.

[2022-10-21 09:01] benparsons commented on #39
Do we think implementation of MSC3061 should include web? https://github.com/vector-im/element-web/issues/22999 is a web UI task for room history key sharing that is currently biting a customer fairly badly. If we could include this task here it would be helpful.

[2022-10-21 15:28] anoadragon453 opened #784 "Provide a visual indicator that the app will be restarted/cache will be cleared for those settings that require it"
### Your use case

#### What would you like to do?

Some labs settings on the various Element clients require either reloading the app for the setting to take effect, or clearing the message cache on the device and redownloading all messages from the server (a potentially heavy investment of time and bandwidth). When enabling/disabling these settings, Element will perform the reload/cache clear au

[2022-10-21 16:14] clokep opened #785 "Room search should also search through topics"
### Your use case

#### What would you like to do?

Find a room without fully remembering the name of it (but remembering something in the topic).

#### How would you like to achieve it?

Using the Element room search UI I want to be able to type in a portion of the topic, e.g. if I type `MSC` it should find `#matrix-spec:matrix.org` which mentions `MSC` in the topic.

### Additional context

Mayb

[2022-10-22 02:01] dimyself commented on #920
why do all these big sites/apps have all this useless crap features that no one hardly cares about...but main vital features aren't available???

I have a conversation with someone and i need to delete like 200 latest msgs, but i cant!

This shouldn't even be a hard feauture to implement! why since 2017 this isn't available??? after 5 years, you can't put multi-message select???? wtf!

Makes me no

[2022-10-22 08:03] BrenBarn commented on #532
It's kind of terrible that you're unable to verify a user in the exact situation where you said you really really want to verify the user. . .

[2022-10-22 12:29] ara4n opened #786 "Voice message typing notifs"
When someone is sending a VM, we should send a special "Foo is recording" typing notif.

[2022-10-22 20:04] rubo77 commented on #920
It is already possible to react the latest 50 messages or so by a spammer. It is hidden in the right sidebar somewhere

[2022-10-24 10:49] daniellekirkwood commented on #784
@janogarcia @SimonBrandner

If we're in Labs making changes to layouts and things (saw in the Element Sync doc). Would there be any chance we could take a few minutes and review this issue too?

Happy to jump on a quick call and talk it thru

[2022-10-24 11:43] janogarcia commented on #784
@daniellekirkwood The scope for the changes discussed in the doc was rather specific/limited. It's not a whole redesign. You can find the details here: https://github.com/matrix-org/matrix-react-sdk/pull/8969

I basically agree with the need of tackling those issues stated by @anoadragon453, but maybe as a separate PR.

[2022-10-24 16:15] Mikaela commented on #43
Room version 9 is currently the default in spec and room version 10 introduced knock_restricted allowing merging knocking with restricted join rules.

There is a proposal to make 10 the new default https://github.com/matrix-org/matrix-spec-proposals/pull/3904

Has there been any movement in Elements to support either? I would like at least the ability to see which rooms can join directly as per wi

[2022-10-25 07:10] davidegirardi opened #787 "Renaming a space does not apply to all the elements of the GUI"
When you rename a space from the app, the old name is still present in some elements of the GUI.

Step to reproduce with the old layout:
- Open the hamburger menu on the left
- Open the vertical dots hamburger menu on the right of a space
- Tap on "Settings"
- Input a new name and tap "Save"
- Tap on the arrow on the top left corner
- The "Pop up" still shows the previous name

New layout:
- Acces

[2022-10-25 08:09] niquewoodhouse commented on #281
I put some pill designs in Figma.  We could use the message type to give a richer experience to timeline readers.

<img width="355" alt="image" src="https://user-images.githubusercontent.com/1587166/197718429-57bcda58-c9b9-441c-b760-7e60516cc334.png">

- Text message [Web](https://www.figma.com/file/t5kbBNwiLLGdK4zkmwo8gG/Pillify-message-links?node-id=1%3A11245); [iOS](https://www.figma.com/file/t

[2022-10-25 12:49] SimonBrandner commented on #786
https://github.com/matrix-org/matrix-spec-proposals/pull/3038

[2022-10-25 14:12] ghost opened #789 "Add GUI for adjusting `power_level_content_override` at room creation time"
### Your use case

#### What would you like to do?

Adding a field on Advanced room settings right below the "Blocking users from accessing the room on other homeservers" toggle.

It should default at power level 100 or 'Admin'.

We should probably also add a list of possible answers like:

- Admin (PL 100)
- Moderator (PL 50)
- Default (PL 0)
- Custom _(we should add a text field so the user can

[2022-10-26 14:02] nuke-web3 opened #790 "Slash command integration for bots"
### Your use case

#### What would you like to do?

Extend/customize the slash commands available So that I can have  custom bots appear in the matching commands list like:
![image](https://user-images.githubusercontent.com/35669742/198045382-024e5b21-b1a8-45ba-9f14-09020e9007df.png)

#### Why would you like to do it?

I want a way to browse custom commands without needing to look them up or guess

[2022-10-26 14:28] #790 closed, assigned to nobody

[2022-10-26 17:33] karlabbott commented on #715
I'm labeling this as Uncommon as I don't think this is a common way to send over room invites.

Further, which dialog is this? Is this on element-web?

Cheers,
Karl

[2022-10-26 17:37] karlabbott commented on #734
Please provide some more information around when and why moderators should be able to mute users. Also, please provide a description of how a moderator should go about muting users from a UI perspective.

Cheers,
Karl

[2022-10-26 17:39] karlabbott commented on #735
This is an interesting concept -- what is the use case for having a moderator be able to promote other users to moderator as opposed to having an admin promote those users to moderator?

Cheers,
Karl

[2022-10-26 17:42] karlabbott commented on #746
Any reason to split this out into two meta-issues?

[2022-10-26 17:44] karlabbott commented on #748
What's the story for this in web as of today?

[2022-10-26 17:46] karlabbott commented on #750
This would be an excellent feature to have in my opinion!

[2022-10-26 18:49] justinbot opened #792 "Integration managers should use the Widget API"
### Your use case

Integration managers currently use the "Scalar Messaging API", a rather old and not particularly well-documented API which enables the integration manager `iframe` to communicate with the client via postmessage to request specific actions like inviting a user or setting a widget.

In many ways, integration managers are very much like widgets -- external pages in an `iframe` whic

[2022-10-27 12:22] karlabbott commented on #611
As this is now 3 years later, is this still actually an issue?

Cheers,
Karl

[2022-10-27 12:25] karlabbott commented on #612
The mentioned room does not exist anymore and given that this issue is now 1.5 years old, I have to ask, is this still a problem?

Cheers,
Karl

[2022-10-27 12:46] karlabbott commented on #623
@kittykat I can see how that would be confusing, but in reality (as you know) you joined the room that you were invited to. Instead of actually implementing spec+server changes, would it make sense from an interface standpoint to either add the room id (which won't change) or a message informing the user that the invite has the room name at a point in time and may be different upon joining?

Karl

[2022-10-27 13:44] HarHarLinks commented on #715
this has nothing to do with invites, this is about forwarding a message and element suggesting to forward into rooms that I can't forward to as I'm not allowed to post there.

this is element desktop's forwarding modal

[2022-10-27 14:09] autoteelar opened #796 "Hide Ignored users on right side of pane"
### Your use case

#### What would you like to do?
when you ignore a user, it hides all their messages and stuff, but you can still see their name on the side, some users may want this or be ok with it, some might not, personally i would have specific use cases

#### Why would you like to do it?
for example if someone has an inappropriate name in a chat and you dont want to look at it on the right

[2022-10-28 05:19] amarnathpv opened #793 "UDP stream out with spoofing"
### Your use case

#### What would you like to do?
Vector is geared to handle front-end data requirements and the volume pressure. One of the features that is desired is the ability to pass controlled UDP data feeds to other consumers (like as network netflow, SNMP traps, etc.).

Spoofing (a technique for hiding the source IP) is also used to give users a sense of the information's origin. Compara

[2022-10-28 08:00] ghost opened #801 "Animated expressions"
### Your use case

#### What would you like to do?

#### Why would you like to do it?

#### How would you like to achieve it?

### Have you considered any alternatives?

![Screenshot_20221028-115918_Telegram](https://user-images.githubusercontent.com/104249296/198535737-f498b632-6c2e-4efc-ada2-c6e421f8fa8a.jpg)

### Additional context

_No response_

### Are you willing to provide a PR?

No

[2022-10-28 14:06] clokep commented on #566
The spec stabilized most of our needs so we should probably switch to using the stable identifiers before release, see matrix-org/synapse#14104.

[2022-10-28 17:14] anoadragon453 commented on #646
Lots of discussion in an internal Element room, which may be useful to extract conclusions from: https://matrix.to/#/!ZCWYLfAKXolsPWObuZ:matrix.org/$0EQlzqgHoTmJzE8qxHhzzop1LihT7-ArlZG4MIdBtAw?via=matrix.org&via=element.io&via=one.ems.host

[2022-10-29 14:10] #735 closed, assigned to nobody

[2022-10-29 17:28] Stvad commented on #795
is anyone aware of a good workaround/bot for this btw? (this is one of the features I really miss from slack)

[2022-10-30 18:32] HarHarLinks commented on #1487
The fact that you need a camera to even get the option to share your screen is pretty annoying and an artificial limit that doesn't make much sense.

[2022-10-31 10:21] germain-gg commented on #547
@gileluard @fedrunov Have we completed this on both platforms?
Trying to figure out whether this is stale and need to be closed or whether we need to schedule some time to look into it

[2022-10-31 10:29] t3chguy commented on #623
Room IDs are not intended to be user-facing

[2022-10-31 10:30] t3chguy commented on #796
Ignore is actually implemented by the server

[2022-10-31 10:31] #796 closed, assigned to nobody

[2022-10-31 10:39] gileluard commented on #547
@gsouquet All metrics described [here](https://github.com/vector-im/element-meta/issues/547#issuecomment-1225318915) are implemented on iOS. If it's enough, you can consider it as done.

[2022-10-31 13:56] kittykat opened #799 "User's display name shouldn't activate my keyword notification when in a reply"
### Steps to reproduce

1. User1 set your name as a keyword
2. User2 set your name as display name
3. User2 posts in a room
4. Someone quote replies to user2

### Outcome

#### What did you expect?
I only get red notifications on message content (quoted and reply messages)

#### What happened instead?
User1 gets a red notification because user2's display name is quoted in a reply
![Screenshot from

[2022-10-31 14:03] kittykat commented on #799
Will be fixed by https://github.com/matrix-org/matrix-spec-proposals/pull/2781, which is currently blocked on https://github.com/matrix-org/matrix-spec-proposals/pull/3644

[2022-10-31 16:24] nh2 opened #1913 "Self-inconsistent message ordering between element-ios and element-web"
### Steps to reproduce

When messages are sent from `element-ios` to another user using `element-web`, messages appear out of order.

The key thing is that even messages _from the same user_ appear out of order, e.g. user U1 sends messages `M1, M2` to user U2, and those messages are shown in order `M2, M1` in U2's UI.

Thus I call it "self-inconsistent" message ordering: This issue is not about a

[2022-10-31 17:22] movahhedi commented on #466
Still waiting for an update on this. It's very annoying

[2022-11-01 09:23] daniellekirkwood commented on #547
@gileluard I'll assign it to myself and link the posthog dashboard and then close this out :)

[2022-11-01 10:52] fedrunov commented on #547
For Android it's also done - https://github.com/vector-im/element-android/issues/6508

[2022-11-01 11:30] ara4n opened #800 "Membership Event List Summaries should ignore date separators."
### Your use case

#### What would you like to do?

It's frustrating to go look at an older conversation and see pages upon pages of history looking like:

<img width="669" alt="Screenshot 2022-11-01 at 12 25 52" src="https://user-images.githubusercontent.com/1294269/199222704-9f1caeca-6394-4926-a263-5fca5b917ea4.png">

Currently the MELS (Membership Event List Summary) code honours date separator

[2022-11-01 12:15] #801 closed, assigned to nobody

[2022-11-02 08:58] weeman1337 commented on #1913
@nh2 can you also create an issue in the [Element ios tracker,](https://github.com/vector-im/element-ios/issues/) so that both sides are aware of it?

[2022-11-02 13:44] ghost opened #810 "Room theme color"
### Your use case

#### What would you like to do?

#### Why would you like to do it?

#### How would you like to achieve it?

### Have you considered any alternatives?

Option to change any Room color.It would be good to change the wallpaper in the room.

### Additional context

_No response_

### Are you willing to provide a PR?

No

[2022-11-02 16:28] ara4n opened #805 "We should have a retry interaction to nudge Element to try to reconnect to the server."
### Your use case

#### What would you like to do?

When EW/EI/EA can't connect to the server, it starts a retry schedule, polling to see when the server is accessible again. On Web, this is something like once every 30s; on iOS & Android it's similar.

As a result, if you as the user know that connectivity is restored (e.g. you've turned on wifi, or tethered to your phone), you need a way to tell

[2022-11-03 10:14] perryflynn opened #808 "Room creation breaks when a invited user doesn't support channel version"
### Steps to reproduce

1. Where are you starting? What can you see?

Some random chat room.

2. What do you click?

- Click "Start chat" button
- Invite people
- Write the first message
- Message cannot be send generic error message
- Click multiple times on retry.

### Outcome

#### What did you expect?

The room creation is successful and I get the message that one person cannot be invited beca

[2022-11-03 12:04] t3chguy commented on #808
This isn't specific to Web, it sounds like a Synapse issue whereby it creates the room even if the invite list isn't possible to follow

[2022-11-03 14:25] InezMc opened #809 "GDPR tooling - User data export"
### Your use case

### What would you like to do?
Enable users to automatically request and download their personal data to fulfill Article 15 of the GDPR, Right of access by a data subject.

### Why would you like to do it?

The GDPR gives data subjects the right to request (Access Art. 15 GDPR) their personal data and for the right to data portability (Art. 20, GDPR)  Currently this process is a

[2022-11-04 07:23] #810 closed, assigned to nobody

[2022-11-04 13:52] doej1367 opened #812 "Add send options 'send without sound' (and 'schedule message')"
### Your use case

#### What would you like to do?
+ Send messages silently
+ Send messages sceduled

#### Why would you like to do it?
If you know your friend is in class or asleap and you don't want annoy them or wake them up with message pings, but still want to get the message to them so they can read it later. It is also usefull for any information in general, that does not require an immedia

[2022-11-04 14:45] #812 closed, assigned to nobody

[2022-11-05 20:27] ara4n opened #814 "Live loc share doesn’t show you your own location"
### Your use case

#### What would you like to do?

When someone is locsharing at you, there is no way to tell where /you/ are on the map.

#### Why would you like to do it?

So you can meet up with people who are locsharing at you.

#### How would you like to achieve it?

Show me on the map, even if i’m not the one locsharing.

### Have you considered any alternatives?

Nope; this just got missed

[2022-11-05 20:37] turt2live commented on #814
Further context: was in a literal field. Would have been nice to see where we are in relation to the person we're meeting up with

[2022-11-06 15:12] immanuelfodor commented on #815
It would be great to mark a room unread by marking a message unread, so any further messages are marked as unread from that point if I mark an older message as unread. Can be useful with rooms of many messages previously unread when opened the room, so to mark from where to follow up later. RocketChat has the same functionality to mark any message a room as unread (and all following messages as we

[2022-11-07 09:12] #815 closed, assigned to nobody

[2022-11-08 17:20] mackiexx opened #817 "It is not a bug, just a question"
### Steps to reproduce

I am asking this in good faith, i am trying to setup my own chat website with element, can i copy and use their privacy policy/terms of use on my website without any issue?

I had no other place to ask.

### Outcome

#### What did you expect?
I am asking to be sure i do not breach the rights given
#### What happened instead?

### Operating system

_No response_

### Browser

[2022-11-08 17:21] #817 closed, assigned to nobody

[2022-11-09 06:05] 42willow commented on #1476
I personally prefer the way element is structured, but permissions that are for all the rooms in a space would be great.

[2022-11-09 10:38] InezMc opened #820 "GDPR tooling: Erasure"
### Your use case

GDPR lists the right to deletion / erasure. We are not adequately allowing for users and customers to enact this right.

There are many places where 'deletion' of user content could be done better. Including federation of redactions.

The Admin API on account deletions https://matrix-org.github.io/synapse/develop/admin_api/user_admin_api.html#deactivate-account

# Steps towards

[2022-11-09 11:10] Thatoo opened #821 "Create Thread from selected message"
### Your use case

#### What would you like to do?
As a moderator, be able to select several messages that have been posted by room members and transform them into a thread.
#### Why would you like to do it?
Often, specific conversation occurs suddenly in the middle of the flow of a room and conversation mix together and it is difficult for member who are coming back reading it to understand mixed

[2022-11-09 11:16] amilah-a commented on #820
[Synapse/sydent: when accounts are deleted, remove all the 3pid bindings from the identity servers #162 ](https://github.com/vector-im/riot-meta/issues/162) Check for completion.

[2022-11-09 11:20] amilah-a commented on #820
https://github.com/vector-im/riot-meta/issues/163 Check for completion.

[2022-11-09 11:32] amilah-a commented on #820
https://github.com/vector-im/riot-meta/issues/164 Check for completion. What happens when someone clicks on the deactivate button. What data is actually erased and what lingers?